@*@model Inventory.Models.UserMaster*@
@model Tuple<Inventory.Models.UserMaster, Inventory.Models.UserAddress, Inventory.Models.OwnerCompanyAddress, Inventory.Models.OwnerStaff>

@{
            ViewBag.Title = "User Home";
            Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="container" id="profilediv">
        @foreach (var item in ViewBag.profile)
        {
            <form method="post" enctype="multipart/form-data" id="userprofile">
                <div class="row info-title" http-equiv="refresh" content="0">
                    @*<meta http-equiv="refresh" content="5">*@
                    <text id="fname">@item.First_Name</text> <text id="lname">@item.Last_Name</text>
                    <button type="button" class="btn btn-success btn-xs pull-right">Profile</button>
                </div>

                <div class="row customer-information">
                    <!--------- Tab Section START ------------>
                    <div class="col-md-12">
                        <div class="cd-tabs">
                            <nav>
                                <ul class="cd-tabs-navigation" id="tabsection">
                                    <li><a data-content="essentials" class="selected" href="#0">Essentials</a></li>
                                    <li><a data-content="caddress" href="#0">Company Address</a></li>
                                    <li><a data-content="account" href="#0">Account</a></li>
                                    <li><a data-content="address" href="#0">My Details</a></li>
                                    <li><a data-content="details" href="#0">My Users</a></li>
                                    @*<li><a data-content="profile" href="#0">My Profile</a></li>*@
                                    <li><a data-content="notes" href="#0">Notes</a></li>
                                    <li><a data-content="social" href="#0">Social</a></li>
                                    <li><a data-content="localization" href="#0">Localization</a></li>
                                </ul>
                                <!-- cd-tabs-navigation -->
                            </nav>
                            <ul class="cd-tabs-content">
                                @*@Html.HiddenFor(Model => Model.Item1.EmailId, new { Value = item.EmailId })
                                    @Html.HiddenFor(Model => Model.Item1.CompanyName, new { Value = item.CompanyName })*@
                                <li data-content="essentials" class="selected">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    @*<input type="email" class="form-control" placeholder="E-Mail">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.CompanyName, new { placeholder = "Company Name", @class = "form-control", Value = item.CompanyName, disabled = "disabled", required = "required" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @*<input type="text" class="form-control" placeholder="First Name">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.First_Name, new { placeholder = "First Name", @class = "form-control", Value = item.First_Name, required = "required" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @*<input type="text" class="form-control" placeholder="Last Name">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.Last_Name, new { placeholder = "Last Name", @class = "form-control", Value = item.Last_Name, required = "required" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    @*<input type="text" class="form-control" placeholder="Company Name">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.EmailId, new { placeholder = "E-Mail ID", @class = "form-control", Value = item.EmailId, disabled = "disabled", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-md-push-3">

                                            @if (item.company_logo != null)
                                            {
                                                <input type="file" name="file" id="fileupload" accept=".gif, .jpeg, .png" onchange="upload()" style="display:none">
                                                <img id="companypic" onclick="javascript: document.getElementById('fileupload').click();" src="data:image;base64,@item.company_logo" style="border-radius: 50%;width: 150px;height: 150px;" />
                                            }
                                            else
                                            {
                                                <div class="top-button">
                                                    <input type="file" name="file" id="fileupload" accept="image/gif, image/jpeg, image/png" onchange="upload()">
                                                    <span onclick="javascript: document.getElementById('fileupload').click();" id="userprofilepic">@item.CompanyName.Substring(0, 1)</span>
                                                </div>
                                            }

                                            <div>Upload Company Logo</div>
                                        </div>
                                    </div>
                                    @*<textarea cols="80" rows="10"></textarea>*@
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btnEssentials" value="Essentials" onclick="updatevales(this.value)">Update Essentials</button>
                                        </div>
                                    </div>
                                </li>
                                <li data-content="caddress">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @*<input type="text" class="form-control" placeholder="Line 1">*@
                                                    @Html.TextBoxFor(Model => Model.Item3.Line1, new { placeholder = "Company Address Line1", @class = "form-control", Value = item.CLine1, required = "required" })
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @*<input type="text" class="form-control" placeholder="State/Country">*@
                                                    @Html.TextBoxFor(Model => Model.Item3.state, new { placeholder = "Company State", @class = "form-control", Value = item.Cstate, required = "required" })
                                                    @*@Html.DropDownListFor(Model => Model.Timezone, new SelectList(ViewBag.country), "Select country", new { @class = "form-control" })*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.TextBoxFor(Model => Model.Item3.Line2, new { placeholder = "Company Address Line2", @class = "form-control", Value = item.CLine2, required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Line 2">*@
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.TextBoxFor(Model => Model.Item3.postalcode, new { placeholder = "Company Postal Code", @class = "form-control", Value = item.Cpostalcode, required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Zip/Postal Code">*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.TextBoxFor(Model => Model.Item3.city, new { placeholder = "Company City", @class = "form-control", Value = item.Ccity, required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="City">*@
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.DropDownListFor(Model => Model.Item3.country, (SelectList)ViewBag.companycountry, "Select country", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btncompanyaddress" value="companyaddress" onclick="updatevales(this.value)">Update Company Address</button>
                                        </div>
                                    </div>
                                </li>
                                <li data-content="account">
                                    <div class="row">
                                        @*@Html.HiddenFor(Model => Model.Item1.Password, new { Value = item.Password })*@
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    @*<input type="email" class="form-control" placeholder="E-mail">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.EmailId, new { placeholder = "E-Mail ID", @class = "form-control", Value = item.EmailId, disabled = "disabled", required = "required" })
                                                </div>
                                            </div>
                                            <div class="row toggle-button" style="height:auto;">
                                                <div class="col-md-2 font-password"> Change Password </div>
                                                <div class="col-md-10">
                                                    <label class="switch">
                                                        <input type="checkbox" id="checkbox1">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>
                                                <div class="form-group col-md-4 toggle-box" style="margin-top: 20px;">
                                                    @*<input type="password" class="form-control" placeholder="Password">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.Password, new { placeholder = "Password", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group col-md-4 toggle-box" style="margin-top: 20px;">
                                                    @*<input type="password" class="form-control" placeholder="Confirm Password">*@
                                                    @Html.TextBoxFor(Model => Model.Item1.Password, new { placeholder = "Confirm Password", @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="row"> </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btnAccount" value="Account" onclick="updatevales(this.value)">Update Account</button>
                                        </div>
                                    </div>
                                </li>
                                <li data-content="details">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                @Html.HiddenFor(Model => Model.Item4.Staff_Id)
                                                <div class="form-group col-md-6">
                                                    @*<input type="text" class="form-control" placeholder="Line 1">*@
                                                    @Html.TextBoxFor(Model => Model.Item4.First_Name, new { placeholder = "First Name", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @*<input type="text" class="form-control" placeholder="State/Country">*@
                                                    @Html.TextBoxFor(Model => Model.Item4.Last_Name, new { placeholder = "Last Name", @class = "form-control", required = "required" })
                                                    @*@Html.DropDownListFor(Model => Model.Timezone, new SelectList(ViewBag.country), "Select country", new { @class = "form-control" })*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @Html.TextBoxFor(Model => Model.Item4.Mobile_No, new { placeholder = "Mobile Number", @class = "form-control", required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Line 2">*@
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.TextBoxFor(Model => Model.Item4.Email, new { placeholder = "Email ID", @class = "form-control", required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Zip/Postal Code">*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @Html.TextBoxFor(Model => Model.Item4.Job_position, new { placeholder = "Job Position", @class = "form-control selected-position", required = "required" })
                                                    <div class="display-positions" id="jobpositions">
                                                        <div class="positions1 position"><i class="fa fa-plus-circle" aria-hidden="true"></i>Job Position</div>
                                                        @if (ViewBag.jobpositions.Count != 0)
                                                        {
                                                            foreach (var position in ViewBag.jobpositions)
                                                            { <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true" onclick="JobPosition(@position.Position_ID)"></i>@position.Job_Position</div> }
                                                        }
                                                        @*<div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Two</div>
                                                        <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Three</div>*@
                                                    </div>
                                                    <div class="row add-position">
                                                        <div class="row">
                                                            <input type="text" id="newposition" class="form-control" placeholder="Enter Position">
                                                            <button type="button" class="btn btn-primary btn-sm add-button" onclick="JobPosition(this.value)" value="addposition"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                            <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                                        </div>
                                                        <div class="row positions"></div>
                                                    </div>
                                                </div>
                                                @*<div class="form-group col-md-6">
                                                        @Html.TextBoxFor(Model => Model.Item4.Job_position, new { placeholder = "Job Position", @class = "form-control", required = "required" })
                                                        @*<input type="text" class="form-control" placeholder="City">
                                                    </div>*@
                                                <div class="form-group col-md-6">
                                                    <div class="col-md-6 font-password"> Allow permissions </div>
                                                    <div class="col-md-6">
                                                        <label class="switch pull-right">
                                                            <input type="checkbox" id="allowaccess">
                                                            <div class="slider round"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="permissionsarea" style="visibility:hidden">
                                                <div class="form-group col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 font-password"> Can Create Vendor </div>
                                                        <div class="col-md-4">
                                                            <label class="switch pull-right">
                                                                @*<input id="Item4.Vendor_Access" name="Item4.Vendor_Access" type="checkbox" />*@
                                                                <input type="checkbox" id="Vendor_Access">
                                                                <div class="slider round"></div>
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 font-password"> Can Create Customer </div>
                                                        <div class="col-md-4">
                                                            <label class="switch pull-right">
                                                                @*<input id="Item4.Customer_Access" name="Item4.Customer_Access" type="checkbox" />*@
                                                                <input type="checkbox" id="Customer_Access">
                                                                <div class="slider round"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div id="permissionsarea" style="visibility:hidden">
                                                <div class="form-group col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-4 font-password"> Can Create Vendor </div>
                                                        <div class="col-md-4">
                                                            <label class="switch pull-right">
                                                                <input id="Item4.Vendor_Access" name="Item4.Vendor_Access" type="checkbox"/>

                                                                <div class="slider round"></div>
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-4 font-password"> Can Create Customer </div>
                                                        <div class="col-md-4">
                                                            <label class="switch pull-right">
                                                                <input id="Item4.Vendor_Access" name="Item4.Vendor_Access" type="checkbox" />

                                                                <div class="slider round"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                        @*<div id="userpicarea">
                                                <div class="form-group col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-4 font-password"> Can Create Vendor </div>
                                                        <div class="col-md-4">
                                                            <label class="switch pull-right">
                                                                <input id="Item4.Vendor_Access" name="Item4.Vendor_Access" type="checkbox" />

                                                                <div class="slider round"></div>
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>*@

                                        <div class="col-md-3 col-md-push-3">
                                            <input type="file" name="file" id="fileupload2" accept=".gif, .jpeg, .png" onchange="upload2()" style="display:none">
                                            <img id="staffprofilepic" onclick="javascript: document.getElementById('fileupload2').click();" src="~/images/user.png" style="border-radius: 50%;width: 100px;height: 100px;" />
                                            <div>Upload New Pic</div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                        <button type="button" class="btn btn-success pull-right" id="btnaddstaff" value="addstaff" onclick="updatevales(this.value)">Add User</button>
                                        <button type="button" class="btn btn-success pull-right" id="btnupdatestaff" value="updatestaff" onclick="updatevales(this.value)" style="display:none">Update User</button>
                                    </div>
                                    <div class="row top-bar">
                                        <div class="col-md-12">
                                            <h1 class="pull-left">Available Staff</h1>
                                            @*<button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Vendor </button>*@
                                            <div class="icons pull-right">
                                                <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
                                                <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
                                                <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                                                <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
                                            </div>
                                        </div>
                                    </div>

                                    @{ Html.RenderAction("GetStaffRecords", "UserProfile");}


                                    <hr />
                                    @*<div class="row">
                                            <div class="col-md-12">
                                                <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                                <button type="button" class="btn btn-success pull-right" id="btnupdate" value="update" onclick="updatevales(this.value)">Add Users</button>
                                            </div>
                                        </div>*@
                                </li>
                                <li data-content="address">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @*<input type="text" class="form-control" placeholder="Line 1">*@
                                                    @Html.TextBoxFor(Model => Model.Item2.Line1, new { placeholder = "Address Line1", @class = "form-control", Value = item.ULine1, required = "required" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @*<input type="text" class="form-control" placeholder="State/Country">*@
                                                    @Html.TextBoxFor(Model => Model.Item2.state, new { placeholder = "State", @class = "form-control", Value = item.Ustate, required = "required" })
                                                    @*@Html.DropDownListFor(Model => Model.Timezone, new SelectList(ViewBag.country), "Select country", new { @class = "form-control" })*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @Html.TextBoxFor(Model => Model.Item2.Line2, new { placeholder = "Address Line2", @class = "form-control", Value = item.ULine2, required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Line 2">*@
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.TextBoxFor(Model => Model.Item2.postalcode, new { placeholder = "Postal Code", @class = "form-control", Value = item.Upostalcode, required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Zip/Postal Code">*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @Html.TextBoxFor(Model => Model.Item2.city, new { placeholder = "City", @class = "form-control", Value = item.Ucity, required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="City">*@
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.DropDownListFor(Model => Model.Item2.country, (SelectList)ViewBag.usercountry, "Select country", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-md-push-3">

                                            @if (item.Profile_Picture != null)
                                            {
                                                <input type="file" name="file" id="fileupload1" accept=".gif, .jpeg, .png" onchange="upload1()" style="display:none">
                                                <img id="profilepic" onclick="javascript: document.getElementById('fileupload1').click();" src="data:image;base64,@item.Profile_Picture" style="border-radius: 50%;width: 150px;height: 150px;" />
                                            }
                                            else
                                            {
                                                <div class="top-button">
                                                    <input type="file" name="file" id="fileupload1" accept="image/gif, image/jpeg, image/png" onchange="upload1()">
                                                    <span onclick="javascript: document.getElementById('fileupload1').click();" id="userprofilepic">@item.First_Name.Substring(0, 1)</span>
                                                </div>
                                            }

                                            <div>Upload New Pic</div>
                                        </div>


                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btnuseraddress" value="useraddress" onclick="updatevales(this.value)">Update Address</button>
                                        </div>
                                    </div>
                                </li>

                                <li data-content="profile">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @*<div class="row">
                                                    <div class="form-group col-md-12">
                                                        <textarea class="form-control" rows="10" id="comment" placeholder="Public Profile(Visible to all users)"></textarea>
                                                    </div>
                                                </div>*@
                                            @*<div class="top-button">
                                                    <input type="file" name="file" id="fileupload" accept="image/gif, image/jpeg, image/png" onchange="upload()">
                                                    <span onclick="javascript: document.getElementById('fileupload').click();" id="userprofilepic">@item.CompanyName.Substring(0, 1)</span>
                                                </div>*@

                                            @*@if (item.Profile_Picture != null)
                                                {
                                                    <input type="file" name="file" id="fileupload1" accept=".gif, .jpeg, .png" onchange="upload1()" style="display:none">
                                                    <img id="profilepic" onclick="javascript: document.getElementById('fileupload1').click();" src="data:image;base64,@item.Profile_Picture" style="border-radius: 50%;width: 150px;height: 150px;" />
                                                }
                                                else
                                                {
                                                    <div class="top-button">
                                                        <input type="file" name="file" id="fileupload1" accept="image/gif, image/jpeg, image/png" onchange="upload1()">
                                                        <span onclick="javascript: document.getElementById('fileupload1').click();" id="userprofilepic">@item.First_Name.Substring(0, 1)</span>
                                                    </div>
                                                }*@


                                        </div>
                                        @*<div class="col-md-6">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <textarea class="form-control" rows="10" id="comment" placeholder="Preview(Mark Down)"></textarea>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                    <hr />
                                    @*<div class="row">
                                            <div class="col-md-12">
                                                <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                                <button type="button" class="btn btn-success pull-right">Update Profile</button>
                                            </div>
                                        </div>*@
                                </li>
                                <li data-content="notes">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <textarea class="form-control" rows="5" id="comment" placeholder="Add Notes"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <textarea class="form-control" rows="10" id="comment" placeholder="Preview(Mark Down)"></textarea>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btnNote" value="Note" onclick="updatevales(this.value)">Update Notes</button>
                                        </div>
                                    </div>
                                </li>
                                <li data-content="social">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <input type="text" class="form-control" placeholder="Twitter">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <input type="text" class="form-control" placeholder="Linkdin">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <input type="text" class="form-control" placeholder="Google+">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <input type="text" class="form-control" placeholder="Facebook">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <input type="text" class="form-control" placeholder="Website">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <select class="form-control" id="sel1">
                                                        <option>Choose Service</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <input type="text" class="form-control" placeholder="Messanger Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btnSocial" value="Social" onclick="updatevales(this.value)">Update Social</button>
                                        </div>
                                    </div>
                                </li>
                                <li data-content="localization">
                                    <div class="row">
                                        <div class="col-md-8">
                                            @*<div class="row">
                                                    <div class="form-group col-md-8">
                                                        <select class="form-control" id="sel1">
                                                            <option>Language</option>
                                                            <option>English</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                            <div class="row">
                                                @*@Html.HiddenFor(Model => Model.Item1.Date_Format, new { Value = item.Date_Format })*@
                                                <div class="form-group col-md-4">
                                                    @*<select class="form-control" id="sel1">
                                                            <option>Date Format</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>*@

                                                    @Html.DropDownListFor(Model => Model.Item1.Date_Format, new SelectList(new List<Object> { new { Text = "Select Date Format", Value = "" }, new { Text = "DD/MM/YYYY", Value = "DD/MM/YYYY" }, new { Text = "MM/DD/YYYY", Value = "MM/DD/YYYY" }, new { Text = "YYYY/MM/DD", Value = "YYYY/MM/DD" } }, "value", "text", item.Date_Format), new { @class = "form-control" }) @*, @style = "width: 50%;"*@
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.DropDownListFor(Model => Model.Item1.Currency, new SelectList(new List<Object> { new { Text = "Select Currency", Value = "" }, new { Text = "Dollar($)", Value = "Dollar" }, new { Text = "Rupee(₹)", Value = "Rupee" } }, "value", "text", item.Currency), new { @class = "form-control" })

                                                    @*@Html.DropDownListFor(Model => Model.Item1.Date_Format, new List<SelectListItem>
                                                        {
                                                            new SelectListItem { Text = "DD/MM/YYYY", Value = "DD/MM/YYYY"},
                                                            new SelectListItem { Text = "MM/DD/YYYY", Value = "MM/DD/YYYY"},
                                                            new SelectListItem {Text  = "YYYY/MM/DD",Value="YYYY/MM/DD"}
                                                        }, "Select Date Format", new { @class = "form-control", Value = item.Date_Format })*@
                                                </div>
                                            </div>
                                            @*<div class="row">
                                                    <div class="form-group col-md-8">
                                                        <select class="form-control" id="sel1">
                                                            <option>Time Format</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                            <div class="row">
                                                @*@Html.HiddenFor(Model => Model.Item1.Timezone, new { Value = item.Timezone })*@
                                                <div class="form-group col-md-8">
                                                    @*<select class="form-control" id="sel1">
                                                            <option>Time Zone</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                        </select>*@
                                                    @*@Html.DropDownListFor(Model => Model.Item1.Timezone, new SelectList(ViewBag.timeZoneInfos), "Select Time Zone", new { @class = "form-control", @Value = item.Timezone })*@
                                                    @Html.DropDownListFor(Model => Model.Item1.Timezone, (SelectList)ViewBag.timeZoneInfos, "Select Time Zone", new { @class = "form-control", @Value = item.Timezone })
                                                </div>
                                            </div>
                                            <div class="row">
                                                @*@Html.HiddenFor(Model => Model.Item1.Currency, new { Value = item.Currency })*@
                                                <div class="form-group col-md-8">
                                                    @*@Html.DropDownListFor(Model => Model.Item1.Currency, new SelectList(new List<Object> { new { Text = "Select Currency", Value = "" }, new { Text = "Dollar($)", Value = "Dollar" },new { Text = "Rupee(₹)", Value = "Rupee" } }, "value", "text",item.Currency),new { @class = "form-control" })*@
                                                    @*<select class="form-control" id="sel1">
                                                            <option>Currency</option>
                                                            <option>Dollar($)</option>
                                                            <option>Rupee(Rs.)</option>
                                                        </select>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="UserHome?email=@item.EmailId&site=@item.User_Site&usertype=@item.UserTypeId" class="btn btn-default pull-right">Cancel</a>
                                            <button type="button" class="btn btn-success pull-right" id="btnLocalization" value="Localization" onclick="updatevales(this.value)">Update Localization</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- cd-tabs-content -->
                        </div>
                        <!-- cd-tabs -->

                    </div>

                    <!--------- Tab Section END ------------>
                </div>
            </form>
                                        }

    </div>
</div>
<!-- /page content -->
@section scripts{
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/UserProfile.js"></script>
}

