@if (ViewBag.records != null)
{
    <div class="row" id="partialdiv">

    <div class="col-xs-12 col-sm-12 col-md-12 table-hover">

        <table class="table" id="contacttable">
            <thead class="thead-inverse">
                <tr>
                    @*<th><i class="glyphicon glyphicon-picture" aria-hidden="true"></i></th>*@
                    <th>User Pic</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile No</th>
                    <th>E-Mail ID</th>
                    <th>Job position</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    @if (ViewBag.records.Count != 0)
                    {
                        foreach (var item in ViewBag.records)
                        {
                        <tr>
                            <td> @if (item.UserPic != "" && item.UserPic != null && item.UserPic != "/images/user.png")
                            { <img src="data:image;base64,@item.UserPic" style="width:29px;height:29px;border-radius:50%;margin-left:10px;" /> }
                            else
                            { <img src="~/images/user.png" style="width:29px;height:29px;border-radius:50%;margin-left:10px;"/> }
                            </td>
                            <td>@item.First_Name</td>
                            <td>@item.Last_Name</td>
                            <td>@item.Mobile_No</td>
                            <td>@item.Email</td>
                            <td>@item.Job_position</td>
                            
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                    <ul class="dropdown-menu">
                                        <li> <a onclick="AssignStaff(@item.Staff_Id.TrimEnd(),'particular')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a> </li>
                                        <li> <a onclick="invitestaff(@item.Staff_Id.TrimEnd())"><i class="fa fa-envelope" onclick="invitestaff(@item.Staff_Id.TrimEnd())" aria-hidden="true"></i>Invite</a> </li>
                                        @if (item.Status_ID == 1)
                                        {
                                        <li> <a onclick="AssignStaff(@item.Staff_Id.TrimEnd(),'InActive')"><i class="fa fa-toggle-off" aria-hidden="true"></i>In Active</a> </li> //href="/UserProfile/changestatus?staff_id=@item.Staff_Id&&status=InActive"
                                        }
                                        @if (item.Status_ID == 0)
                                        {
                                            <li> <a onclick="AssignStaff(@item.Staff_Id.TrimEnd(),'Active')"><i class="fa fa-toggle-on" aria-hidden="true"></i>Active</a> </li> //href="/UserProfile/changestatus?staff_id=@item.Staff_Id&&status=Active"
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6"><p>No Staff Records To Display</p></td>  @*@ViewBag.customerstaffcount*@
                        </tr>
                    }

               </tbody>
            </table>

                    </div>

        <div class="row" id="vendortable1">
@foreach (var item in ViewBag.records)
{ 
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>@item.Job_position</i></h4>
                        <div class="left col-xs-7">
                            <h2>@item.First_Name @item.Last_Name</h2>
                            <p><strong>Email: </strong> @item.Email </p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i><span> Address:</span> Nizampet </li>
                                <li><i class="fa fa-phone"></i><span> Phone #:</span>@item.Mobile_No </li>
                            </ul>
                        </div>
                        <div class="right col-xs-5 text-center"> 
                            @if (item.UserPic != "" && item.UserPic != null && item.UserPic != "/images/user.png")
                            { <img src="data:image;base64,@item.UserPic" class="img-circle img-responsive" /> }
                            else
                            { <img src="~/images/user.png" class="img-circle img-responsive"/> }
                            @*<img src="images/user.png" alt="" class="img-circle img-responsive">*@ 
                        </div>
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings"> <a>4.0</a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star-o"></span></a> </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user"> </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs"> <i class="fa fa-user"> </i> View Profile </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
                </div>
}
