@if (ViewBag.records != null)
{
    <div class="row" id="partialdiv">

    <div class="col-md-12 table-responsive table-hover">

        <table class="table" id="contacttable">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile No</th>
                    <th>E-Mail ID</th>
                    <th>Job position</th>
                    <th>Action</th>
                </tr>
            </thead>
                <tbody>
                    
                    @foreach (var item in ViewBag.records)
                {
                        <tr>
                            <td> @if (item.UserPic != "" && item.UserPic != null && item.UserPic != "/images/user.png")
                            { <img src="data:image;base64,@item.UserPic" style="width:29px;height:29px;border-radius:50%;margin-left:10px;" /> }
                            else
                            { <img src="~/images/user.png" style="width:29px;height:29px;border-radius:50%;margin-left:10px;"/> }
                            </td>
                            <td>@item.First_Name</td>
                            <td>@item.Last_Name</td>
                            <td>@item.Mobile_No</td>
                            <td>@item.Email</td>
                            <td>@item.Job_position</td>
                            
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                    <ul class="dropdown-menu">
                                        <li> <a onclick="AssignStaff(@item.Staff_Id.TrimEnd())"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a> </li>
                                        <li> <a><i class="fa fa-envelope" aria-hidden="true"></i>Invite</a> </li>
                                        <li> <a><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a> </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

               </tbody>
            </table>

                    </div>
                </div>
}
