

@if (ViewBag.records != null)
{
<div class="col-xs-12" id="cartrecords">
    
    <div class="added-products" style="padding:0px 0px 10px">
        @foreach (var item in ViewBag.records)
        {
           
            <div class="well">
                <i class="fa fa-times remove" aria-hidden="true" onclick="removecart(@item.cart_id)"></i>
                <div class="image">

                    <img src="/images/default_product.png">
                </div>
                <div class="img-title">
                    <span class="product-brand">@item.product_name</span>
                    <a href="#" class="product-name" title="@item.product_name">@item.product_name</a>
                </div>
                <div class="product-variation">
                    <select class="form-control">
                        <option>@item.Measurement</option>
                    </select>
                </div>
                <div class="empty"><p>@item.Measurement</p><p></p></div>
                <div class="rate-add">
                  
                    <div class="product-price-total">
                        ₹ <span id="price1">@item.total_price</span>
                    </div>
                    <div class="shipping">
                        <i class="fa fa-truck fa-lg" aria-hidden="true"></i>
                        Standard Delivery
                    </div>
                    <div class="row">
                        <div class="col-xs-6 qty">
                            <div class="input-group spinner">
                                <label>Qty</label>
                                <input type="text" class="form-control" value="@item.Quantity">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 add-to-cart">
                            <button class="btn btn-primary" type="button">Add <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    </div>
    
}

@*<script>

  $(document).ready(function(e) {
      var tableprice, divprice, tabletotal, divtotal;
      $('.spinner .btn:first-of-type').click(function(){
          var plus, v;
          v = parseInt($(this).parent("div").prev("input[type='text']").val());

          if(v > 0){
              plus = v + 1;
              $(this).parent("div").prev("input[type='text']").val(plus);
              tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());
              divprice = parseInt($(this).parents(".rate-add").children(".product-price").children("span").text());

              tabletotal = plus * tableprice;
              divtotal = plus * divprice;
              $(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
              $(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
              $(this).parents(".rate-add").children(".product-price-total").children("span").remove();
              $(this).parents(".rate-add").children(".product-price-total").append("<span>" + divtotal + "</span>");
          }
          return vals();
      });
      $('.spinner .btn:last-of-type').click(function(){
          var minus, v;
          v = parseInt($(this).parent("div").prev("input[type='text']").val());

          if(v > 1){
              minus = v - 1;
              $(this).parent("div").prev("input[type='text']").val(minus);
              tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());;
              divprice = parseInt($(this).parents(".rate-add").children(".product-price").children("span").text());
              tabletotal = minus * tableprice;
              divtotal = minus * divprice;$(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
              $(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
              $(this).parents(".rate-add").children(".product-price-total").children("span").remove();
              $(this).parents(".rate-add").children(".product-price-total").append("<span>" + divtotal + "</span>");
          }
          return vals();
      });

      $("select").on('change',function(){
          var v = $(this).children("option:selected").text().split("₹")[1];
          $(this).parents(".product-variation").nextAll(".rate-add").children(".product-price").empty().append("₹"+"<span>" + v + "</span>");
          $(this).parents(".product-variation").nextAll(".rate-add").children(".product-price-total").empty().append("₹"+"<span>" + v + "</span>");
          $(this).parents(".product-variation").nextAll(".product-price").empty().append("Rs "+"<span>" + v + "</span>");
          $(this).parents(".product-variation").nextAll(".product-price-total").empty().append("Rs "+"<span>" + v + "</span>");

      });
  });

var url = 'Products/Addtocartpartial';
$('#cartrecords').load(url);
    //<!------------ Quantity changes / Prices Multiple -------------->

    function vals() {
        var total, totalquantity = 0, productprice, carttotal = 0;
        $(".added-products .spinner input[type='text']").each(function () {
            total = parseInt($(this).val());
            totalquantity = total + totalquantity;
        });
        $(".added-products .product-price-total span").each(function () {
            productprice = parseInt($(this).text());
            carttotal = productprice + carttotal;
        });
        $(".cart-total span").remove();
        $(".cart-total").append("<span>" + carttotal + "</span>");
        $(".cart-icn span").remove();
        $(".cart-icn").append("<span>" + totalquantity + "</span>");
    }

    $(".add-to-cart-table > .btn, .add-to-cart > .btn").click(function () {
        return vals();

    });

    $(".remove").click(function () {
        $(this).parents("div.well,tr").remove();
        return vals();

    });

    //  //<!---------- Scroll Anima Right-Side-Bar ------------>

    $(window).scroll(function () {
        var scrollTop = $(window).scrollTop();
        if (scrollTop <= 250) {
            $(".checkout").css("top", "250px");
        } else if (scrollTop > 250) {
            $(".checkout").css("top", "50px");
        }
    });

    //  //<!---------- Scroll Anima Right-Side-Bar ------------>
    //<!---------- Scroll Anima Right-Side-Bar ------------>

    $(window).scroll(function () {
        var scrollTop = $(window).scrollTop();
        if (scrollTop <= 250) {
            $(".checkout").css("top", "250px");
        } else if (scrollTop > 250) {
            $(".checkout").css("top", "50px");
        }
    });

    if (window.matchMedia('(max-width: 768px)').matches) {
        $(window).scroll(function () {
            $(".checkout").css({ "right": "40px", "top": "30%" });
        });
    }

    if (window.matchMedia('(max-width: "480px")').matches) {

        $(window).scroll(function () {
            $(".checkout").css({ "right": "40px", "top": "20%" });

        });

    }

    //<!---------- Scroll Anima Right-Side-Bar ------------>

    //<!---------- mobile cart ------------>
    $(".mobile-cart").click(function () {
        $(this).toggleClass(" rotate");
        if ($(this).hasClass("rotate")) {
            $(".checkout").css({ "opacity": "1", "top": "20%", "right": "40px", "z-index": "2" });
            $(this).children("i.fa-shopping-cart").css("display", "none");
            $(this).children("i.fa-times").css("display", "block");
        } else {
            $(".checkout").css({ "opacity": "0", "z-index": "-99" });
            $(this).children("i.fa-shopping-cart").css("display", "block");
            $(this).children("i.fa-times").css("display", "none");
        }
        // $(".checkout").parent("div").css("position","fixed");
    });
    //<!---------- mobile cart ------------>

    $("#sidebar li.leve12, #sidebar li").click(function () {
        $(this).children("a").css("font-weight", "700");
        $(this).children("ul.left-submenu").toggle("slow");
        $(this).nextAll("li").children("a").css("font-weight", "normal");
        $(this).prevAll("li").children("a").css("font-weight", "normal");
        $(this).nextAll("li").children("ul.left-submenu").css("display", "none");
        $(this).prevAll("li").children("ul.left-submenu").css("display", "none");
    });
    $("#sidebar li.leve12 ul.left-submenu li").click(function () {
        $(this).parent("ul.left-submenu").css("display", "block");
        $(this).children("a").css("color", "#0288d1");
        return false;
    });


</script>*@
