<div class="col-xs-12 col-md-3" id="cartrecords">
    <div class="row checkout">
        <div class="col-xs-12 col-md-12 check-title">
            <div class="row">
                <div class="col-xs-12 col-md-4 title">Your Order</div>
                <div class="col-xs-2 col-md-2 cart-icn">
                    <span>@ViewBag.cartqtycount</span>
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-xs-6 col-md-6 cart-total">
                    Total: <text class="localization"></text> <span>@ViewBag.totalamount</span>
                </div>
            </div>
        </div>
        <hr>

            @foreach (var item in ViewBag.records)
            {
            <div class="added-products">
                <div class="image">
                    @*<img src="images/thumb7.jpg" alt="Image 1">*@
                    @if (item.product_images != "" && item.product_images != null && item.product_images != "~/images/default_product.png" && item.product_images != "default_product.png")
                    { <img src="~/ProductImages/@item.product_images" alt="@item.product_images"/> }
                    else
                    { <img src="~/images/default_product.png" /> }
                </div>
                <div class="product-body-info">
                    <div class="title" title="@item.product_name">@item.product_name</div>
                    <div class="product-variation">@item.Measurement</div>
                    <div class="row">
                        <div class="spinner">
                            <div class="input-group">
                                <button class="btn btn-default" type="button"><i class="fa fa-minus-circle" onclick="updatecart1(@item.cart_id,@item.Quantity,@item.cost_price)"></i></button>
                                <input type="text" class="form-control" value="@item.Quantity" min="1" id="qtyinput" onfocus="this.select();">
                                <button class="btn btn-default" type="button"><i class="fa fa-plus-circle" onclick="updatecart(@item.cart_id,@item.Quantity,@item.cost_price)"></i></button>
                            </div>
                        </div>
                        <div class="product-price">&nbsp X &nbsp;<i class="fa fa-inr" aria-hidden="true"></i>&nbsp;<span>@item.cost_price</span></div>
                        <div class="total-product-price"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;<span>@item.total_price</span></div>
                    </div>
                </div>
            </div>
                }
            
        <div class="col-xs-12">

            <button class="btn btn-primary" type="button" onclick="genaratepo()">Generate Purchase Order</button>
        </div>
    </div>

</div>


<script src="/Scripts/js/jquery-3.1.1.min.js"></script>
<script>
        $(document).ready(function () {
            var currency = $('#currency').val().slice(-2).replace(')', '');
            $('.localization').html(currency);
            var dateformat = $('#dateformat').val();
            //alert(dateformat);
        });
</script>

    
    