
@{
    ViewBag.Title = "purchaseorder";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@section css{
<!-- Bootstrap -->
<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
@*Over Hang*@
<link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />
<!-- Custom Theme Style -->
<link href="../build/css/custom.min.css" rel="stylesheet">

<!--- Tabs in Graph Section ---->
<link rel="stylesheet" type="text/css" href="~/Scripts/css/reset.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/css/styles.css">
   <style>
    .overlay {
        background: no-repeat scroll center center #FFF;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        background-color: rgba(0,0,0,0.8);
        /* END EXTERNAL S */
    }
</style>
    
     }

<div class="overlay" style="display:none">
    <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
        <img src="~/images/loader.gif" style="height:10% ;width:10%" /><br>
        <p style="color: white; font-style: italic; font-family:serif;">&nbsp; Just a second showelling our Servers...</p>
    </div>
</div>

<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="container-fluid padding-left-0 padding-right-0 padding-top-10 padding-bottom-10 top-strip fixed">
            <div class="row">
                <div class="form-title col-xs-12 col-md-8">Purchase Order</div>
                <div class="top-bar col-xs-12 col-md-4">
                    <div class="icons pull-right">
                        <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                        <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col" role="main">
            <div class="container">
                <form>
                    
                    <div class="row total-border">
                        <div class="col-xs-12 col-md-12">
                            <div class="row margin-bottom">
                                @{ Html.RenderAction("CustomerforPOs", "Products");}

                                <div class="col-xs-12 col-md-3 margin-bottom">
                                    <div class="row padding-bottom date" id="po_date">
                                        Date :
                                        <script> document.write(new Date().toLocaleDateString('en-GB'));</script>
                                    </div>
                                    <div class="row total-amount"> <text class="localization"></text> <span>@ViewBag.totalamount</span> </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-xs-12 col-md-7 to-address margin-bottom"> <span>To : Xsilica Software Solutions</span> </div>
                                <div class="col-xs-12 col-md-5 margin-bottom">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-5 po-number"><font color="red">*</font>Purchase Order Number</div>
                                        <div class="col-xs-12 col-md-7">
                                            <input type="text" id="ponumber" class="form-control" placeholder="Enter PO Number" onblur="checkponumber(this.value)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row po-date">
                                <table class="table table-bordered col-xs-12 col-md-12">
                                    <thead>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="col-xs-6 col-md-2"><font color="red">*</font>Shipping Date</td>
                                            <td class="col-xs-6 col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                                                    <input class="form-control" id="shipping_date" name="date" placeholder="DD/MM/YYYY" type="text" onchange="checkshipdate()"/>
                                                </div>
                                            </td>
                                            <td class="col-xs-6 col-md-2">Shipping Terms</td>
                                            <td class="col-xs-6 col-md-4">
                                                <input type="text" id="shipping_terms" class="form-control" placeholder="" value="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row padding-top po-order">
                                <div class="col-xs-12 col-md-12">
                                    <div class="total table-responsive">
                                        <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th class="col-md-1">Product Id</th>
                                                    <th class="col-md-3">Product Name</th>
                                                    <th class="col-md-3">Description</th>
                                                    <th class="col-md-2">Quantity</th>
                                                    <th class="col-md-2">Price In <text class="localization"></text> </th>
                                                    <th class="col-md-2">Total In <text class="localization"></text> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.records != null)
                                                {
                                                    foreach (var item in ViewBag.records)
                                                    {
                                                        <tr>
                                                            <td class="col-md-1 id">@item.product_id </td>
                                                            <td class="col-md-3 product-name"><a href="#">@item.product_name</a></td>
                                                            <td class="col-md-3 product-name"><span>@item.Measurement</span></td>
                                                            <td class="col-md-2 quantity-changes">@item.Quantity</td>
                                                            <td class="col-md-2 product-price" style="text-align:left"><span>@item.cost_price</span></td>
                                                            <td class="col-md-2 product-price" style="text-align:right"><span>@item.total_price</span></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6 remarks margin-top">
                                    <label>Remarks</label>
                                    <textarea class="form-control" rows="3" id="comment" placeholder=""></textarea>
                                </div>
                                <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
                                    <div class="row sub-total margin-bottom">
                                        <div class="col-xs-6 col-md-5">Total<span class="pull-right">:</span></div>
                                        <div class="col-xs-6 col-md-7" style="text-align:right"><text class="localization"></text> @ViewBag.totalamount</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top">
                                <div class="col-xs-12 col-md-6 margin-top margin-bottom terms-conditions">
                                    <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions</a>
                                    <ul class="terms-content margin-top">
                                        <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                                        <li>2) Text has been the industry's standard dummy text ever since</li>
                                        <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
                                        <li>4) Here we have industry's standard dummy text ever since</li>
                                        <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
                                        <li>6) Enter content has been the industry's standard dummy text ever since</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-xs-12 col-md-12">
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor1"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
                            <button type="button" class="btn btn-primary pull-right invite" onclick="insertpo(@ViewBag.totalamount)"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Submit </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor3"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor4"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /page content -->

</div>
@section scripts{
    <script type="text/javascript" language="javascript" src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/js/modernizr.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/js/main.js"></script>
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.min.js" language="javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/tag-it.js" language="javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/bootstrap-datepicker.min.js"></script>

    @Scripts.Render("~/bundles/ShopProduct")
    <link rel="stylesheet" href="~/Scripts/css/bootstrap-datepicker3.css" />
<script src="~/Scripts/js/bootstrap-datepicker.min.js"></script>
<link href="~/Scripts/css/bootstrap-datepicker3.css" rel="stylesheet" />
<!-- Over Hang -->

<script src="~/Scripts/js/overhang.min.js"></script>
    <script>
        $(document).ready(function () {
            var dateformat = $('#dateformat').val().toLowerCase();
            //alert(typeof(dateformat));
            var createddate = ($('#po_date').text()).split(';')[1];
            var date_input = $('input[name="date"]'); //our date input has the name "date".it is checking for shipng date also
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: dateformat,
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        });
    </script>
    <script type="text/javascript">
        $('#add-vendor1').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });

        $('#numberbox').keyup(function () {
            if ($(this).val() > 100) {
                warnmsg("No numbers above 100");
                $(this).val('100');
            }
        });

        function checkshipdate() {
            var shipdate = $('#shipping_date').val();
            var today = new Date();
            var dd = today.getDate();
            var MMM = today.getMonth() + 1;
            if (MMM < 10) {
                MMM = '0' + MMM
            }
            var yyyy = today.getFullYear();
            today1 = dd + '/' + MMM + '/' + yyyy;
            a = new Date(yyyy, MMM, dd);
            b = new Date(shipdate.split('/')[2], shipdate.split('/')[1], shipdate.split('/')[0]);
            if (b <= a) {
                warnmsg("Select a Date Greater than Today.");
                $('#shipping_date').val("");
            }
        }

    </script>
}


