
@{
    ViewBag.Title = "POs Of Customer";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
<!-- Bootstrap -->
<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="../build/css/custom.min.css" rel="stylesheet">

<!--- Tabs in Graph Section ---->
<link rel="stylesheet" type="text/css" href="~/Scripts/css/reset.css">
<link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
<div class="container-fluid padding-left-0 padding-right-0 padding-top-10 padding-bottom-10 top-strip fixed">
    <div class="row">
        <div class="form-title col-xs-12 col-md-8">POs of Customer</div>
        <div class="top-bar col-xs-12 col-md-4">
            <div class="icons pull-right">
                <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main" style="padding-top:30px">
    <div class="container">
        <form>
    <div class="row" id="porecords">
        <div class="col-xs-15 col-sm-15 col-md-15">
            <div>
                <table class="table  table-borderedtable-striped bulk_action" id="postable">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="col-md-2">PO Number</th>
                            <th class="col-md-3">Company Name</th>
                            <th class="col-md-2">PO Created Date</th>
                            <th class="col-md-2">Delivery Note</th>
                            <th class="col-md-2">Invoice</th>
                            <th class="col-md-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.records != null)
                        {
                            if (ViewBag.records.Count != 0)
                            {
                                foreach (var item in ViewBag.records)
                                {
                                    <tr>
                                        <td class="col-md-2">@item.Prchaseorder_no</td>
                                        <td class="col-md-3"> @item.company_name </td>
                                        <td class="col-md-2"> @item.created_date </td>
                                        @if (int.Parse(@item.deliverynote_status) == 1)
                                        {
                                            <td class="col-md-2"><input type="checkbox" id="fordeliv" checked disabled /></td>
                                        }
                                        else
                                        {
                                            <td class="col-md-2"><input type="checkbox" id="fordeliv" disabled /></td>
                                        }
                                        @if (int.Parse(@item.invoice_status) == 1)
                                        {
                                            <td class="col-md-2"><input type="checkbox" id="forinvoice" checked disabled /></td>
                                        }
                                        else
                                        {
                                            <td class="col-md-2"><input type="checkbox" id="fordeliv" disabled /></td>
                                        }

                                        <td class="col-md-2">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                                <ul class="dropdown-menu">
                                                    <li> <a onclick="viewpodetails('@item.Prchaseorder_no',@item.customer_id);" title="View PO Details"><i class="fa fa-eye" aria-hidden="true"></i>View PO Details</a> </li>

                                                    @if (int.Parse(@item.invoice_status) == 1)
                                                    {
                                                        <li> <a href="~/Invoice?cid=@item.customer_id&&cname=@item.company_name&&command=PO" style="display:none"><i class="fa fa-money" aria-hidden="true"></i>Create Invoice</a> </li>
                                                    }
                                                    else
                                                    {
                                                        <li> <a href="~/Invoice?cid=@item.customer_id&&cname=@item.company_name&&command=PO"><i class="fa fa-money" aria-hidden="true"></i>Create Invoice</a> </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }
                        
                        else
                        {
                                <tr> <td colspan="5"><p>No PO's Available to Display</p></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <center><button type="button" class="btn btn-primary pull-right invite" id="back"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button></center>
        </form>
    </div>
</div>


@section scripts{
    <script type="text/javascript" language="javascript" src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/js/modernizr.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/js/main.js"></script>
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.min.js" language="javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/tag-it.js" language="javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/css/bootstrap-datepicker3.css" />
    @*Over Hang*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/overhang.min.js"></script>

    @Scripts.Render("~/bundles/ShopProduct")
    <script>
        $('#back').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });
    </script>

}