<div class="row padding-top po-order">
    <div class="col-xs-12 col-md-12">
        <div class="total table-responsive">
            <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                <thead class="thead-inverse">
                    <tr>
                        <th class="col-md-2">PO Number</th>
                        <th class="col-md-1">Product Id</th>
                        <th class="col-md-3">Product Name</th>
                        <th class="col-md-2">Description</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-2">Price In <text class="localization" Price></text></th>
                        <th class="col-md-2">Total In <text class="localization" Total></text></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.records != null)
                    {
                        foreach (var item in ViewBag.records)
                        {
                            <tr>
                                <td class="col-md-2"><span>@item.Prchaseorder_no</span></td>
                                <td class="col-md-1">@item.product_id</td>
                                <td class="col-md-3 product-name">@item.product_name</td>
                                <td class="col-md-2 product-variation"><span>@item.description</span></td>
                                <td class="col-md-1 quantity-changes">@item.Quantity</td>
                                <td class="col-md-2 product-price"><span>@item.cost_price</span></td>
                                <td class="col-md-2 product-total-price" style="text-align:right"> <span>@item.total_price</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>