@if (ViewBag.records != null)
{
    <div class="row" id="cuscompanyrecords">
        <div class="row blocks">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content">
                    <h2>New PO's</h2>
                    <p>@*<text class="localization"></text>*@@ViewBag.totalnewpos</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content">
                    <h2>Invoiced PO's</h2>
                    <p>@*<text class="localization"></text>*@  @ViewBag.totalinvoicedpos</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content">
                    <h2>Open Invoice</h2>
                    <p><text class="localization"></text>@ViewBag.totaldues</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content">
                    <h2>Over Due</h2>
                    <p><text class="localization"></text>@ViewBag.totaloverdues</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <table class="table  table-borderedtable-striped bulk_action" id="customertable">

                    <thead class="thead-inverse">
                        <tr>
                            <th rowspan="2" style="padding: 25px 5px;">Logo</th>
                            <th rowspan="2" style="padding: 25px 5px;">Company Name</th>
                            <th colspan="2" style="text-align: center;border: 1px solid #fff;">Purchase Order</th>
                            <th colspan="2" style="text-align: center;border: 1px solid #fff;">Payment</th>
                            <th rowspan="2" style="padding: 25px 5px;">Actions</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;border-right: 1px solid #fff;">New</th>
                            <th style="text-align: center;border-right: 1px solid #fff;">Invoiced</th>
                            <th style="text-align: center;border-right: 1px solid #fff;">Due In  <text class="localization"></text></th>
                            <th style="text-align: center;">Over Due In <text class="localization"></text></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.records.Count != 0)
                        {
                            foreach (var item in ViewBag.records)
                            {
                                <tr>
                                    <td>
                                        @if (item.cus_logo != "" && item.cus_logo != null && item.cus_logo != "/images/user.png")
                                        { <img src="data:image;base64,@item.cus_logo" class="img-circle img-responsive" onmouseover="viewCustomer(@item.cus_company_Id)" /> }
                                        else
                                        { <img src="~/images/user.png" class="img-circle img-responsive" onmouseover="viewCustomer(@item.cus_company_Id)" /> }
                                    </td>
                                    <td> @item.cus_company_name </td>
                                        <td style="text-align: center">@item.new_POs</td>
                                        <td style="text-align: center">@item.total_POs</td>
                                        <td style="text-align: center">@item.due</td>
                                        <td style="text-align: center">@item.overdue</td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            @if (ViewBag.typeofuser == "Admin" || ViewBag.typeofuser == "AdminStaff")
                                            {
                                                <ul class="dropdown-menu">
                                                    <li> <a onclick="viewCustomer(@item.cus_company_Id)"><i class="fa fa-eye" aria-hidden="true"></i>View Customer</a> </li>
                                                    <li> <a onclick="getEditDetails(@item.cus_company_Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Customer</a> </li>
                                                    <li> <a onclick="inviteCustomerForPos(@item.cus_company_Id)"><i class="fa fa-envelope" aria-hidden="true"></i>Invite</a> </li>

                                                    @if (item.status == "Active")
                                                    {
                                                        <li> <a href="~/Customer/deletecusRecord?cus_company_Id=@item.cus_company_Id&&status=InActive"><i class="fa fa-toggle-off" aria-hidden="true"></i>InActive</a> </li>}
                                                    @if (item.status == "InActive")
                                                    {
                                                        <li> <a href="~/Customer/deletecusRecord?cus_company_Id=@item.cus_company_Id&&status=Active"><i class="fa fa-toggle-on" aria-hidden="true"></i>Active</a> </li>}

                                                    ======================

                                                    <li> <a href="~/Products?cid=@item.cus_company_Id&&cname=@item.cus_company_name"><i class="fa fa-money" aria-hidden="true"></i>Create PO</a> </li>
                                                    <li> <a onclick="viewallpos(@item.cus_company_Id,'@item.cus_company_name')"><i class="fa fa-building-o" aria-hidden="true"></i>View PO's</a> </li>
                                                    <li> <a href="~/Invoice?cid=@item.cus_company_Id&&cname=@item.cus_company_name"><i class="fa fa-money" aria-hidden="true"></i>Create Invoice</a> </li>
                                                    <li> <a onclick="viewposfordeliv(@item.cus_company_Id,'@item.cus_company_name')"><i class="fa fa-money" aria-hidden="true"></i>Create Delivery Note</a> </li>
                                                    @if (item.total_POs == null || item.total_POs == "")
                                                    {
                                                        <li> <a onclick="viewallinvoices(@item.cus_company_Id)" style="display:none"><i class="fa fa-building-o" aria-hidden="true"></i>View Invoice</a> </li>
                                                        <li> <a href="~/Payments?cid=@item.cus_company_Id&&cname=@item.cus_company_name" style="display:none"><i class="fa fa-money" aria-hidden="true"></i>Receive Payment</a> </li>
                                                    }
                                                    else
                                                    {
                                                        <li> <a onclick="viewallinvoices(@item.cus_company_Id)"><i class="fa fa-building-o" aria-hidden="true"></i>View Invoice</a> </li>
                                                        <li> <a href="~/Payments?cid=@item.cus_company_Id&&cname=@item.cus_company_name"><i class="fa fa-money" aria-hidden="true"></i>Receive Payment</a> </li>
                                                    }
                                                    <li> <a><i class="fa fa-truck" aria-hidden="true"></i>View Delivery Note</a> </li>
                                                    <li> <a><i class="fa fa-truck" aria-hidden="true"></i>Account Summary</a> </li>
                                                </ul>
                                            }
                                            @if (ViewBag.typeofuser == "Customer" || ViewBag.typeofuser == "Staff")
                                            {
                                                <input type="hidden" id="status" value="@item.status" />
                                                <ul class="dropdown-menu">
                                                    <li> <a onclick="getEditDetails(@item.cus_company_Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Customer</a> </li>

                                                    ======================

                                                    <li> <a href="~/Products?cid=@item.cus_company_Id&&cname=@item.cus_company_name" id="createpo"><i class="fa fa-money" aria-hidden="true"></i>Create PO</a> </li>
                                                    <li> <a onclick="viewallpos(@item.cus_company_Id,'@item.cus_company_name')"><i class="fa fa-building-o" aria-hidden="true"></i>View PO's</a> </li>
                                                    @if (item.total_POs == null || item.total_POs == "")
                                                    {
                                                        <li> <a onclick="viewallinvoices(@item.cus_company_Id)" style="display:none"><i class="fa fa-building-o" aria-hidden="true"></i>View Invoice</a> </li>
                                                        <li> <a href="~/Payments?cid=@item.cus_company_Id&&cname=@item.cus_company_name" style="display:none"><i class="fa fa-money" aria-hidden="true"></i>Receive Payment</a> </li>
                                                    }
                                                    else
                                                    {
                                                        <li> <a onclick="viewallinvoices(@item.cus_company_Id)"><i class="fa fa-building-o" aria-hidden="true"></i>View Invoice</a> </li>
                                                        <li> <a href="~/Payments?cid=@item.cus_company_Id&&cname=@item.cus_company_name" id="receivepayments"><i class="fa fa-money" aria-hidden="true"></i>Receive Payment</a> </li>
                                                    }
                                                    <li> <a><i class="fa fa-truck" aria-hidden="true"></i>View Delivery Note</a> </li>
                                                    <li> <a><i class="fa fa-truck" aria-hidden="true"></i>Account Summary</a> </li>
                                                </ul>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6"><p>No Records Available</p></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row" id="customertable1" style="display:none">
                @foreach (var item in ViewBag.records)
                {
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <h4 class="brief"><i>@item.cus_company_name</i></h4>
                                <div class="left col-xs-7">
                                    <h2>@item.cus_email</h2>
                                    <p><strong>About: </strong> Web Designer / UI. </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-building"></i><span> Address:</span> Nizampet </li>
                                        <li><i class="fa fa-phone"></i><span> Phone #:</span>9290462803 </li>
                                    </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                    @if (item.cus_logo != "" && item.cus_logo != null && item.cus_logo != "/images/user.png")
                                    { <img src="data:image;base64,@item.cus_logo" class="img-circle img-responsive" /> }
                                    else
                                    { <img src="~/images/user.png" class="img-circle img-responsive" /> }
                                </div>
                            </div>
                            <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <p class="ratings"> <a>4.0</a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star-o"></span></a> </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user"> </i> <i class="fa fa-comments-o"></i> </button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="viewCustomer(@item.cus_company_Id)"> <i class="fa fa-user"> </i> View Profile </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}
<script>
        $(document).ready(function (e) {
            $(".btn-group ul.dropdown-menu > li").each(function () {
                var v = $('#status').val();
                if (v == "Active") {
                    $('#createpo').css("pointer-events", "none");
                    $('#receivepayments').css("pointer-events", "none");
                }
            });
        })
</script>
