@if (ViewBag.records != null)
{
    <div class="row" id="cuscompanyrecords">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <table class="table  table-borderedtable-striped bulk_action" id="customertable">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Logo</th>
                            <th>Company Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.records.Count != 0)
                        {
                            foreach (var item in ViewBag.records)
                            {
                                <tr>
                                    <td>
                                        @if (item.cus_logo != "" && item.cus_logo != null && item.cus_logo != "/images/user.png")
                                        { <img src="data:image;base64,@item.cus_logo" style="width:29px;height:29px;border-radius:50%;margin-left:10px;" onmouseover="viewCustomer(@item.cus_company_Id)" /> }
                                        else
                                        { <img src="~/images/user.png" style="width:29px;height:29px;border-radius:50%;margin-left:10px;" onmouseover="viewCustomer(@item.cus_company_Id)" /> }
                                    </td>
                                    <td> @item.cus_company_name </td>
                                    <td> @item.cus_email </td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            <ul class="dropdown-menu">
                                                <li> <a onclick="viewCustomer(@item.cus_company_Id)"><i class="fa fa-eye" aria-hidden="true"></i>View Customer</a> </li>
                                                <li> <a onclick="getEditDetails(@item.cus_company_Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Customer</a> </li>
                                               
                                                    @if (item.status == "Active")
                                                    {
                                                    <li> <a href="~/Customer/deletecusRecord?cus_company_Id=@item.cus_company_Id&&status=InActive"><i class="fa fa-toggle-off" aria-hidden="true"></i>InActive</a> </li>}
                                                    @if (item.status == "InActive")
                                                    {
                                                        <li> <a href="~/Customer/deletecusRecord?cus_company_Id=@item.cus_company_Id&&status=Active"><i class="fa fa-toggle-on" aria-hidden="true"></i>Active</a> </li>}

                                                     ======================
                                                
                                                <li> <a href="~/Products?cid=@item.cus_company_Id&&cname=@item.cus_company_name"><i class="fa fa-money" aria-hidden="true"></i>Create PO</a> </li>
                                                @*<li> <a onclick="createPo(@item.cus_company_Id)"><i class="fa fa-money" aria-hidden="true"></i>Create PO</a> </li>*@
                                                <li> <a href="~/Invoice"><i class="fa fa-building-o" aria-hidden="true"></i>View Invoice</a> </li>
                                                <li> <a onclick="viewallpos(@item.cus_company_Id)"><i class="fa fa-building-o" aria-hidden="true"></i>View PO's</a> </li>
                                                <li> <a><i class="fa fa-money" aria-hidden="true"></i>Make Payment</a> </li>
                                                <li> <a><i class="fa fa-truck" aria-hidden="true"></i>View Delivery Note</a> </li>
                                                @*<li> <a onclick="deleteRecord(@item.company_Id)"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Vendor</a> </li>*@
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6"><p>No Records Available</p></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row" id="customertable1"  style="display:none">
                @foreach (var item in ViewBag.records)
                {
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <h4 class="brief"><i>@item.cus_company_name</i></h4>
                                <div class="left col-xs-7">
                                    <h2>@item.cus_email</h2>
                                    <p><strong>About: </strong> Web Designer / UI. </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-building"></i><span> Address:</span> Nizampet </li>
                                        <li><i class="fa fa-phone"></i><span> Phone #:</span>9290462803 </li>
                                    </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                    @if (item.cus_logo != "" && item.cus_logo != null && item.cus_logo != "/images/user.png")
                                    { <img src="data:image;base64,@item.cus_logo" style="width:128px;height:128px;border-radius:50%;margin-left:10px;" /> }
                                    else
                                    { <img src="~/images/user.png" style="width:128px;height:128px;border-radius:50%;margin-left:10px;" /> }
                                </div>
                            </div>
                            <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <p class="ratings"> <a>4.0</a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star"></span></a> <a href="#"><span class="fa fa-star-o"></span></a> </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user"> </i> <i class="fa fa-comments-o"></i> </button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="viewCustomer(@item.cus_company_Id)"> <i class="fa fa-user"> </i> View Profile </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}
