@using Inventory.Models
@model Inventory.Models.Customer
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
   
    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
@*Over Hang*@
<link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />
}


<!-- page content -->
<div class="container-fluid padding-left-0 padding-right-0 padding-top-10 padding-bottom-10 top-strip fixed">
    <div class="row">
        <div class="form-title col-xs-12 col-md-8">Customer</div>
        @if (ViewBag.typeofuser == "Admin")
        {
        <div class="top-bar col-xs-12 col-md-4">
            <button type="button" class="btn btn-primary pull-right invite" id="add-customer"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Customer </button>
            <div class="icons pull-right">
                <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
                <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
                <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
            </div>
        </div>
        }
    </div>
</div> 
<div class="right_col" role="main">
    <div class="container" id="cuscompany">
        <form method="post" action="#" id="myform">
            @Html.HiddenFor(Model => Model.cus_company_Id, new { Value = @ViewBag.cus_company_Id })
            @Html.HiddenFor(Model => Model.Customer_Id, new { Value = @ViewBag.Customer_Id })
            <div class="row blocks">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>New PO's</h2>
                        <p><text class="localization"></text>10000</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Invoiced PO's</h2>
                        <p><text class="localization"></text>10000</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Open Invoice</h2>
                        <p><text class="localization"></text>10000</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Over Due</h2>
                        <p><text class="localization"></text>10000</p>
                    </div>
                </div>
            </div>
            @{ Html.RenderAction("CustomerCompany", "Customer");}

            <div class="row" id="customer-information">
                <div class="col-md-12 form-title margin-bottom-20">Customer Information</div>
                <div class="col-md-6">
                    <div class="row">
                        @Html.HiddenFor(Model => Model.cus_company_Id, new { Value = @ViewBag.cus_company_Id })
                        @if (ViewBag.cuscompany != null)
                        {

                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.cus_company_name, new { placeholder = "Company Name", @id = "cus_company_name", required = "required", @class = "form-control", Value = ViewBag.cus_company_name })
                            </div>
                            <div class="form-group col-md-5">

                                @Html.TextBoxFor(Model => Model.cus_email, new { placeholder = "Customer Email", @id = "cus_email", required = "required", @class = "form-control", Value = ViewBag.cus_email })
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.cus_company_name, new { placeholder = "Company Name", @id = "cus_company_name", required = "required", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-5">

                                @Html.TextBoxFor(Model => Model.cus_email, new { placeholder = "Customer Email", id = "cus_email", required = "required", @class = "form-control" })
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default pull-right" id="customer-information-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                            <button type="button" class="btn btn-primary pull-right save" id="mySubmit" onclick="editcuscompany(this.value)" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        </div>
                    </div>
                    <a style="cursor: pointer;color:blueviolet" id="additonal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Additional Information Of Customer</a>
                </div>
                @*cuscompanylogo code start*@
                <div class="col-md-3 col-md-push-3" id="cuscompany_pic">
                    <input type="file" name="file" id="fileupload" accept=".gif, .jpeg, .png" style="display:none" onchange="upload()">
                    <img id="cuscompanypic" onclick="javascript: document.getElementById('fileupload').click();" src="~/images/user.png" style="border-radius: 50%;width: 150px;height: 150px;" />

                    <div id="uploadtext">Upload Customer Company Logo</div>
                </div>
                @*cuscompanylogo code end*@
            </div>
            <div class="row" id="customer-information1">
                <!--------- Tab Section START ------------>
                <div class="col-md-12">
                    <div class="cd-tabs">
                        <nav>
                            <ul class="cd-tabs-navigation">
                                <li><a data-content="address" class="selected" href="#0">Address</a></li>
                                <li><a data-content="contactperson" href="#0">Contact Person</a></li>
                                <li><a data-content="details" href="#0">Tax Info</a></li>
                                <li><a data-content="notes" href="#0">Notes</a></li>
                            </ul>
                            <!-- cd-tabs-navigation -->
                        </nav>
                        <ul class="cd-tabs-content">
                            <li data-content="address" class="selected">
                                <div class="row">
                                    <div class="col-md-6 padding-top padding-bottom">
                                        <div class="row col-md-12">
                                            <h2 class="form-title">Billing address<a href="#">map</a></h2>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="bill_street" id="bill_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_city" id="bill_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_state" id="bill_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_postalcode" id="bill_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.DropDownListFor(Model => Model.bill_country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-top padding-bottom shipping">
                                        <div class="row">
                                            <h2 class="form-title col-md-6">Shipping address<a href="#">map</a></h2>
                                            <div class="checkbox col-md-6">
                                                <label>
                                                    <input type="checkbox" id="addresscheck">
                                                    Same as billing address
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="ship_street" id="ship_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_city" id="ship_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_state" id="ship_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_postalcode" id="ship_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.DropDownListFor(Model => Model.ship_country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="customer-information1-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" id="mySubmit1" name="command" value="saveaddress" onclick="editcuscompanyaddress(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Address</button>
                                    </div>
                                </div>
                            </li>

                            <li data-content="contactperson" class="contactperson">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <input type="hidden" id="newcuscompanyid" value="@ViewBag.id" />
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Customer_contact_Fname" id="Customer_contact_Fname" placeholder="First Name">
                                            </div>
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Customer_contact_Lname" id="Customer_contact_Lname" placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Mobile_No" placeholder="Mobile" id="Mobile_No" maxlength="12"><span id="errmsg" style="color:red"></span>
                                            </div>
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Email_Id" id="Email_Id" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="row">
                                            @*<div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="Adhar_Number" id="Adhar_Number" placeholder="Aadhaar Number"><span id="errmsg1" style="color:red"></span>
                                            </div>*@
                                            <div class="form-group col-md-6">
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                <input type="text" class="form-control selected-position" name="cus_Job_position" id="cus_Job_position" placeholder="Job position">
                                                <div class="display-positions" id="cusjobposition">
                                                    <div class="positions1 position"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Job Position</span><i class="fa fa-times" aria-hidden="true"></i></div>
                                                    @if (ViewBag.cusjobpositions != "")
                                                    {
                                                        foreach (var position in ViewBag.cusjobpositions)
                                                        { <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>@position</div> }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position" id="newposition">
                                                <button type="button" class="btn btn-primary btn-sm add-button" onclick="addingcusjobpositions()"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                    @*Customer logo code start*@
                                    <div class="col-md-3 col-md-push-3">
                                        <input type="file" name="file" id="fileupload1" accept=".gif, .jpeg, .png" style="display:none" onchange="upload1()">
                                        <img id="cuscontactpic" onclick="javascript: document.getElementById('fileupload1').click();" src="~/images/user.png" style="border-radius: 50%;width: 150px;height: 150px;" />
                                        <div id="uploadcontact">Upload Contact Person image</div>
                                    </div>
                                    @*Customer logo code end*@


                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="customer-information2-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" id="cuscontactbutton" value="savecontact" onclick="updatecusContact(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Contact</button>
                                    </div>
                                </div>
                                <div id="customerrecords">
                                    @{ Html.RenderAction("CustomerContact", "Customer");}
                                </div>
                            </li>
                            <li data-content="details">
                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="Adhar_Number" id="Adhar_Number" placeholder="Aadhaar Number"><span id="errmsg1" style="color:red"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="GSTIN_Number" id="GSTIN_Number" placeholder="GSTIN Number"><span id="errmsg1" style="color:red"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="tax_regno" id="tax_regno" placeholder="Tax Reg. No"><span id="errmsg3" style="color:red"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="checkbox" name="tds" id="tds"> Apply TDS for this Customer

                                            </div>
                                           
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="pan_no" id="pan_no" placeholder="Pan No">
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="checkbox" name="taxexemption" id="taxexemption"> Tax Exemption
                                            </div>

                                                <div class="form-group col-md-6" id="fileid">
                                                    <input type="file" name="fileupload2" id="fileupload2" onchange="onFileSelected(event)" style="display:none">
                                                    <img src="" id="forimg" width="200" height="200" style="display:none" />
                                                    <div id="result" style="display:none;height: 400px;width: 500px;overflow: auto;border:dashed"></div>
                                                </div>

                                            </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="customer-information3-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" id="taxid" value="savetaxdetails" onclick="editcompanytaxdetails(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Tax Details</button>
                                    </div>
                                </div>
                            </li>

                            <li data-content="notes">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" placeholder="Notes" id="cus_Note" name="cus_Note"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="customer-information4-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" value="Save Note" id="notebutton" onclick="updatecusnote(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Note</button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <!-- cd-tabs-content -->
                    </div>
                    <!-- cd-tabs -->

                </div>

                <!--------- Tab Section END ------------>
            </div>

        </form>
        <center> <div><input type="button" id="forclose" value="Close View" style="display:none" onclick="location.reload();" /></div></center>
    </div>
</div>
<!-- /page content -->

@section scripts{
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../build/js/custom.min.js"></script>
    <!-- Over Hang -->
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/overhang.min.js"></script>
 
<script src="~/Scripts/customer.js"></script>
    @*@Scripts.Render("~/bundles/Customers")*@

    @*Error Message*@
    @if (ViewBag.msg != "" && ViewBag.msg != null)
    {
        <script>
            $("body").overhang({
                type: "error",
                message: '@ViewBag.msg',
                duration: 3,
                closeConfirm: false
            });
        </script>
    }

    @*Success Message*@
    @if (ViewBag.smsg != "" && ViewBag.smsg != null)
    {
        <script>
            $("body").overhang({
                type: "success",
                message: '@ViewBag.smsg',
                duration: 3,
                closeConfirm: false
            });
        </script>
    }


    <script>
        $(document).ready(function (e) {
            $(".btn-group ul.dropdown-menu > li").each(function () {
                var v = $(this).children("a").text();
                if (v == "Active") {
                    $(this).parents("tr").children("td").css("color", "#ccc");
                    $(this).prev("li").prev("li").children("a").css("pointer-events", "none");//view
                    $(this).prev("li").children("a").css("pointer-events", "none"); // Edit Button
                    $(this).next("li").children("a").css("pointer-events", "none"); // create po  Button
                    $(this).next("li").next("li").children("a").css("pointer-events", "none");//create invoice
                    $(this).next("li").next("li").next("li").children("a").css("pointer-events", "none");//receive payment
                    $(this).next("li").next("li").next("li").next("li").children("a").css("pointer-events", "none");//delivery note
                    $(this).prev("li").attr("title", "Activate Company");
                    $(this).next("li").attr("title", "Activate Company");
                    $(this).prev("li").prev("li").attr("title", "Activate Company");
                    $(this).next("li").next("li").attr("title", "Activate Company");
                    $(this).next("li").next("li").next("li").attr("title", "Activate Company");
                    $(this).next("li").next("li").next("li").next("li").attr("title", "Activate Company");
                }
            });
        })
    </script>
   <!---------- Scroll Anima Top Strip ------------>
<script>
$(window).scroll(function(){
var scrollTop = $(window).scrollTop();
if(scrollTop > 20){
$(".top-strip").css({"top":"0"});
}else{
$(".top-strip").css({"top":"59px"});}
});
$(".navbar-header > button.navbar-toggle").click(function () {
    $(".top-strip").toggleClass(" fixed")
});
</script>
<!---------- Scroll Anima Top Strip ------------>

}
