
@{
    ViewBag.Title = ":: Add Product ::";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}
@if (ViewBag.count != "" && ViewBag.count != null)
{
    <div class="right_col" role="main">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 form-title">Product Master</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-6">
                                        <input type="text" class="form-control" placeholder="Product Name">
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6">
                                        <input type="text" class="form-control" placeholder="Product ID">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-6">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Brand Name">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Brand</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Brand 1</div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Brand 2</div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Brand 3</div>
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                        @*<input type="text" class="form-control" placeholder="Brand Name">*@
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Model Number">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Model</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Model 1</div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Model 2</div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Model 3</div>
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                        @*<input type="text" class="form-control" placeholder="Model Number">*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-6">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Category">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Category</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                           @if (ViewBag.categories.Count != 0)
                                           {
                                               foreach (var item in ViewBag.categories)
                                               {
                                                <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>@item.category</div>
                                               }
                                           }
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Sub Category">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Sub Category</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Sub Category 1</div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Sub Category 2</div>
                                            <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Sub Category 3</div>
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-left">
                                    <div class="form-group col-xs-6 col-md-3">
                                        <label>Cost Price</label>
                                        <input type="text" class="form-control" placeholder="Cost Price" value="0">
                                    </div>
                                    <div class="form-group col-xs-6 col-md-3">
                                        <label>Selling Price</label>
                                        <input type="text" class="form-control" placeholder="Selling Price" value="0">
                                    </div>
                                    <div class="form-group col-xs-6 col-md-3">
                                        <label>Tax(%)</label>
                                        <input type="text" class="form-control" placeholder="Tax" value="0">
                                    </div>
                                    <div class="form-group col-xs-6 col-md-3">
                                        <label>Discount(%)</label>
                                        <input type="text" class="form-control" placeholder="Discount" value="0">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6 col-md-3">
                                        <label>Shipping</label>
                                        <input type="text" class="form-control" placeholder="Shipping" value="0">
                                    </div>
                                    <div class="form-group col-xs-6 col-md-6">
                                        <label>Total</label>
                                        <input type="text" class="form-control" placeholder="Total">
                                        <span>(Selling price + Tax + Shipping - Discount)</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-3">
                                        <input type="text" class="form-control" placeholder="Enter Here">
                                    </div>
                                    <div class="form-group col-xs-12 col-md-3">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Weight">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Weight</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            @if (ViewBag.weights.Count != 0)
                                            {
                                                foreach (var item in ViewBag.weights)
                                                {
                                                    <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>@item.weight</div>
                                                }
                                            }
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-3">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Sizes">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Sizes</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            @if (ViewBag.sizes.Count != 0)
                                            {
                                                foreach (var item in ViewBag.sizes)
                                                {
                                                    <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>@item.size</div>
                                                }
                                            }
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-3">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Colors">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Colors</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            @if (ViewBag.colors.Count != 0)
                                            {
                                                foreach (var item in ViewBag.colors)
                                                {
                                                    <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>@item.color</div>
                                                }
                                            }
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-12">
                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        <input type="text" class="form-control selected-position" placeholder="Item Shape">
                                        <div class="display-positions">
                                            <div class="positions1 position">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i><span>Item Shape</span><i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                            @if (ViewBag.itemshapes.Count != 0)
                                            {
                                                foreach (var item in ViewBag.itemshapes)
                                                {
                                                    <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>@item.itemshape</div>
                                                }
                                            }
                                        </div>
                                        <div class="row add-position">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Enter Position">
                                                <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                            </div>
                                            <div class="row positions"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Sno</th>
                                                    <th>Area</th>
                                                    <th>Quantity in Hand</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Himayathnagar</td>
                                                    <td>
                                                        <div class="form-group col-xs-12 col-md-12">
                                                            <input type="text" class="form-control" placeholder="Quantity in Hand" value="0">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Kukatpally</td>
                                                    <td>
                                                        <div class="form-group col-xs-12 col-md-12">
                                                            <input type="text" class="form-control" placeholder="Quantity in Hand" value="0">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Madhapur</td>
                                                    <td>
                                                        <div class="form-group col-xs-12 col-md-12">
                                                            <input type="text" class="form-control" placeholder="Quantity in Hand" value="0">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td>
                                                        <div class="form-group col-xs-12 col-md-12">
                                                            <input type="text" class="form-control" placeholder="Total Quantity in Hand">
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group radio col-xs-6 col-md-6">
                                        <label>
                                            <input type="radio" name="optradio" class="consumable">
                                            Consumable
                                        </label>
                                    </div>
                                    <div class="form-group radio col-xs-6 col-md-6">
                                        <label>
                                            <input type="radio" name="optradio" class="non-consumable">
                                            Non-Consumable
                                        </label>
                                    </div>
                                </div>
                                <div class="row veg-non">
                                    <div class="form-group radio col-xs-6 col-md-6">
                                        <label class="veg">
                                            <input type="radio" name="optradio1">
                                            Veg
                                        </label>
                                    </div>
                                    <div class="form-group radio col-xs-6 col-md-6">
                                        <label class="non-veg">
                                            <input type="radio" name="optradio1">
                                            Non-Veg
                                        </label>
                                    </div>
                                </div>
                                <div class="row perishable-non">
                                    <div class="form-group radio col-xs-6 col-md-6">
                                        <label class="Perishable">
                                            <input type="radio" name="optradio2">
                                            Perishable
                                        </label>
                                    </div>
                                    <div class="form-group radio col-xs-6 col-md-6">
                                        <label class="Non-Perishable">
                                            <input type="radio" name="optradio2">
                                            Non-Perishable
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group ">
                                            <label class="col-sm-3" for="date"> Expiry Date </label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12 admin-product-image"> <img src="images/default_product.png" alt="Product" /> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-xs pull-right add-popup"><i class="fa fa-plus-circle" aria-hidden="true"></i>Image</button>
                                    </div>
                                </div>
                                <div class="row image-library">
                                    <ul class="col-md-12 tabs">
                                        <li class="tab-1"><a>Upload Images</a></li>
                                        <li class="tab-2"><a>Library</a></li>
                                        <i class="fa fa-times pull-right" aria-hidden="true"></i>
                                    </ul>
                                    <ul class="col-md-12 tabs-content">
                                        <li class="tab-1" id="tab-1">
                                            <button type="button" class="btn">Upload Here</button>
                                        </li>
                                        <li class="tab-2" id="tab-2">
                                            <ul>
                                                <li>
                                                    <input type="checkbox" name="checkbox">
                                                    <img src="images/1.jpg" alt="Image one" />
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="checkbox">
                                                    <img src="images/2.jpg" alt="Image Two" />
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="checkbox">
                                                    <img src="images/3.jpg" alt="Image Three" />
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="checkbox">
                                                    <img src="images/4.jpg" alt="Image Four" />
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="checkbox">
                                                    <img src="images/5.jpg" alt="Image Five" />
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="checkbox">
                                                    <img src="images/6.jpg" alt="Image Six" />
                                                </li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn pull-right cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                                    <button type="button" class="btn btn-primary pull-right" id="add-image"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <ul class="col-md-12 admin-product-thumbs"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-12">
                                <textarea class="form-control" rows="5" id="comment" placeholder="Product Description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Add Tags<span>(Seperated by Comma)</span></label>
                                <ul id="myTags"></ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-2 pull-right">
                                <button type="button" class="btn cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                            </div>
                            <div class="col-xs-12 col-md-2 pull-right">
                                <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Product</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="relatedactivities col-md-12">
                            <div class="row title">
                                <h1 class="col-md-12">Product Related Activities</h1>
                            </div>
                            <div class="row content">
                                <div class="col-md-12">
                                    <h2><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add another product</a></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Click Here to visit</a>
                                </div>
                                <div class="clear"></div>
                                <hr>
                                <div class="col-md-12">
                                    <h2><a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i>Delete product</a></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Click Here to visit</a>
                                </div>
                                <div class="clear"></div>
                                <hr>
                                <div class="col-md-12">
                                    <h2><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i>Edit Categories</a></h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Click Here to visit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h2>No Warehouse Detected.Add warehouse by clicking <a href="/Warehouse">here</a></h2>
}
@section scripts{
    <!-- jQuery lib & Tabs -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery lib & Tabs -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/Scripts/js/bootstrap-datepicker.min.js"></script>
    <link href="/Scripts/css/bootstrap-datepicker3.css" rel="stylesheet" />

    @*<!------ Tags With Space and comma ------->*@
    @*<script type="text/javascript" src="js/jquery-ui.min.js" language="javascript"></script>
        <script type="text/javascript" src="js/tag-it.js" language="javascript"></script>*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/tag-it.js"></script>

    <script type="text/javascript">
        $('#myTags').tagit();
    </script>
    @*<!------ Tags With Space and comma ------->*@
    @*<!-------------- Date Picker ----------->*@
    @*<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-datepicker3.css" />*@
<script src="~/Scripts/js/bootstrap-datepicker.min.js"></script>
<link href="~/Scripts/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>

    @*<!-------------- Date Picker ----------->*@

<script type="text/javascript">

//<!------- PopUP ------->

//<!--------- Add Image popUp Tabs ------>
$("ul.tabs > li").click(function(){
	var v = $(this).attr("class");
		if(v == "tab-1"){
			$(this).nextAll(".fa-times").css("display","block");
			}else{$(this).nextAll("i").css("display","none");}
	$("ul.tabs-content > li").each(function() {
        var v1 = $(this).attr("class");
		if(v==v1){
			$(this).css("opacity","1");
			}else{
				$(this).css("opacity","0");}
    });
	});
$("ul.tabs > i").click(function(){
	$(".image-library").css("display","none");
	});
//<!--------- Add Image popUp Tabs ------>
	//<!---- Cancel Tab ---->
	$(".cancel").click(function(){
		$(".image-library").css("display","none");
		});
	////<!---- Cancel Tab ---->
	//<!---- Display PopUp ---->
	$(".add-popup").click(function(){
		$(".image-library").css("display","block");});
		$("ul.tabs-content > li > ul > li > input[type='checkbox']").attr("checked",false);
	//<!---- Display PopUp ---->
	//<!--------- Add checkbox Images ------>
	  $("#add-image").click(function(){
		  $("li#tab-2 > ul > li > input[type='checkbox']").each(function(){
			  if($(this).is(":checked")){
				  var l = $("input[type='checkbox']:checked").length;
				  //alert(l);
				  if(l <= 6){
				  var v = $(this).next().attr("src");
				  //alert(v);
				  $("ul.admin-product-thumbs").append("<li>" + "<img src='" + v + "'" + "alt='" + v + "'" + "/>" + "</li>");
				  $("<i class='fa fa-times' aria-hidden='true'></i>").insertBefore("ul.admin-product-thumbs > li > img");
				  $("ul.admin-product-thumbs li i").click(function(){
					  $(this).parent("li").css("display","none");
					  if(($(this).next("img").attr("src") == $(".admin-product-image img").attr("src"))){
						  $(this).parent("li").css("display","none");
						  $(".admin-product-image img").attr("src","images/default_product.png");
						  }
					  });
				  }else{
					  alert("Select Less than Six");
					  exit;}
				}
				$(".image-library").css("display","none");
				  });

	    //<!--------- Thumb Image ------>
      $("ul.admin-product-thumbs > li > img").click(function(){
	//alert("ONE");
	var src = $(this).attr("src");
	//alert(src);
	//var src = $(this).attr("src").split("/");
	//alert(src);
	//var len = src[src.length-1];
	//var file = len.split(".")[0];
	//alert(file);
	$(".admin-product-image img").attr("src",src);
	});
   // <!--------- Thumb Image ------>
				});
	//<!--------- Add checkbox Images ------>

//<!------- PopUP ------->

//<!------ Instant Values added in Input Box ------->

$(".display-positions .position > i.fa-times").click(function(){
  $(this).parents(".display-positions").css("display","none");
  $(this).parents(".display-positions").next(".add-position").css("display","none");
});

function textval(){
	$(".display-positions .positions1").click(function(){
					  var c = $(this).text();
					  $(this).parent(".display-positions").prev("input.selected-position").val(c);
					 $(this).parent(".display-positions").css("display","none");
					  });
					  }

$(".positions1 > i.fa-trash-o").click(function(){
				  $(this).parent(".positions1").remove();
			  });

			  $(".selected-position").click(function(){
				  $(this).next(".display-positions").css("display","block");
				  return textval();
				  });

  $(".display-positions .position > span, .display-positions .position > i.fa-plus-circle").click(function(){
  $(this).parents(".display-positions").next(".add-position").css("display","block");

   $(".add-position .add-button").click(function(){
	  var v = $(this).prev("input[type='text']").val();
	 var value = $("<div class='positions1'>" + "<i class='fa fa-trash-o pull-right' aria-hidden='true'></i>" + v + "</div>");
			  $(this).parents(".add-position").prev(".display-positions").append(value);
	  $(".positions1 > i").click(function(){
				  $(this).parent(".positions1").remove();
			  });
				  return textval();
	  });

	$(".close-button").click(function(){
	$(this).parents(".add-position").css("display","none");
	});

});

//<!------ Instant Values added in Input Box ------->

//<!------ Total Price ------->
	var costprice, sellprice, tax, taxtotal, discount, discounttotal, shipping;

$("input[placeholder='Cost Price']").blur(function(){
	costprice = parseInt($("input[placeholder='Cost Price']").val());
	if(costprice <= 0){
		$("input[placeholder='Cost Price']").css("border","1px solid red");
		}else{$("input[placeholder='Cost Price']").css("border","1px solid #ccc");}
		});
$("input[placeholder='Selling Price']").blur(function(){
	sellprice = parseInt($("input[placeholder='Selling Price']").val());
	costprice = parseInt($("input[placeholder='Cost Price']").val());
	if(costprice <= 0){
		$("input[placeholder='Cost Price']").css("border","1px solid red");
		}
	  if(sellprice < costprice){
		  $("input[placeholder='Selling Price']").css("border","1px solid red").val(costprice);
		  $("input[placeholder='Total']").val(costprice);
		  }else{$("input[placeholder='Selling Price']").css("border","1px solid #ccc").val(sellprice);
		        $("input[placeholder='Total']").val(sellprice);}
	});
$("input[placeholder='Tax']").blur(function(){
	sellprice = parseInt($("input[placeholder='Selling Price']").val());
	tax = parseInt($("input[placeholder='Tax']").val());
	$(this).val(tax);
	taxtotal = (sellprice/100) * tax;
	var v = sellprice + taxtotal;
	$("input[placeholder='Selling Price']").css("border","1px solid #ccc").val(sellprice);
	$("input[placeholder='Total']").val(v);

	});
$("input[placeholder='Discount']").blur(function(){
	discount = parseInt($("input[placeholder='Discount']").val());
	$(this).val(discount);
	discounttotal = (sellprice/100) * discount;
	var v = sellprice + taxtotal - discounttotal;
	$("input[placeholder='Total']").val(v);
	});
$("input[placeholder='Shipping']").blur(function(){
	shipping = parseInt($("input[placeholder='Shipping']").val());
	$(this).val(shipping);
	var v = sellprice + taxtotal + shipping - discounttotal;
	$("input[placeholder='Total']").val(v);
	});
//<!------ Total Price ------->

//<!------ Total Quantity in Hand ------->
$(document).ready(function(e) {
	var len = $(".table-striped tbody > tr input[placeholder='Quantity in Hand']").length;
	var i = 0, total = 0;
    $(".table-striped tbody > tr input[placeholder='Quantity in Hand']").each(function(){
		if(i <= len){
			var val =   parseInt($(this).val());
			total += val;
			}
			 i++;
		});
		$("input[placeholder='Total Quantity in Hand']").val(total);
		//alert(total);
		var discount = (total/100) * 20;
		//alert(discount);
});
//<!------ Total Quantity in Hand ------->

//<!-------------- Veg / Non-Veg ------------------>
$(".non-consumable").click(function(){
if($(".non-consumable").attr("checked","true")){
	$(".Perishable,.Non-Perishable, .veg, .non-veg").css("display","none");
	}
	});
$(".consumable").click(function(){
if($(".consumable").attr("checked","true")){
	$(".Perishable,.Non-Perishable, .veg, .non-veg").css("display","block");
	}
	});
//<!-------------- Veg / Non-Veg ------------------>
</script>
}