
@{
    ViewBag.Title = "Delivery Note";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />

    <!-- Over Hang -->
    <link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
<div class="container-fluid padding-left-0 padding-right-0 padding-top-10 padding-bottom-10 top-strip fixed">
    <div class="row">
        <div class="form-title col-xs-12 col-md-8">PO's for Delivery Note</div>
        <div class="top-bar col-xs-12 col-md-4">
            <div class="icons pull-right">
                <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
            </div>
        </div>
    </div>
</div>
<br />
<div class="right_col" role="main">
    <div class="container">
        <form>
            <div class="row invoice-table margin-top margin-bottom">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-md-1">Select</th>
                                <th class="col-md-2">PO No</th>
                                <th class="col-md-3">Purchase Order Date</th>
                                <th class="col-md-2">Total Items</th>
                                <th class="col-md-2">Amount</th>
                                <th class="col-md-2">Delivery Note</th>

                            </tr>
                        </thead>
                        <tbody>
                          
                            @if (ViewBag.records != null)
                            {
                                if (ViewBag.records.Count != 0)
                                {
                                    foreach (var item in ViewBag.records)
                                    {

                                        <tr>
                                            <td class="col-md-1">
                                                <label><input type="checkbox" value="@item.Prchaseorder_no" id="availpocheck" onclick="checkstatus1(@item.deliverynote_status)"></label>
                                            </td>
                                            <td class="col-md-2">@item.Prchaseorder_no</td>
                                            <td class="col-md-3">@item.created_date</td>
                                            <td class="col-md-2">@item.totalQty</td>
                                            <td class="col-md-2"><text class="localization"></text><span>@item.total_price</span></td>

                                            @if (int.Parse(@item.deliverynote_status) == 1)
                                            {
                                                <td class="col-md-3">Generated</td>
                                            }
                                            else
                                            {
                                                <td class="col-md-3">Not Generated</td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"><p>No PO's Available to create a Delivery Note</p></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-xs-12 col-sm-12 col-md-12 invoice-buttons">
                    <button type="button" class="btn btn-primary pull-right invite" id="back-invoice1"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    <button type="button" class="btn btn-primary pull-right invite" id="GenarateDelivNote" onclick="genarateDelivNote()" style="display:none"> <i class="fa fa-download" aria-hidden="true"></i> Generate Delivery Note</button>
                    </div>
            </div>
            <div class="row total-border" id="completediv" style="display:none">
                <div id="deliverynote" style="display:none">
                    @{ Html.RenderAction("GenarateDeliveryNote", "Invoice");}
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <!-- jQuery lib & Tabs -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery lib & Tabs -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<!------ Tags With Space and comma ------->*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/tag-it.js"></script>

    <script src="~/Scripts/js/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/js/overhang.min.js"></script>
    @Scripts.Render("~/bundles/Invoices")
    <script>
        $(document).ready(function () {
            var dateformat = $('#dateformat').val().toLowerCase();//replace('DD', 'dd').replace('YYYY', 'yyyy').replace('MM','mm');
            //alert(dateformat);
            //alert($('#currency').val());
            //<!-------------- Date Picker ----------->
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: dateformat,
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
            //<!-------------- Date Picker  ----------->

        });


        //	<!-------------- Auto Value assign to Quantity text boxes  ----------->

        $('#back-invoice1').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });
        $('#back-invoice').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });
    </script>
}


