
<div id="forrupee" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="form-title col-xs-12 col-md-12 margin-bottom-20">Invoice</div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-xs-12 col-md-3 logo margin-bottom" id="vendor_name"> <img src="images/logo.jpg" alt="Logo" /> 
        <span class="vendorname">Xsilica Software Solutions</span> <br />
            <span class="text-bold">GSTIN : <b>ATX14678CB</b></span>
        </div>
        @{ Html.RenderAction("GetCustomerdata", "Invoice");}
        <div class="col-xs-12 col-md-3 margin-bottom">
            <div class="row padding-bottom date" id="createddate"></div>
            <div class="row invoice-total-amount" id="grandtotal"><text class="localization"></text>@ViewBag.grand_total </div>
        </div>
    </div>

    <div class="row padding-bottom">
            <div class="col-xs-12 col-md-7 to-address margin-bottom" id="companyname"> <span>To : @ViewBag.company_name</span> </div>
            <div class="col-xs-12 col-md-5 margin-bottom">
                <div class="row">
                    <div class="col-xs-12 col-md-4 po-number padding-right-0">Invoice Number</div>
                    <div class="col-xs-12 col-md-8 padding-left-0">
                        <input type="text" class="form-control" placeholder="Enter Invoice" id="invoicenum" onblur="checkinvoicenumber(this.value)" />
                    </div>
                </div>
            </div>
        </div>
   
    <div class="row po-date">
        <table class="table table-bordered col-xs-12 col-md-12">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td class="col-xs-6 col-md-2">Payment Due Date</td>
                    <td class="col-xs-6 col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                            <input class="form-control" id="pay_date" name="date" placeholder="DD/MM/YYYY" type="text" onchange="checkpaydate()" />
                        </div>
                    </td>
                    <td class="col-xs-6 col-md-2">Payment Terms</td>
                    <td class="col-xs-6 col-md-4">
                        <input type="text" class="form-control" id="paymentterms">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row padding-top invoice">
        <div class="col-xs-12 col-md-12">
            <div class="total table-responsive">
                <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                    <thead class="thead-inverse">
                        <tr>
                            <th rowspan="2" style="padding:25px 5px;">PO No</th>
                            <th rowspan="2" style="padding:25px 5px;">HSN Code</th>
                            <th rowspan="2" style="padding:25px 5px;">Product Name</th>
                            <th rowspan="2" style="padding:25px 5px;">Quantity</th>
                            <th rowspan="2" style="padding:25px 5px;">Price In <text class="localization"></text></th>
                            <th colspan="2" style="text-align:center;border:1px solid #fff;">CGST</th>
                            <th colspan="2" style="text-align:center;border:1px solid #fff;">SGST</th>
                            <th colspan="2" style="text-align:center;border:1px solid #fff;">IGST</th>
                            <th rowspan="2" style="padding:25px 5px;">Total In <text class="localization"></text></th>
                        </tr>
                        <tr>
                            <th style="border-left:1px solid #fff;border-right:1px solid #fff;">Rate</th>
                            <th style="border-right:1px solid #fff;">Amount</th>
                            <th style="border-right:1px solid #fff;">Rate</th>
                            <th style="border-right:1px solid #fff;">Amount</th>
                            <th style="border-right:1px solid #fff;">Rate</th>
                            <th style="border-right:1px solid #fff;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.records != null)
                        {
                            foreach (var item in ViewBag.records)
                            {
                                <tr>
                                    <td class="col-md-2">@item.Prchaseorder_no</td>
                                    <td class="col-md-2 image">@item.product_id </td>
                                    <td class="col-md-3 product-name"><a href="#">@item.product_name</a></td>
                                    <td class="col-md-1 quantity-changes">@item.Quantity</td>
                                    <td class="col-md-1 product-variation"><span>@item.cost_price</span></td>
                                    <td class="col-md-1 quantity-changes">2</td>
                                    <td class="col-md-1 quantity-changes">435</td>
                                    <td class="col-md-1 quantity-changes">4</td>
                                    <td class="col-md-1 quantity-changes">654</td>
                                    <td class="col-md-1 quantity-changes">3</td>
                                    <td class="col-md-1 quantity-changes">789</td>
                                    <td class="col-md-1 product-price"><span>@item.total_price</span></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 remarks margin-top">
            <label>Remarks</label>
            <textarea class="form-control" rows="3" id="comment" placeholder=""></textarea>
        </div>
        <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">@*Sub Total*@ Total Amount Before Tax<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>@ViewBag.sub_total</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Add : CGST<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>454</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Add : SGST<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>543</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Add : IGST<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>342</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Tax Amount : GST<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>4213</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Total Amount After Tax<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>42435</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5"> GST Payable on Reverse Charge<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>6546</div>
            </div>

          
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12 col-md-6 margin-top margin-bottom invoice-conditions">
            <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions</a>
            <ul class="terms-content margin-top">
                <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                <li>2) Text has been the industry's standard dummy text ever since</li>
                <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
                <li>4) Here we have industry's standard dummy text ever since</li>
                <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
                <li>6) Enter content has been the industry's standard dummy text ever since</li>
            </ul>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12 col-md-12 invoice-buttons">
            <button type="button" class="btn btn-primary pull-right invite" id="saveinvoice" onclick="saveInvoice(@ViewBag.customer_id)"> <i class="fa fa-save" aria-hidden="true"></i> Save </button>
            <button type="button" class="btn btn-primary pull-right invite" id="saveinvoice"> <i class="fa fa-close" aria-hidden="true"></i> Clear </button>
            <button type="button" class="btn btn-primary pull-right invite" id="back-invoice"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
        </div>
    </div>
</div>
    @*for dollar*@
<div id="fordollar" style="display:none">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="form-title col-xs-12 col-md-12">Invoice</div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-xs-12 col-md-3 logo margin-bottom" id="vendor_name"> <img src="images/logo.jpg" alt="Logo" /> 
        <span class="vendorname">Xsilica Software Solutions</span>
            <br />
            <span class="text-bold">GSTIN : <b>ATX14678CB</b></span>
         </div>
        @{ Html.RenderAction("GetCustomerdata", "Invoice");}
        <div class="col-xs-12 col-md-3 margin-bottom">
            <div class="row padding-bottom date" id="createddate"></div>
            <div class="row invoice-total-amount" id="grandtotal"><text class="localization"></text>@ViewBag.grand_total </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-xs-12 col-md-5 to-address margin-bottom"> <span>To : @ViewBag.company_name</span> </div>
            <div class="col-xs-12 col-md-3 margin-bottom text-bold" style="line-height: 34px;"> <span>GSTIN :</span> ATX14678CB </div>
            <div class="col-xs-12 col-md-4 margin-bottom">
                <div class="row">
                    <div class="col-xs-12 col-md-4 po-number padding-right-0">Invoice Number</div>
                    <div class="col-xs-12 col-md-8">
                        <input type="text" class="form-control" placeholder="Enter Invoice" id="invoicenum" onblur="checkinvoicenumber(this.value)">
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row po-date">
        <table class="table table-bordered col-xs-12 col-md-12">
            <thead>
            </thead>
            <tbody>
                <tr>

                    <td class="col-xs-6 col-md-2">Payment Due Date</td>
                    <td class="col-xs-6 col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                            <input class="form-control" id="pay_date" name="date" placeholder="DD/MM/YYYY" type="text" onchange="checkpaydate()" />
                        </div>
                    </td>
                    @*<td class="col-xs-6 col-md-2">Payment Due Date</td>
                    <td class="col-xs-6 col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                            <input class="form-control" id="paydate" name="date" placeholder="DD/MM/YYYY" type="text" onchange="checkpaydate()" />
                        </div>
                    </td>*@
                    <td class="col-xs-6 col-md-2">Payment Terms</td>
                    <td class="col-xs-6 col-md-4">
                        <input type="text" class="form-control" id="paymentterms">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row padding-top invoice">
        <div class="col-xs-12 col-md-12">
            <div class="total table-responsive">
                <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                    <thead class="thead-inverse">
                            <tr>
                                <th class="col-md-2">PO No</th>
                                <th class="col-md-2">HSN Code</th>
                                <th class="col-md-3">Product Name</th>
                                <th class="col-md-2">Description</th>
                                <th class="col-md-1">Quantity</th>
                                <th class="col-md-1">Price In <text class="localization"></text></th>
                                <th class="col-md-1">Total In <text class="localization"></text></th>
                            </tr>
                        </thead>
                    <tbody>
                        @if (ViewBag.records != null)
                        {
                            foreach (var item in ViewBag.records)
                            {
                                <tr>
                                    <td class="col-md-2">@item.Prchaseorder_no</td>
                                    <td class="col-md-2 image">@item.product_id </td>
                                    <td class="col-md-3 product-name"><a href="#">@item.product_name</a></td>
                                    <td class="col-md-1 quantity-changes">@item.Quantity</td>
                                    <td class="col-md-1 quantity-changes">@item.description</td>
                                    <td class="col-md-1 product-variation"><span>@item.cost_price</span></td>
                                    <td class="col-md-1 product-price"><span>@item.total_price</span></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 remarks margin-top">
            <label>Remarks</label>
            <textarea class="form-control" rows="3" id="comment" placeholder=""></textarea>
        </div>
        <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Sub Total<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>@ViewBag.sub_total</div>
            </div>

            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Vat<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7"><input id="vat" value="0" max='100' style="width:100px" onchange="calculate(@ViewBag.sub_total)">%</div>
            </div>
            <div class="row sub-total margin-bottom">
                <div class="col-xs-6 col-md-5">Discount<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7"><input id="discount" value="0" max='100' style="width:100px" onchange="calculate(@ViewBag.sub_total)">%</div>
            </div>
            <div class="row sub-total">
                <div class="col-xs-6 col-md-5">Grand Total<span class="pull-right">:</span></div>
                <div class="col-xs-6 col-md-7" id="grandtotal1"><text class="localization"></text>@ViewBag.grand_total</div>
            </div>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12 col-md-6 margin-top margin-bottom invoice-conditions">
            <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions</a>
            <ul class="terms-content margin-top">
                <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                <li>2) Text has been the industry's standard dummy text ever since</li>
                <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
                <li>4) Here we have industry's standard dummy text ever since</li>
                <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
                <li>6) Enter content has been the industry's standard dummy text ever since</li>
            </ul>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12 col-md-12 invoice-buttons">
            <button type="button" class="btn btn-primary pull-right invite" id="saveinvoice" onclick="saveInvoice(@ViewBag.customer_id)"> <i class="fa fa-save" aria-hidden="true"></i> Save </button>
            <button type="button" class="btn btn-primary pull-right invite" id="saveinvoice"> <i class="fa fa-close" aria-hidden="true"></i> Clear </button>
            <button type="button" class="btn btn-primary pull-right invite" id="back-invoice"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var currency = $('#currency').val().slice(-2).replace(')', '');
        $('.localization').html(currency);
        var dateformat = $('#dateformat').val().toLowerCase();
        n = new Date();
         //alert(dateformat);
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        var crdate = d + "/" + m + "/" + y;
        document.getElementById("createddate").innerHTML = "Date :" + d + "/" + m + "/" + y;

        var createddate = ($('#po_date').text()).split(';')[1];
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: currency,
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    });
    
</script>
<script>
   
    var currency = $('#currency').val().slice(-2).replace(')', '');
       $('.localization').html(currency);
       var currency = $('#currency').val().slice(-2).replace(')', '');
       //alert(currency);
        if (currency == "$") {
            $('#invoicegenration').css("display", "block");
            $('#fordollar').css("display", "block");
            $('#forrupee').css("display", "none");
        }
        else {
            $('#invoicegenration').css("display", "block");
            $('#forrupee').css("display", "block");
            $('#fordollar').css("display", "none");
        }
        function checkpaydate() {
            var paydate = $('#pay_date').val();
            alert(paydate);
            var today = new Date();
            var dd = today.getDate();
            var MMM = today.getMonth() + 1;
            if (MMM < 10) {
                MMM = '0' + MMM
            }
            var yyyy = today.getFullYear();
            today1 = dd + '/' + MMM + '/' + yyyy;
            a = new Date(yyyy, MMM, dd);
            b = new Date(paydate.split('/')[2], paydate.split('/')[1], paydate.split('/')[0]);
            if (b <= a) {
                warnmsg("Select a Valid Date.");
                $('#pay_date').val("");
            }
        }
        //function checkpaydate() {
        //    var paydate = $('#pay_date').val();
        //    alert(paydate.format('dd/mm/yyyy'));
        //    var today = new Date();
        //    var dd = today.getDate();
        //    var MMM = today.getMonth() + 1;
        //    if (MMM < 10) {
        //        MMM = '0' + MMM
        //    }
           
        //    var yyyy = today.getFullYear();
        //    a = new Date(yyyy,MMM,dd);
        //    b = new Date(paydate.split('/')[2], paydate.split('/')[0], paydate.split('/')[1]);
        //    if (b <= a) {
        //        warnmsg("Select a Valid Date.");
        //        $('#pay_date').val("");
        //    }
           
        //} 


        $('#back-invoice').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });

        function warnmsg(msg) {
            $("body").overhang({
                type: "warn",
                message: msg,
                duration: 3
            });
        }

</script>

  
