<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="row">
            <div class="form-title col-xs-12 col-md-12">Invoice</div>
        </div>
    </div>
</div>

<div class="row margin-bottom">
    <div class="col-xs-12 col-md-3 logo margin-bottom" id="vendor_name"> <img src="images/logo.jpg" alt="Logo" /> <span class="vendorname">Xsilica Software Solutions</span> </div>
    @{ Html.RenderAction("GetCustomerdata", "Invoice");}
    <div class="col-xs-12 col-md-3 margin-bottom">
        <div class="row padding-bottom date" id="createddate"></div>
        <div class="row invoice-total-amount" id="grandtotal"> <text class="localization"></text>@ViewBag.grand_total </div>
    </div>
   
    <div class="row padding-bottom">
        <div class="col-xs-12 col-md-7 to-address margin-bottom" id="companyname"> <span>To : @ViewBag.company_name</span> </div>
        <div class="col-xs-12 col-md-5 margin-bottom">
            <div class="row">
                <div class="col-xs-12 col-md-4 po-number">Invoice Number</div>
                <div class="col-xs-12 col-md-8">
                    <input type="text" class="form-control" placeholder="Enter Invoice" id="invoicenum" onblur="checkponumber(this.value)" />
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="row po-date">
    <table class="table table-bordered col-xs-12 col-md-12">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td class="col-xs-6 col-md-2">Payment Due Date</td>
                <td class="col-xs-6 col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                        <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" />
                    </div>
                </td>
                <td class="col-xs-6 col-md-2">Payment Terms</td>
                <td class="col-xs-6 col-md-4">
                    <input type="text" class="form-control" id="paymentterms">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row padding-top invoice">
    <div class="col-xs-12 col-md-12">
        <div class="total table-responsive">
            <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                <thead class="thead-inverse">
                    <tr>
                        <th class="col-md-2">PO No</th>
                        <th class="col-md-2">Product id</th>
                        <th class="col-md-3">Product Name</th>
                        <th class="col-md-2">Description</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-1">Price</th>
                        <th class="col-md-1">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.records != null)
                    {
                        foreach (var item in ViewBag.records)
                        {
                            <tr>
                                <td class="col-md-2">@item.Prchaseorder_no</td>
                                <td class="col-md-2 image">@item.product_id </td>
                                <td class="col-md-3 product-name"><a href="#">@item.product_name</a></td>
                                <td class="col-md-2 product-variation"><span>@item.description</span></td>
                                <td class="col-md-1 quantity-changes">@item.Quantity</td>
                                <td class="col-md-1 product-variation"><text class="localization"></text> <span>@item.cost_price</span></td>
                                <td class="col-md-1 product-price"><text class="localization"></text> <span>@item.total_price</span></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 remarks margin-top">
        <label>Remarks</label>
        <textarea class="form-control" rows="3" id="comment" placeholder=""></textarea>
    </div>
    <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
        <div class="row sub-total margin-bottom">
            <div class="col-xs-6 col-md-5">Sub Total<span class="pull-right">:</span></div>
            <div class="col-xs-6 col-md-7" id="subtotal"><text class="localization"></text>@ViewBag.sub_total</div>
        </div>
        <div class="row sub-total margin-bottom">
            <div class="col-xs-6 col-md-5">Vat<span class="pull-right">:</span></div>
            <div class="col-xs-6 col-md-7" id="vat">@ViewBag.vat%</div>
        </div>
        <div class="row sub-total margin-bottom">
            <div class="col-xs-6 col-md-5">Discount<span class="pull-right">:</span></div>
            <div class="col-xs-6 col-md-7" id="discount">@ViewBag.discount%</div>
        </div>
        <div class="row sub-total">
            <div class="col-xs-6 col-md-5">Grand Total<span class="pull-right">:</span></div>
            <div class="col-xs-6 col-md-7" id="grandtotal1"><text class="localization"></text>@ViewBag.grand_total</div>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="col-xs-12 col-md-6 margin-top margin-bottom invoice-conditions">
        <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions</a>
        <ul class="terms-content margin-top">
            <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            <li>2) Text has been the industry's standard dummy text ever since</li>
            <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
            <li>4) Here we have industry's standard dummy text ever since</li>
            <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
            <li>6) Enter content has been the industry's standard dummy text ever since</li>
        </ul>
    </div>
</div>
<div class="row margin-top">
    <div class="col-xs-12 col-md-12 invoice-buttons">
        <button type="button" class="btn btn-primary pull-right invite" id="saveinvoice" onclick="saveInvoice(@ViewBag.customer_id)"> <i class="fa fa-save" aria-hidden="true"></i> Save </button>
        <button type="button" class="btn btn-primary pull-right invite" id="saveinvoice"> <i class="fa fa-close" aria-hidden="true"></i> Clear </button>
        <button type="button" class="btn btn-primary pull-right invite" id="back-invoice"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
        <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
        <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var currency = $('#currency').val().slice(-2).replace(')', '');
        $('.localization').html(currency);
        var dateformat = $('#dateformat').val().toLowerCase();
        n = new Date();
       // alert(n.toString(""+dateformat+""));
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        var crdate = d + "/" + m + "/" + y;
        document.getElementById("createddate").innerHTML = "Date :" + d + "/" + m + "/" + y;

        //$('#createddate').dateformat(dateformat);
        
            var createddate = ($('#po_date').text()).split(';')[1];
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: dateformat,
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        });
    

        $('#back-invoice').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });

</script>