<div class="row">
    <div class="col-xs-12 col-md-12 to-address margin-top margin-bottom"> <span>Delivery Note</span> </div>
</div>
<div class="row margin-bottom">
    <div class="col-xs-12 col-md-3 logo margin-bottom" id="vendor_name"> <img src="/images/logo.jpg" alt="Logo"> <span class="vendorname">Xsilica Software Solutions</span> </div>

    @{ Html.RenderAction("GetCustomerdata", "Invoice");}

    <div class="col-xs-12 col-md-3 margin-bottom">
        <div class="row padding-bottom date" id="createddatedeliv"></div>
        <div class="row invoice-total-amount" id="grandTotal"> <text class="localization"></text>@ViewBag.grand_total </div>
       
    </div>
</div>
<div class="col-xs-12 col-md-5 margin-bottom">
    <div class="row">
        <div class="col-xs-12 col-md-4 po-number">Delivery Note Number</div>
        <div class="col-xs-12 col-md-8">
           
            <input type="text" class="form-control" placeholder="Enter Delivery Note Number" id="delivnotenum" onblur="checkdelivnote(this.value)" />
        </div>
    </div>
</div>
<div class="row padding-top invoice">
    <div class="col-xs-12 col-md-12">
        <div class="total table-responsive">
            <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                <thead class="thead-inverse">
                    <tr>
                        <th class="col-xs-3 col-sm-3 col-md-3">Product Name</th>
                        <th class="col-xs-3 col-sm-3 col-md-2">Description</th>
                        <th class="col-xs-1 col-sm-1 col-md-2">PO Qty</th>
                        <th class="col-xs-1 col-sm-1 col-md-1">Deliver Qty</th>
                        <th class="col-xs-2 col-sm-2 col-md-2">Price</th>
                        <th class="col-xs-1 col-sm-1 col-md-1">Total</th>
                        <th class="col-xs-1 col-sm-1 col-md-1">Button</th>
                    </tr>
                </thead>
                @if (ViewBag.records != null)
                {
                    foreach (var item in ViewBag.records)
                    {
                        <tbody>
                            <tr>
                                <td class="col-xs-3 col-sm-3 col-md-3 product-name">@item.product_name</td>
                                <td class="col-xs-3 col-sm-3 col-md-2 product-name"><span>@item.description</span></td>
                                <td class="col-xs-1 col-sm-1 col-md-2 quantity-price">@item.Quantity</td>
                                <td class="col-xs-1 col-sm-1 col-md-1 delivery-qty">@item.Quantity</td>
                                <td class="col-xs-2 col-sm-2 col-md-2 product-price"><text class="localization"></text> <span>@item.cost_price</span></td>
                                <td class="col-xs-1 col-sm-1 col-md-1 product-price"><text class="localization"></text> <span>@item.total_price</span></td>
                                <td class="col-xs-1 col-sm-1 col-md-1"><button class="btn-default">+</button></td>
                            </tr>

                        </tbody>
                    }
                }
            </table>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 remarks margin-top">
        <label>Remarks</label>
        <textarea class="form-control" rows="3" id="coMment"></textarea>
    </div>
    <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
        <div class="row sub-total margin-bottom">
            <div class="col-xs-6 col-md-5">Total<span class="pull-right">:</span></div>
            <div class="col-xs-6 col-md-7" id="subTotal"><text class="localization"></text>@ViewBag.sub_total</div>
        </div>
        
    </div>
</div>
<div class="row margin-top">
    <div class="col-xs-12 col-md-6 margin-top margin-bottom invoice-conditions">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions
        <ul class="terms-content margin-top">
            <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
            <li>2) Text has been the industry's standard dummy text ever since</li>
            <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
            <li>4) Here we have industry's standard dummy text ever since</li>
            <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
            <li>6) Enter content has been the industry's standard dummy text ever since</li>
        </ul>
    </div>
</div>
<div class="row margin-top">
    <div class="col-xs-12 col-md-12 invoice-buttons">
        <button type="button" class="btn btn-primary pull-right invite" id="savedeliverynote" onclick="saveDeliverynote(@ViewBag.customer_id)"> <i class="fa fa-save" aria-hidden="true"></i> Save </button>
        <button type="button" class="btn btn-primary pull-right invite" id="cleardeliv"> <i class="fa fa-close" aria-hidden="true"></i> Clear </button>
        <button type="button" class="btn btn-primary pull-right invite" id="back-invoice"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
        <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
        <button type="button" class="btn btn-primary pull-right invite" id="add-vendor3"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
    </div>
</div>

<script>
    var currency = $('#currency').val().slice(-2).replace(')', '');
    $('.localization').html(currency);
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("createddatedeliv").innerHTML = "Date :" + d + "/" + m + "/" + y;


    $('#back-invoice').click(function () {
        document.location = '@Url.Action("Index", "Customer")';
    });

</script>
