
@if (ViewBag.records != null)
{
    foreach (var item in ViewBag.records)
    {
        <div class="address col-xs-12 col-md-3 margin-bottom">
            <span>Billing Address</span><br />
            @item.bill_street,<br />
            @item.bill_city,<br />
            @item.bill_state,<br />
            @item.bill_postalcode,<br />
            @item.bill_country.
        </div>
        <div class="address col-xs-12 col-md-3 margin-bottom">
            <span>Shipping Address</span><br />
            @item.ship_street,<br />
            @item.ship_city,<br />
            @item.ship_state,<br />
            @item.ship_postalcode,<br />
            @item.ship_country.
        </div>
        
        
    }
}