@model Inventory.Models.Warehouse
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}
<div class="right_col" role="main">
    <div class="container" id="warehouse">
        <form method="post" action="#" id="myform">
            @Html.HiddenFor(Model => Model.wh_Id, new { Value = @ViewBag.wh_Id })

            <div class="row">
                <button type="button" class="btn btn-primary pull-right invite" id="add-wh"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add warehouse </button>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table  table-borderedtable-striped bulk_action" id="whtable">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Warehouse Name</th>
                                <th>Shortname</th>
                                <th>Contact Person</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.records)
                            {
                                <tr>
                                    <td> @item.wh_name </td>
                                    <td> @item.wh_Shortname </td>
                                    <td>@item.conperson</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            <ul class="dropdown-menu">
                                                <li> <a href="#" onclick="getEditDetails(@item.wh_Id.TrimEnd())"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Warehouse</a> </li>
                                                <li> <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Warehouse</a> </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="wh-information">
                <div class="col-md-12 form-title">Warehouse Information</div>
                <div class="col-md-6">
                    <div class="row">
                       @if (ViewBag.Warehouse != null)
                       {
                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.wh_name, new { placeholder = "Warehouse Name", @id = "wh_Name", required = "required", @class = "form-control", Value = ViewBag.wh_name })
                            </div>
                            <div class="form-group col-md-5">

                                @Html.TextBoxFor(Model => Model.wh_Shortname, new { placeholder = "Short Name", @id = "wh_sname", required = "required", @class = "form-control", Value = ViewBag.wh_Shortname })
                            </div>
                       }
                       else
                       {
                        <div class="form-group col-md-4">
                            @Html.TextBoxFor(Model => Model.wh_name, new { placeholder = "Warehouse Name", @id = "wh_Name", required = "required", @class = "form-control", Value = ViewBag.wh_name })
                        </div>
                            <div class="form-group col-md-5">

                                @Html.TextBoxFor(Model => Model.wh_Shortname, new { placeholder = "Short Name", @id = "wh_sname", required = "required", @class = "form-control", Value = ViewBag.wh_Shortname })
                            </div>
                       }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default pull-right" id="wh-information-cancel"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                            <button type="button" class="btn btn-primary pull-right save" id="mySubmit" onclick="editwh(this.value)" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        </div>
                    </div>
                    
                   
                        
                </div>
                <div id="addinfo"><a style="cursor: pointer;" id="additon"><i class="fa fa-plus-circle" aria-hidden="true"></i> Additional Inforamtion</a></div>
                <div class="col-md-3 col-md-push-3">
                    <div class="top-button">
                        <input type="file">
                        <span>W</span>
                    </div>
                    <div>Upload warehouse Logo</div>
                </div>
            </div>
            <div class="row" id="wh-information1">
                <!--------- Tab Section START ------------>
                <div class="col-md-12">
                    <div class="cd-tabs">
                        <nav>
                            <ul class="cd-tabs-navigation">
                                <li><a data-content="address" class="selected" href="#0">Address</a></li>
                                <li><a data-content="contactperson" href="#0">Contact Person</a></li>
                                <li><a data-content="notes" href="#0">Notes</a></li>
                            </ul>
                            <!-- cd-tabs-navigation -->
                        </nav>
                        <ul class="cd-tabs-content">
                            <li data-content="address" class="selected">
                                <div class="row">
                                    <div class="col-md-6 padding-top padding-bottom">
                                        <div class="row col-md-12">
                                            <h2 class="form-title">Billing address<a href="#">map</a></h2>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="bill_street" id="bill_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_city" id="bill_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_state" id="bill_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_postalcode" id="bill_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_country" id="bill_country" placeholder="Country">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-top padding-bottom shipping">
                                        <div class="row">
                                            <h2 class="form-title col-md-6">Shipping address<a href="#">map</a></h2>
                                            <div class="checkbox col-md-6">
                                                <label>
                                                    <input type="checkbox">
                                                    Same as billing address
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="ship_street" id="ship_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_city" id="ship_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_state" id="ship_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_postalcode" id="ship_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_country" id="ship_country" placeholder="Country">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="btnclose3">Cancel</button>
                                        <button type="button" class="btn btn-primary pull-right" id="mySubmit1" name="command" value="saveaddress" onclick="editwhaddress(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Address</button>
                                    </div>
                                </div>
                            </li>

                            <li data-content="contactperson" class="contactperson">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                @*<input type="text" class="form-control" placeholder="First Name">*@
                                                <input type="text" class="form-control" name="Contact_PersonFname" id="Contact_PersonFname" placeholder="First Name">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                @*<input type="text" class="form-control" placeholder="Mobile Number">*@
                                                <input type="text" class="form-control" name="Mobile_No" placeholder="Mobile" id="Mobile_No">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                @*<input type="text" class="form-control" placeholder="Mobile Number">*@
                                                <input type="text" class="form-control" name="Phone" placeholder="Phone" id="Phone">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            @*<input type="text" class="form-control" placeholder="E-mail">*@
                                            <input type="text" class="form-control" name="emailid" id="emailid" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-6">
                                            @*<input type="text" class="form-control selected-position" placeholder="Job Position">*@
                                            <input type="text" class="form-control selected-position" name="Job_position" id="Job_position" placeholder="Job position">
                                            <div class="display-positions">
                                                <div class="positions1 position"><i class="fa fa-plus-circle" aria-hidden="true"></i>Job Position</div>
                                                <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>One</div>
                                                <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Two</div>
                                                <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Three</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row add-position">
                                        <div class="row">
                                            <input type="text" class="form-control" placeholder="Enter Position">
                                            <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                            <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                        </div>
                                        <div class="row positions"></div>
                                    </div>
                                </div>
                    
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default pull-right" id= "wh-information1-cancel"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                            <button type="button" class="btn btn-primary pull-right" id="contactbutton" value="savecontact" onclick="UpdateContact(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Contact</button>
                        </div>
                    </div>
                   @*--------------------------------contactinfo table-----------------------------------------------*@
                                <div class="row" id="contactdiv">
                                    <div class="col-md-12 table-responsive table-hover">
                                        <table class="table" id="contacttable">
                                            <thead class="thead-inverse">
                                                <tr>
                                                   
                                                    <th>First Name</th>
                                                  
                                                    <th>Mobile Number</th>
                                                    <th>E-Mail</th>
                                                    
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in ViewBag.contact)
                                                {
                                                    <tr>
                                                        @*<th scope="row">1</th>*@
                                                        <td>@item.conperson</td>
                                                        
                                                        <td>@item.Mobile</td>
                                                        <td>@item.Email</td>
                                                        
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                                                <ul class="dropdown-menu">
                                                                    <li> <a href="#"  onclick="getEditContactDetails(@item.wh_Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Warehouse</a> </li>
                                                                    <li> <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Warehouse</a> </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </li>

                    <li data-content="notes">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @*<textarea class="form-control" rows="5" id="comment" placeholder="Notes"></textarea>*@
                                        <textarea class="form-control" rows="5" placeholder="Notes" id="Note" name="Note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default pull-right"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                                <button type="button" class="btn btn-primary pull-right" value="Save Note" id="notebutton" onclick="updatewhnote(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Note</button>
                            </div>
                        </div>
                    </li>




                    </ul>
                    <!-- cd-tabs-content -->
                </div>
                <!-- cd-tabs -->

            </div>

            <!--------- Tab Section END ------------>
    </div>
    </form>
</div>
</div>


@section scripts{
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script src="~/Scripts/Warehouse.js"></script>
    @*<script src="jquery.js"></script>*@
    <script>
      
        $("#add-wh").click(function () {
            $("#wh-information").css("display", "block");
            $("#contacttable").css("display", "none");
           
            $("#wh-information input, .cd-tabs input, .cd-tabs textarea").val("");
            $("#addinfo").hide();
        });
        $("#wh-information-cancel").click(function () {
            $("#wh-information input").val("");
            $("#wh-information1 input, .cd-tabs input, .cd-tabs textarea").val("");
            
        });

        $("#wh-information1-cancel").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
        });
        $("#save-reset").click(function () {
            $(".contactperson input").val("");
        });

       
    </script>
    <script>
       
        $("input[type='checkbox']").change(function () {
            if ($("input[type='checkbox']").is(':checked')) {
                $("[id='ship_street']").val($("[id='bill_street']").val());
                $("[id='ship_city']").val($("[id='bill_city']").val());
                $("[id='ship_state']").val($("[id='bill_state']").val());
                $("[id='ship_postalcode']").val($("[id='bill_postalcode']").val());
                $("[id='ship_country']").val($("[id='bill_country']").val());
            }
            else {
                $("[id='ship_street']").val("");
                $("[id='ship_city']").val("");
                $("[id='ship_state']").val("");
                $("[id='ship_postalcode']").val("");
                $("[id='ship_country']").val("");
            }
        });
    </script>
    <script>
        $(document).ready(function (e) {
            $(".top-button").each(function () {
                var colors = ["#f4511e", "#7e57c2", "#455a64", "#512da8", "#c2185b", "#5c6bc0", "#0288d1", "#f4511e", "#ef6c00", "#0097a7", "#5c6bc0", "#5d4037"];
                var len = colors.length;
                var rand = Math.floor(Math.random() * len);
                $(this).css("background", colors[rand]);
            });

            $("#wh-information").css("display", "none");

            $('#whtable').after('<div id="nav"></div>');
            var rowsShown = 3;
            var rowsTotal = $('#whtable tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" class="btn btn-success" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#whtable tbody tr').hide();
            $('#whtable tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#whtable tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                        css('display', 'table-row').animate({ opacity: 1 }, 300);
            });


            $(".cd-tabs").css("display", "none");
           
            $("#additon").click(function () {
                $(".cd-tabs").css("display", "block");
            });

        });
    </script>
    <script>
        $("#add").click(function (e) {
            var len = $(".contactperson #clone-content").length;
            if (len < 2) {
                var v = $("li.contactperson > div.row:first-of-type > div:last-of-type");
                $("#clone-content").clone().appendTo(v);
            }
        });
        </script>
    <script>
        function textval() {
            $(".display-positions .positions1").click(function () {
                var c = $(this).text();
                $("input.selected-position").val(c);
                $(".display-positions").css("display", "none");
            });
        }

        $(".positions1 > i").click(function () {
            $(this).parent(".positions1").remove();
        });

        $(".selected-position").click(function () {
            $(".display-positions").css("display", "block");
            return textval();
        });

        $(".display-positions .position").click(function () {
            $(".add-position").css("display", "block");

            $(".add-position .add-button").click(function () {
                var v = $(".add-position input[type='text']").val();
                var value = $("<div class='positions1'>" + "<i class='fa fa-trash-o pull-right' aria-hidden='true'></i>" + v + "</div>");
                $(".form-group .display-positions").append(value);
                $(".positions1 > i").click(function () {
                    $(this).parent(".positions1").remove();
                });
                return textval();
            });

            $(".close-button").click(function () {
                $(".add-position").css("display", "none");
            });

        });
    </script>
    <script>
        function editFunction(array) {

            $('#wh-information').css('display', 'block');
            $("#contacttable").css("display", "block");
            $(".cd-tabs").css("display", "block");
            $('#wh_Id').val(array.wh_Id);
            $('#wh_Name').val(array.wh_name);
            $('#wh_sname').val(array.wh_Shortname);
            $('#bill_street').val(array.bill_Street);
            $('#bill_city').val(array.bill_City);
            $('#bill_state').val(array.bill_State);
            $('#bill_postalcode').val(array.bill_Postalcode);
            $('#bill_country').val(array.bill_Country);
            $('#ship_street').val(array.ship_Street);
            $('#ship_city').val(array.ship_City);
            $('#ship_state').val(array.ship_State);
            $('#ship_postalcode').val(array.ship_Postalcode);
            $('#ship_country').val(array.ship_Country);
            $('#Contact_PersonFname').val(array.conperson);
            $('#Phone').val(array.phone);
            $('#Mobile_No').val(array.Mobile);
            $('#emailid').val(array.Email);
            $('#Job_position').val(array.Job_position);
            $('#Note').val(array.Note);
        }

        //Get Particular warehouse Record
        function getEditDetails(id) {
            alert(id);
            $('#mySubmit').val("update").text("Update Warehouse");
            $('#mySubmit1').val("updateaddress").text("Update Address");
            $('#notebutton').val("updatenote").text("Update Note");
            $('#contactbutton').val("updatecontact").text("Update Contact");

            $('#btnedit').click(function () {
                $('#warehouse').css('display', 'none');
            });

            $.ajax({
                url: '/Warehouse/getallwhdetails?wh_Id=' + id,
                type: 'POST',
                data: JSON.stringify({ wh_Id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "unique") {
                        alert("Success");
                    }
                    else {
                        var array = JSON.parse(data);
                        editFunction(array);
                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });
        }
        //Particular Warehouse
        function editwh(clickedvalue) {
            alert(clickedvalue);

            $('#update').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#update').click(function () {
                $('#additional').css('display', 'none');
            });
            wh_Id = $('#wh_Id').val();
            wh_Name = $('#wh_Name').val();
            wh_sname = $('#wh_sname').val();
            if ((wh_Name == "") || (wh_sname == "")) {
                if (wh_Name == "")
                    alert("Please Enter Warehouse Name");
                else
                    alert("Please Enter Shortname");
            }
            else {

                if (clickedvalue == 'update') {
                    $.ajax({
                        url: '/Warehouse/updatewarehouse?wh_Id=' + wh_Id + '&wh_Name=' + wh_Name + '& wh_sname=' + wh_sname,
                        type: 'POST',
                        data: JSON.stringify({ wh_Id, wh_Name, wh_sname }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                $('#savebutton').hide();
                                alert("Warehouse Updated sucessfully");
                            }
                            else {
                                alert("Warehouse not updated");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
                if (clickedvalue == 'Save') {

                    $.ajax({
                        url: '/Warehouse/insertwhdtls?wh_Name=' + wh_Name + '& wh_sname=' + wh_sname,
                        type: 'POST',
                        data: JSON.stringify({ wh_Name, wh_sname }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                $("#whtable").load(" #whtable");
                                $('#savebutton').hide();
                                alert("Warehouse saved sucessfully");
                            }
                            else {
                                alert("Warehouse not saved");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
            }
        }
        //Particular Warehouse Address
        function editwhaddress(clickedvalue) {
            alert(clickedvalue);
            $('#updateaddress').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updateaddress').click(function () {
                $('#additional').css('display', 'none');
            });
            wh_Id = $('#wh_Id').val();
            bill_street = $('#bill_street').val();
            bill_city = $('#bill_city').val();
            bill_state = $('#bill_state').val();
            bill_postalcode = $('#bill_postalcode').val();
            bill_country = $('#bill_country').val();
            ship_street = $('#ship_street').val();
            ship_city = $('#ship_city').val();
            ship_state = $('#ship_state').val();
            ship_postalcode = $('#ship_postalcode').val();
            ship_country = $('#ship_country').val();

            if (clickedvalue == 'updateaddress') {
                $.ajax({
                    url: '/Warehouse/updatewhaddress?wh_Id=' + wh_Id + '&bill_street=' + bill_street + '& bill_city=' + bill_city + '&bill_state=' + bill_state + '& bill_postalcode=' + bill_postalcode + '&bill_country=' + bill_country + '& ship_street=' + ship_street + '&ship_city=' + ship_city + '& ship_state=' + ship_state + '&ship_postalcode=' + ship_postalcode + '& ship_country=' + ship_country,
                    type: 'POST',
                    data: JSON.stringify({ wh_Id, bill_street, bill_city, bill_state, bill_postalcode, bill_country, ship_street, ship_city, ship_state, ship_postalcode, ship_country }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();

                            alert("Updated sucessfully");
                        }
                        else {
                            alert("Adress  not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'saveaddress') {

                $.ajax({
                    url: '/Warehouse/insertwhaddress?wh_Id=' + wh_Id + '&bill_street=' + bill_street + '& bill_city=' + bill_city + '&bill_state=' + bill_state +
                           '& bill_postalcode=' + bill_postalcode + '&bill_country=' + bill_country + '& ship_street=' + ship_street + '&ship_city=' + ship_city +
                           '& ship_state=' + ship_state + '&ship_postalcode=' + ship_postalcode + '& ship_country=' + ship_country,
                    type: 'POST',
                    data: JSON.stringify({
                        wh_id, bill_street, bill_city, bill_state, bill_postalcode,
                        bill_country, ship_street, ship_city, ship_state, ship_postalcode, ship_country
                    }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "sucess") {
                            $('#savebutton').hide();

                            alert("Address Saved sucessfully");
                        }
                        else {
                            alert("not Saved");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }

        //warehouse Note
        function updatewhnote(clickedvalue) {
            alert(clickedvalue);
            $('#updatenote').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updatenote').click(function () {
                $('#additional').css('display', 'none');
            });
            wh_Id = $('#wh_Id').val();
            Note = $('#Note').val();
            if (clickedvalue == 'updatenote') {
                $.ajax({
                    url: '/Warehouse/updatewhnotes?wh_Id=' + wh_Id + '&Note=' + Note,
                    type: 'POST',
                    data: JSON.stringify({ wh_Id, Note }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();

                            alert("Updated sucessfully");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'Save Note') {
                $.ajax({
                    url: '/Warehouse/insertwhnotes?wh_Id=' + wh_Id + '&Note=' + Note,
                    type: 'POST',
                    data: JSON.stringify({ wh_id, Note }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "sucess") {
                            $('#savebutton').hide();
                            alert("Saved sucessfully");
                        }
                        else {
                            alert("Notes not Saved");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }
        //Contact Person
        function UpdateContact(clickedvalue) {
            alert(clickedvalue);
            $('#updatecontact').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updatecontact').click(function () {
                $('#additional').css('display', 'none');
            });
            wh_Id = $('#wh_Id').val();
            Contact_PersonFname = $('#Contact_PersonFname').val();
            Phone= $('#Phone').val();
            Mobile_No = $('#Mobile_No').val();
            emailid = $('#emailid').val();
            Job_position = $('#Job_position').val();
            if (clickedvalue == 'savecontact') {
                $.ajax({
                    url: '/Warehouse/insertwhcontact?wh_Id=' + wh_Id + '&Contact_PersonFname=' + Contact_PersonFname + '&Phone=' +Phone + '&Mobile_No=' + Mobile_No + '&emailid=' + emailid +  '&Job_position=' + Job_position,
                    type: 'POST',
                    data: JSON.stringify({ wh_id, Contact_PersonFname,Phone, Mobile_No, emailid , Job_position }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "sucess") {
                            $('#savebutton').hide();

                            alert("saved sucessfully");
                        }
                        else {
                            alert("not saved");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'updatecontact') {
                $.ajax({
                    url: '/Warehouse/updatewhcontact',
                    type: 'POST',
                    data: JSON.stringify({ wh_Id: wh_Id, Contact_PersonFname: Contact_PersonFname, Phone: Phone, Mobile_No: Mobile_No, emailid: emailid, Job_position:Job_position }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            alert("Contact Details updated sucessfully");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }
       </script>
    
}






