@model Inventory.Models.Warehouse
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}
<div class="right_col" role="main">
    <div class="container" id="warehouse">

        <form method="post" action="#" id="myform">
            @Html.HiddenFor(Model => Model.wh_Id, new { Value = @ViewBag.wh_Id })
            @Html.HiddenFor(Model => Model.con_id, new { Value = @ViewBag.con_id })
            @*<input type="hidden" id="maxid" value="@ViewBag.wh_id">*@
            <div class="row">
                <button type="button" class="btn btn-primary pull-right invite" id="add-wh"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add warehouse </button>
            </div>
            <div class="row" id="wh">

                @{Html.RenderAction("WarehouseDetails", "Warehouse");}
            </div>
            <div class="row" id="wh-information">
                <div class="col-md-12 form-title">Warehouse Information</div>
                <div class="col-md-6">
                    <div class="row">
                        @if (ViewBag.Warehouse != null)
                        {
                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.wh_name, new { placeholder = "Warehouse Name", @id = "wh_Name", required = "required", @class = "form-control", Value = ViewBag.wh_name })
                            </div>
                            <div class="form-group col-md-5">

                                @Html.TextBoxFor(Model => Model.wh_Shortname, new { placeholder = "Short Name", @id = "wh_sname", required = "required", @class = "form-control", Value = ViewBag.wh_Shortname })
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.wh_name, new { placeholder = "Warehouse Name", @id = "wh_Name", required = "required", @class = "form-control", Value = ViewBag.wh_name })
                            </div>
                            <div class="form-group col-md-5">

                                @Html.TextBoxFor(Model => Model.wh_Shortname, new { placeholder = "Short Name", @id = "wh_sname", required = "required", @class = "form-control", Value = ViewBag.wh_Shortname })
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default pull-right" id="wh-information-cancel"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                            <button type="button" class="btn btn-primary pull-right save" id="mySubmit" onclick="editwh(this.value)" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        </div>
                    </div>


                    <div id="addinfo"><a style="cursor: pointer;" id="additon"><i class="fa fa-plus-circle" aria-hidden="true"></i> Additional Inforamtion</a></div>
                </div>

                @*<div class="col-md-3 col-md-push-3">
                        <div class="top-button">
                            <input type="file">
                            <span>W</span>
                        </div>
                        <div>Upload warehouse Logo</div>
                    </div>*@
            </div>
            <div class="row" id="wh-information1">
                <!--------- Tab Section START ------------>
                <div class="col-md-12">
                    <div class="cd-tabs">
                        <nav>
                            <ul class="cd-tabs-navigation">
                                <li><a data-content="address" class="selected" href="#0">Address</a></li>
                                <li><a data-content="contactperson" href="#0">Contact Person</a></li>
                                <li><a data-content="notes" href="#0">Notes</a></li>
                                <li><a data-content="Gallery" href="#0">Gallery</a></li>
                            </ul>
                            <!-- cd-tabs-navigation -->
                        </nav>
                        <ul class="cd-tabs-content">
                            <li data-content="address" class="selected">
                                <div class="row">
                                    <div class="col-md-6 padding-top padding-bottom">
                                        <div class="row col-md-12">
                                            <h2 class="form-title">Billing address<a href="#">map</a></h2>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="bill_street" id="bill_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_city" id="bill_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_state" id="bill_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_postalcode" id="bill_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <select class="form-control" name="bill_country" id="bill_country" placeholder="Country">
                                                    <option value="AFG">Afghanistan</option>
                                                    <option value="ALA">Åland Islands</option>
                                                    <option value="ALB">Albania</option>
                                                    <option value="DZA">Algeria</option>
                                                    <option value="ASM">American Samoa</option>
                                                    <option value="AND">Andorra</option>
                                                    <option value="AGO">Angola</option>
                                                    <option value="AIA">Anguilla</option>
                                                    <option value="ATA">Antarctica</option>
                                                    <option value="ATG">Antigua and Barbuda</option>
                                                    <option value="ARG">Argentina</option>
                                                    <option value="ARM">Armenia</option>
                                                    <option value="ABW">Aruba</option>
                                                    <option value="AUS">Australia</option>
                                                    <option value="AUT">Austria</option>
                                                    <option value="AZE">Azerbaijan</option>
                                                    <option value="BHS">Bahamas</option>
                                                    <option value="BHR">Bahrain</option>
                                                    <option value="BGD">Bangladesh</option>
                                                    <option value="BRB">Barbados</option>
                                                    <option value="BLR">Belarus</option>
                                                    <option value="BEL">Belgium</option>
                                                    <option value="BLZ">Belize</option>
                                                    <option value="BEN">Benin</option>
                                                    <option value="BMU">Bermuda</option>
                                                    <option value="BTN">Bhutan</option>
                                                    <option value="BOL">Bolivia, Plurinational State of</option>
                                                    <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                                                    <option value="BIH">Bosnia and Herzegovina</option>
                                                    <option value="BWA">Botswana</option>
                                                    <option value="BVT">Bouvet Island</option>
                                                    <option value="BRA">Brazil</option>
                                                    <option value="IOT">British Indian Ocean Territory</option>
                                                    <option value="BRN">Brunei Darussalam</option>
                                                    <option value="BGR">Bulgaria</option>
                                                    <option value="BFA">Burkina Faso</option>
                                                    <option value="BDI">Burundi</option>
                                                    <option value="KHM">Cambodia</option>
                                                    <option value="CMR">Cameroon</option>
                                                    <option value="CAN">Canada</option>
                                                    <option value="CPV">Cape Verde</option>
                                                    <option value="CYM">Cayman Islands</option>
                                                    <option value="CAF">Central African Republic</option>
                                                    <option value="TCD">Chad</option>
                                                    <option value="CHL">Chile</option>
                                                    <option value="CHN">China</option>
                                                    <option value="CXR">Christmas Island</option>
                                                    <option value="CCK">Cocos (Keeling) Islands</option>
                                                    <option value="COL">Colombia</option>
                                                    <option value="COM">Comoros</option>
                                                    <option value="COG">Congo</option>
                                                    <option value="COD">Congo, the Democratic Republic of the</option>
                                                    <option value="COK">Cook Islands</option>
                                                    <option value="CRI">Costa Rica</option>
                                                    <option value="CIV">Côte d'Ivoire</option>
                                                    <option value="HRV">Croatia</option>
                                                    <option value="CUB">Cuba</option>
                                                    <option value="CUW">Curaçao</option>
                                                    <option value="CYP">Cyprus</option>
                                                    <option value="CZE">Czech Republic</option>
                                                    <option value="DNK">Denmark</option>
                                                    <option value="DJI">Djibouti</option>
                                                    <option value="DMA">Dominica</option>
                                                    <option value="DOM">Dominican Republic</option>
                                                    <option value="ECU">Ecuador</option>
                                                    <option value="EGY">Egypt</option>
                                                    <option value="SLV">El Salvador</option>
                                                    <option value="GNQ">Equatorial Guinea</option>
                                                    <option value="ERI">Eritrea</option>
                                                    <option value="EST">Estonia</option>
                                                    <option value="ETH">Ethiopia</option>
                                                    <option value="FLK">Falkland Islands (Malvinas)</option>
                                                    <option value="FRO">Faroe Islands</option>
                                                    <option value="FJI">Fiji</option>
                                                    <option value="FIN">Finland</option>
                                                    <option value="FRA">France</option>
                                                    <option value="GUF">French Guiana</option>
                                                    <option value="PYF">French Polynesia</option>
                                                    <option value="ATF">French Southern Territories</option>
                                                    <option value="GAB">Gabon</option>
                                                    <option value="GMB">Gambia</option>
                                                    <option value="GEO">Georgia</option>
                                                    <option value="DEU">Germany</option>
                                                    <option value="GHA">Ghana</option>
                                                    <option value="GIB">Gibraltar</option>
                                                    <option value="GRC">Greece</option>
                                                    <option value="GRL">Greenland</option>
                                                    <option value="GRD">Grenada</option>
                                                    <option value="GLP">Guadeloupe</option>
                                                    <option value="GUM">Guam</option>
                                                    <option value="GTM">Guatemala</option>
                                                    <option value="GGY">Guernsey</option>
                                                    <option value="GIN">Guinea</option>
                                                    <option value="GNB">Guinea-Bissau</option>
                                                    <option value="GUY">Guyana</option>
                                                    <option value="HTI">Haiti</option>
                                                    <option value="HMD">Heard Island and McDonald Islands</option>
                                                    <option value="VAT">Holy See (Vatican City State)</option>
                                                    <option value="HND">Honduras</option>
                                                    <option value="HKG">Hong Kong</option>
                                                    <option value="HUN">Hungary</option>
                                                    <option value="ISL">Iceland</option>
                                                    <option value="IND">India</option>
                                                    <option value="IDN">Indonesia</option>
                                                    <option value="IRN">Iran, Islamic Republic of</option>
                                                    <option value="IRQ">Iraq</option>
                                                    <option value="IRL">Ireland</option>
                                                    <option value="IMN">Isle of Man</option>
                                                    <option value="ISR">Israel</option>
                                                    <option value="ITA">Italy</option>
                                                    <option value="JAM">Jamaica</option>
                                                    <option value="JPN">Japan</option>
                                                    <option value="JEY">Jersey</option>
                                                    <option value="JOR">Jordan</option>
                                                    <option value="KAZ">Kazakhstan</option>
                                                    <option value="KEN">Kenya</option>
                                                    <option value="KIR">Kiribati</option>
                                                    <option value="PRK">Korea, Democratic People's Republic of</option>
                                                    <option value="KOR">Korea, Republic of</option>
                                                    <option value="KWT">Kuwait</option>
                                                    <option value="KGZ">Kyrgyzstan</option>
                                                    <option value="LAO">Lao People's Democratic Republic</option>
                                                    <option value="LVA">Latvia</option>
                                                    <option value="LBN">Lebanon</option>
                                                    <option value="LSO">Lesotho</option>
                                                    <option value="LBR">Liberia</option>
                                                    <option value="LBY">Libya</option>
                                                    <option value="LIE">Liechtenstein</option>
                                                    <option value="LTU">Lithuania</option>
                                                    <option value="LUX">Luxembourg</option>
                                                    <option value="MAC">Macao</option>
                                                    <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                                                    <option value="MDG">Madagascar</option>
                                                    <option value="MWI">Malawi</option>
                                                    <option value="MYS">Malaysia</option>
                                                    <option value="MDV">Maldives</option>
                                                    <option value="MLI">Mali</option>
                                                    <option value="MLT">Malta</option>
                                                    <option value="MHL">Marshall Islands</option>
                                                    <option value="MTQ">Martinique</option>
                                                    <option value="MRT">Mauritania</option>
                                                    <option value="MUS">Mauritius</option>
                                                    <option value="MYT">Mayotte</option>
                                                    <option value="MEX">Mexico</option>
                                                    <option value="FSM">Micronesia, Federated States of</option>
                                                    <option value="MDA">Moldova, Republic of</option>
                                                    <option value="MCO">Monaco</option>
                                                    <option value="MNG">Mongolia</option>
                                                    <option value="MNE">Montenegro</option>
                                                    <option value="MSR">Montserrat</option>
                                                    <option value="MAR">Morocco</option>
                                                    <option value="MOZ">Mozambique</option>
                                                    <option value="MMR">Myanmar</option>
                                                    <option value="NAM">Namibia</option>
                                                    <option value="NRU">Nauru</option>
                                                    <option value="NPL">Nepal</option>
                                                    <option value="NLD">Netherlands</option>
                                                    <option value="NCL">New Caledonia</option>
                                                    <option value="NZL">New Zealand</option>
                                                    <option value="NIC">Nicaragua</option>
                                                    <option value="NER">Niger</option>
                                                    <option value="NGA">Nigeria</option>
                                                    <option value="NIU">Niue</option>
                                                    <option value="NFK">Norfolk Island</option>
                                                    <option value="MNP">Northern Mariana Islands</option>
                                                    <option value="NOR">Norway</option>
                                                    <option value="OMN">Oman</option>
                                                    <option value="PAK">Pakistan</option>
                                                    <option value="PLW">Palau</option>
                                                    <option value="PSE">Palestinian Territory, Occupied</option>
                                                    <option value="PAN">Panama</option>
                                                    <option value="PNG">Papua New Guinea</option>
                                                    <option value="PRY">Paraguay</option>
                                                    <option value="PER">Peru</option>
                                                    <option value="PHL">Philippines</option>
                                                    <option value="PCN">Pitcairn</option>
                                                    <option value="POL">Poland</option>
                                                    <option value="PRT">Portugal</option>
                                                    <option value="PRI">Puerto Rico</option>
                                                    <option value="QAT">Qatar</option>
                                                    <option value="REU">Réunion</option>
                                                    <option value="ROU">Romania</option>
                                                    <option value="RUS">Russian Federation</option>
                                                    <option value="RWA">Rwanda</option>
                                                    <option value="BLM">Saint Barthélemy</option>
                                                    <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                                                    <option value="KNA">Saint Kitts and Nevis</option>
                                                    <option value="LCA">Saint Lucia</option>
                                                    <option value="MAF">Saint Martin (French part)</option>
                                                    <option value="SPM">Saint Pierre and Miquelon</option>
                                                    <option value="VCT">Saint Vincent and the Grenadines</option>
                                                    <option value="WSM">Samoa</option>
                                                    <option value="SMR">San Marino</option>
                                                    <option value="STP">Sao Tome and Principe</option>
                                                    <option value="SAU">Saudi Arabia</option>
                                                    <option value="SEN">Senegal</option>
                                                    <option value="SRB">Serbia</option>
                                                    <option value="SYC">Seychelles</option>
                                                    <option value="SLE">Sierra Leone</option>
                                                    <option value="SGP">Singapore</option>
                                                    <option value="SXM">Sint Maarten (Dutch part)</option>
                                                    <option value="SVK">Slovakia</option>
                                                    <option value="SVN">Slovenia</option>
                                                    <option value="SLB">Solomon Islands</option>
                                                    <option value="SOM">Somalia</option>
                                                    <option value="ZAF">South Africa</option>
                                                    <option value="SGS">South Georgia and the South Sandwich Islands</option>
                                                    <option value="SSD">South Sudan</option>
                                                    <option value="ESP">Spain</option>
                                                    <option value="LKA">Sri Lanka</option>
                                                    <option value="SDN">Sudan</option>
                                                    <option value="SUR">Suriname</option>
                                                    <option value="SJM">Svalbard and Jan Mayen</option>
                                                    <option value="SWZ">Swaziland</option>
                                                    <option value="SWE">Sweden</option>
                                                    <option value="CHE">Switzerland</option>
                                                    <option value="SYR">Syrian Arab Republic</option>
                                                    <option value="TWN">Taiwan, Province of China</option>
                                                    <option value="TJK">Tajikistan</option>
                                                    <option value="TZA">Tanzania, United Republic of</option>
                                                    <option value="THA">Thailand</option>
                                                    <option value="TLS">Timor-Leste</option>
                                                    <option value="TGO">Togo</option>
                                                    <option value="TKL">Tokelau</option>
                                                    <option value="TON">Tonga</option>
                                                    <option value="TTO">Trinidad and Tobago</option>
                                                    <option value="TUN">Tunisia</option>
                                                    <option value="TUR">Turkey</option>
                                                    <option value="TKM">Turkmenistan</option>
                                                    <option value="TCA">Turks and Caicos Islands</option>
                                                    <option value="TUV">Tuvalu</option>
                                                    <option value="UGA">Uganda</option>
                                                    <option value="UKR">Ukraine</option>
                                                    <option value="ARE">United Arab Emirates</option>
                                                    <option value="GBR">United Kingdom</option>
                                                    <option value="USA">United States</option>
                                                    <option value="UMI">United States Minor Outlying Islands</option>
                                                    <option value="URY">Uruguay</option>
                                                    <option value="UZB">Uzbekistan</option>
                                                    <option value="VUT">Vanuatu</option>
                                                    <option value="VEN">Venezuela, Bolivarian Republic of</option>
                                                    <option value="VNM">Viet Nam</option>
                                                    <option value="VGB">Virgin Islands, British</option>
                                                    <option value="VIR">Virgin Islands, U.S.</option>
                                                    <option value="WLF">Wallis and Futuna</option>
                                                    <option value="ESH">Western Sahara</option>
                                                    <option value="YEM">Yemen</option>
                                                    <option value="ZMB">Zambia</option>
                                                    <option value="ZWE">Zimbabwe</option>
                                                </select>
                                                @*<input type="text" class="form-control" name="bill_country" id="bill_country" placeholder="Country">*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-top padding-bottom shipping">
                                        <div class="row">
                                            <h2 class="form-title col-md-6">Shipping address<a href="#">map</a></h2>
                                            <div class="checkbox col-md-6">
                                                <label>
                                                    <input type="checkbox">
                                                    Same as billing address
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="ship_street" id="ship_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_city" id="ship_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_state" id="ship_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_postalcode" id="ship_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                @*<input type="text" class="form-control" name="ship_country" id="ship_country" placeholder="Country">*@
                                                <select class="form-control" name="ship_country" id="ship_country" placeholder="Country">
                                                    <option value="AFG">Afghanistan</option>
                                                    <option value="ALA">Åland Islands</option>
                                                    <option value="ALB">Albania</option>
                                                    <option value="DZA">Algeria</option>
                                                    <option value="ASM">American Samoa</option>
                                                    <option value="AND">Andorra</option>
                                                    <option value="AGO">Angola</option>
                                                    <option value="AIA">Anguilla</option>
                                                    <option value="ATA">Antarctica</option>
                                                    <option value="ATG">Antigua and Barbuda</option>
                                                    <option value="ARG">Argentina</option>
                                                    <option value="ARM">Armenia</option>
                                                    <option value="ABW">Aruba</option>
                                                    <option value="AUS">Australia</option>
                                                    <option value="AUT">Austria</option>
                                                    <option value="AZE">Azerbaijan</option>
                                                    <option value="BHS">Bahamas</option>
                                                    <option value="BHR">Bahrain</option>
                                                    <option value="BGD">Bangladesh</option>
                                                    <option value="BRB">Barbados</option>
                                                    <option value="BLR">Belarus</option>
                                                    <option value="BEL">Belgium</option>
                                                    <option value="BLZ">Belize</option>
                                                    <option value="BEN">Benin</option>
                                                    <option value="BMU">Bermuda</option>
                                                    <option value="BTN">Bhutan</option>
                                                    <option value="BOL">Bolivia, Plurinational State of</option>
                                                    <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                                                    <option value="BIH">Bosnia and Herzegovina</option>
                                                    <option value="BWA">Botswana</option>
                                                    <option value="BVT">Bouvet Island</option>
                                                    <option value="BRA">Brazil</option>
                                                    <option value="IOT">British Indian Ocean Territory</option>
                                                    <option value="BRN">Brunei Darussalam</option>
                                                    <option value="BGR">Bulgaria</option>
                                                    <option value="BFA">Burkina Faso</option>
                                                    <option value="BDI">Burundi</option>
                                                    <option value="KHM">Cambodia</option>
                                                    <option value="CMR">Cameroon</option>
                                                    <option value="CAN">Canada</option>
                                                    <option value="CPV">Cape Verde</option>
                                                    <option value="CYM">Cayman Islands</option>
                                                    <option value="CAF">Central African Republic</option>
                                                    <option value="TCD">Chad</option>
                                                    <option value="CHL">Chile</option>
                                                    <option value="CHN">China</option>
                                                    <option value="CXR">Christmas Island</option>
                                                    <option value="CCK">Cocos (Keeling) Islands</option>
                                                    <option value="COL">Colombia</option>
                                                    <option value="COM">Comoros</option>
                                                    <option value="COG">Congo</option>
                                                    <option value="COD">Congo, the Democratic Republic of the</option>
                                                    <option value="COK">Cook Islands</option>
                                                    <option value="CRI">Costa Rica</option>
                                                    <option value="CIV">Côte d'Ivoire</option>
                                                    <option value="HRV">Croatia</option>
                                                    <option value="CUB">Cuba</option>
                                                    <option value="CUW">Curaçao</option>
                                                    <option value="CYP">Cyprus</option>
                                                    <option value="CZE">Czech Republic</option>
                                                    <option value="DNK">Denmark</option>
                                                    <option value="DJI">Djibouti</option>
                                                    <option value="DMA">Dominica</option>
                                                    <option value="DOM">Dominican Republic</option>
                                                    <option value="ECU">Ecuador</option>
                                                    <option value="EGY">Egypt</option>
                                                    <option value="SLV">El Salvador</option>
                                                    <option value="GNQ">Equatorial Guinea</option>
                                                    <option value="ERI">Eritrea</option>
                                                    <option value="EST">Estonia</option>
                                                    <option value="ETH">Ethiopia</option>
                                                    <option value="FLK">Falkland Islands (Malvinas)</option>
                                                    <option value="FRO">Faroe Islands</option>
                                                    <option value="FJI">Fiji</option>
                                                    <option value="FIN">Finland</option>
                                                    <option value="FRA">France</option>
                                                    <option value="GUF">French Guiana</option>
                                                    <option value="PYF">French Polynesia</option>
                                                    <option value="ATF">French Southern Territories</option>
                                                    <option value="GAB">Gabon</option>
                                                    <option value="GMB">Gambia</option>
                                                    <option value="GEO">Georgia</option>
                                                    <option value="DEU">Germany</option>
                                                    <option value="GHA">Ghana</option>
                                                    <option value="GIB">Gibraltar</option>
                                                    <option value="GRC">Greece</option>
                                                    <option value="GRL">Greenland</option>
                                                    <option value="GRD">Grenada</option>
                                                    <option value="GLP">Guadeloupe</option>
                                                    <option value="GUM">Guam</option>
                                                    <option value="GTM">Guatemala</option>
                                                    <option value="GGY">Guernsey</option>
                                                    <option value="GIN">Guinea</option>
                                                    <option value="GNB">Guinea-Bissau</option>
                                                    <option value="GUY">Guyana</option>
                                                    <option value="HTI">Haiti</option>
                                                    <option value="HMD">Heard Island and McDonald Islands</option>
                                                    <option value="VAT">Holy See (Vatican City State)</option>
                                                    <option value="HND">Honduras</option>
                                                    <option value="HKG">Hong Kong</option>
                                                    <option value="HUN">Hungary</option>
                                                    <option value="ISL">Iceland</option>
                                                    <option value="IND">India</option>
                                                    <option value="IDN">Indonesia</option>
                                                    <option value="IRN">Iran, Islamic Republic of</option>
                                                    <option value="IRQ">Iraq</option>
                                                    <option value="IRL">Ireland</option>
                                                    <option value="IMN">Isle of Man</option>
                                                    <option value="ISR">Israel</option>
                                                    <option value="ITA">Italy</option>
                                                    <option value="JAM">Jamaica</option>
                                                    <option value="JPN">Japan</option>
                                                    <option value="JEY">Jersey</option>
                                                    <option value="JOR">Jordan</option>
                                                    <option value="KAZ">Kazakhstan</option>
                                                    <option value="KEN">Kenya</option>
                                                    <option value="KIR">Kiribati</option>
                                                    <option value="PRK">Korea, Democratic People's Republic of</option>
                                                    <option value="KOR">Korea, Republic of</option>
                                                    <option value="KWT">Kuwait</option>
                                                    <option value="KGZ">Kyrgyzstan</option>
                                                    <option value="LAO">Lao People's Democratic Republic</option>
                                                    <option value="LVA">Latvia</option>
                                                    <option value="LBN">Lebanon</option>
                                                    <option value="LSO">Lesotho</option>
                                                    <option value="LBR">Liberia</option>
                                                    <option value="LBY">Libya</option>
                                                    <option value="LIE">Liechtenstein</option>
                                                    <option value="LTU">Lithuania</option>
                                                    <option value="LUX">Luxembourg</option>
                                                    <option value="MAC">Macao</option>
                                                    <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                                                    <option value="MDG">Madagascar</option>
                                                    <option value="MWI">Malawi</option>
                                                    <option value="MYS">Malaysia</option>
                                                    <option value="MDV">Maldives</option>
                                                    <option value="MLI">Mali</option>
                                                    <option value="MLT">Malta</option>
                                                    <option value="MHL">Marshall Islands</option>
                                                    <option value="MTQ">Martinique</option>
                                                    <option value="MRT">Mauritania</option>
                                                    <option value="MUS">Mauritius</option>
                                                    <option value="MYT">Mayotte</option>
                                                    <option value="MEX">Mexico</option>
                                                    <option value="FSM">Micronesia, Federated States of</option>
                                                    <option value="MDA">Moldova, Republic of</option>
                                                    <option value="MCO">Monaco</option>
                                                    <option value="MNG">Mongolia</option>
                                                    <option value="MNE">Montenegro</option>
                                                    <option value="MSR">Montserrat</option>
                                                    <option value="MAR">Morocco</option>
                                                    <option value="MOZ">Mozambique</option>
                                                    <option value="MMR">Myanmar</option>
                                                    <option value="NAM">Namibia</option>
                                                    <option value="NRU">Nauru</option>
                                                    <option value="NPL">Nepal</option>
                                                    <option value="NLD">Netherlands</option>
                                                    <option value="NCL">New Caledonia</option>
                                                    <option value="NZL">New Zealand</option>
                                                    <option value="NIC">Nicaragua</option>
                                                    <option value="NER">Niger</option>
                                                    <option value="NGA">Nigeria</option>
                                                    <option value="NIU">Niue</option>
                                                    <option value="NFK">Norfolk Island</option>
                                                    <option value="MNP">Northern Mariana Islands</option>
                                                    <option value="NOR">Norway</option>
                                                    <option value="OMN">Oman</option>
                                                    <option value="PAK">Pakistan</option>
                                                    <option value="PLW">Palau</option>
                                                    <option value="PSE">Palestinian Territory, Occupied</option>
                                                    <option value="PAN">Panama</option>
                                                    <option value="PNG">Papua New Guinea</option>
                                                    <option value="PRY">Paraguay</option>
                                                    <option value="PER">Peru</option>
                                                    <option value="PHL">Philippines</option>
                                                    <option value="PCN">Pitcairn</option>
                                                    <option value="POL">Poland</option>
                                                    <option value="PRT">Portugal</option>
                                                    <option value="PRI">Puerto Rico</option>
                                                    <option value="QAT">Qatar</option>
                                                    <option value="REU">Réunion</option>
                                                    <option value="ROU">Romania</option>
                                                    <option value="RUS">Russian Federation</option>
                                                    <option value="RWA">Rwanda</option>
                                                    <option value="BLM">Saint Barthélemy</option>
                                                    <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                                                    <option value="KNA">Saint Kitts and Nevis</option>
                                                    <option value="LCA">Saint Lucia</option>
                                                    <option value="MAF">Saint Martin (French part)</option>
                                                    <option value="SPM">Saint Pierre and Miquelon</option>
                                                    <option value="VCT">Saint Vincent and the Grenadines</option>
                                                    <option value="WSM">Samoa</option>
                                                    <option value="SMR">San Marino</option>
                                                    <option value="STP">Sao Tome and Principe</option>
                                                    <option value="SAU">Saudi Arabia</option>
                                                    <option value="SEN">Senegal</option>
                                                    <option value="SRB">Serbia</option>
                                                    <option value="SYC">Seychelles</option>
                                                    <option value="SLE">Sierra Leone</option>
                                                    <option value="SGP">Singapore</option>
                                                    <option value="SXM">Sint Maarten (Dutch part)</option>
                                                    <option value="SVK">Slovakia</option>
                                                    <option value="SVN">Slovenia</option>
                                                    <option value="SLB">Solomon Islands</option>
                                                    <option value="SOM">Somalia</option>
                                                    <option value="ZAF">South Africa</option>
                                                    <option value="SGS">South Georgia and the South Sandwich Islands</option>
                                                    <option value="SSD">South Sudan</option>
                                                    <option value="ESP">Spain</option>
                                                    <option value="LKA">Sri Lanka</option>
                                                    <option value="SDN">Sudan</option>
                                                    <option value="SUR">Suriname</option>
                                                    <option value="SJM">Svalbard and Jan Mayen</option>
                                                    <option value="SWZ">Swaziland</option>
                                                    <option value="SWE">Sweden</option>
                                                    <option value="CHE">Switzerland</option>
                                                    <option value="SYR">Syrian Arab Republic</option>
                                                    <option value="TWN">Taiwan, Province of China</option>
                                                    <option value="TJK">Tajikistan</option>
                                                    <option value="TZA">Tanzania, United Republic of</option>
                                                    <option value="THA">Thailand</option>
                                                    <option value="TLS">Timor-Leste</option>
                                                    <option value="TGO">Togo</option>
                                                    <option value="TKL">Tokelau</option>
                                                    <option value="TON">Tonga</option>
                                                    <option value="TTO">Trinidad and Tobago</option>
                                                    <option value="TUN">Tunisia</option>
                                                    <option value="TUR">Turkey</option>
                                                    <option value="TKM">Turkmenistan</option>
                                                    <option value="TCA">Turks and Caicos Islands</option>
                                                    <option value="TUV">Tuvalu</option>
                                                    <option value="UGA">Uganda</option>
                                                    <option value="UKR">Ukraine</option>
                                                    <option value="ARE">United Arab Emirates</option>
                                                    <option value="GBR">United Kingdom</option>
                                                    <option value="USA">United States</option>
                                                    <option value="UMI">United States Minor Outlying Islands</option>
                                                    <option value="URY">Uruguay</option>
                                                    <option value="UZB">Uzbekistan</option>
                                                    <option value="VUT">Vanuatu</option>
                                                    <option value="VEN">Venezuela, Bolivarian Republic of</option>
                                                    <option value="VNM">Viet Nam</option>
                                                    <option value="VGB">Virgin Islands, British</option>
                                                    <option value="VIR">Virgin Islands, U.S.</option>
                                                    <option value="WLF">Wallis and Futuna</option>
                                                    <option value="ESH">Western Sahara</option>
                                                    <option value="YEM">Yemen</option>
                                                    <option value="ZMB">Zambia</option>
                                                    <option value="ZWE">Zimbabwe</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="btnclose3">Cancel</button>
                                        <button type="button" class="btn btn-primary pull-right" id="mySubmit1" name="command" value="saveaddress" onclick="editwhaddress(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Address</button>
                                    </div>
                                </div>
                            </li>

                            <li data-content="contactperson" class="contactperson">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Contact_PersonFname" id="Contact_PersonFname" placeholder="First Name">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Mobile_No" placeholder="Mobile" id="Mobile_No" maxlength="11">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Phone" placeholder="Phone" id="Phone" maxlength="15">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-6">

                                                <input type="email" class="form-control" name="EmailId" id="EmailId" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control selected-position" name="Job_position" id="Job_position" placeholder="Job position">
                                                <div class="display-positions">
                                                    <div class="positions1 position"><i class="fa fa-plus-circle" aria-hidden="true"></i>Job Position</div>
                                                    @*<div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>One</div>
                                                        <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Two</div>
                                                        <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Three</div>*@
                                                </div>
                                                <div class="row add-position">
                                                    <div class="row">
                                                        <input type="text" class="form-control" placeholder="Enter Position">
                                                        <button type="button" class="btn btn-primary btn-sm add-button"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add </button>
                                                        <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                                    </div>
                                                    <div class="row positions"></div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="wh-information1-cancel"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                                        <button type="button" class="btn btn-primary pull-right" id="contactbutton" value="savecontact" onclick="UpdateContact(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Contact</button>
                                    </div>
                                </div>
                                @*--------------------------------contactinfo table-----------------------------------------------*@
                                @{Html.RenderAction("WarehouseContact", "Warehouse");}
                            </li>

                            <li data-content="notes">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                @*<textarea class="form-control" rows="5" id="comment" placeholder="Notes"></textarea>*@
                                                <textarea class="form-control" rows="5" placeholder="Notes" id="Note" name="Note"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="btnclosenote"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                                        <button type="button" class="btn btn-primary pull-right" value="Save Note" id="notebutton" onclick="updatewhnote(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Note</button>
                                    </div>
                                </div>
                            </li>
                            <li data-content="Gallery">

                                @*<div align="center">
                                    <div class="top-button">
                                        <input type="file">
                                        <span>W</span>
                                    </div>*@

                                @*@if (item.Wh_logo != null)
                                    {
                                        <input type="file" name="file" id="fileupload" accept=".gif, .jpeg, .png" onchange="upload()" style="display:none">
                                        <img id="whpic" onclick="javascript: document.getElementById('fileupload').click();" src="data:image;base64" style="border-radius: 50%;width: 150px;height: 150px;" />
                                    }
                                    else
                                    {
                                        <div class="top-button">
                                            <input type="file" name="file" id="fileupload" accept="image/gif, image/jpeg, image/png" onchange="upload()">
                                            <span onclick="javascript: document.getElementById('fileupload').click();" id="userprofilepic"></span>
                                        </div>
                                    }*@
                                <div>Upload warehouse Logo</div>
                                @*</div>*@

                            </li>




                        </ul>
                        <!-- cd-tabs-content -->
                    </div>
                    <!-- cd-tabs -->

                </div>

                <!--------- Tab Section END ------------>
            </div>
        </form>

    </div>
</div>


@section scripts{
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script src="~/Scripts/js/Warehouse.js"></script>
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script>

        $("#add-wh").click(function () {
            $("#wh-information").css("display", "block");
            $("#contacttable").css("display", "none");

            $("#wh-information input, .cd-tabs input, .cd-tabs textarea").val("");
            $("#addinfo").hide();
            // $('#mySubmit').val("Save").text("Save");
        });
        //$("addinfo").click(function () {
        //    $("#wh-information1").css("display", "block");
        //});
        $("#wh-information-cancel").click(function () {
            $("#wh-information input").val("");
            $("#wh-information1 input, .cd-tabs input, .cd-tabs textarea").val("");
            $("#wh-information").css("display", "none");
        });

        $("#wh-information1-cancel").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
        });
        $("#btnclose3").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
        });
        $("#btnclosenote").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
        });
        $("#save-reset").click(function () {
            $(".contactperson input").val("");
        });


    </script>
    <script>
        @*function upload() {
            var ext = $('#fileupload').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var file = $("#fileupload").get(0).files;
                var id = @Request.QueryString["wh_id"];
                var data = new FormData();
                var files = $("#fileupload").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Warehouse/Updatewhimage?id='+id,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#whpic").attr("src","data:image/;base64,"+response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }*@
    </script>
    <script>

        $("input[type='checkbox']").change(function () {
            if ($("input[type='checkbox']").is(':checked')) {
                $("[id='ship_street']").val($("[id='bill_street']").val());
                $("[id='ship_city']").val($("[id='bill_city']").val());
                $("[id='ship_state']").val($("[id='bill_state']").val());
                $("[id='ship_postalcode']").val($("[id='bill_postalcode']").val());
                $("[id='ship_country']").val($("[id='bill_country']").val());
            }
            else {
                $("[id='ship_street']").val("");
                $("[id='ship_city']").val("");
                $("[id='ship_state']").val("");
                $("[id='ship_postalcode']").val("");
                $("[id='ship_country']").val("");
            }
        });
    </script>
    <script>
        $(document).ready(function (e) {
            Pagination();
            $("#Phone").keydown(function (event) {
                if (event.shiftKey) {
                    event.preventDefault();
                }
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    }
                    else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }
            });
            $("#Mobile_No").keydown(function (event) {
                if (event.shiftKey) {
                    event.preventDefault();
                }
                if (event.keyCode == 46 || event.keyCode == 8) {
                }
                else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    }
                    else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }
            });
            $(".top-button").each(function () {
                var colors = ["#f4511e", "#7e57c2", "#455a64", "#512da8", "#c2185b", "#5c6bc0", "#0288d1", "#f4511e", "#ef6c00", "#0097a7", "#5c6bc0", "#5d4037"];
                var len = colors.length;
                var rand = Math.floor(Math.random() * len);
                $(this).css("background", colors[rand]);
            });

            $("#wh-information").css("display", "none");

            $(".cd-tabs").css("display", "none");

            $("#additon").click(function () {
                $(".cd-tabs").css("display", "block");
            });
            //validations

        });
        function Pagination() {
            $('#whtable').after('<div id="nav"></div>');
            var rowsShown = 3;
            var rowsTotal = $('#whtable tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" class="btn btn-success" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#whtable tbody tr').hide();
            $('#whtable tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#whtable tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                        css('display', 'table-row').animate({ opacity: 1 }, 300);
            });

        }
    </script>
    <script>
        $("#add").click(function (e) {
            var len = $(".contactperson #clone-content").length;
            if (len < 2) {
                var v = $("li.contactperson > div.row:first-of-type > div:last-of-type");
                $("#clone-content").clone().appendTo(v);
            }
        });
    </script>
    <script>
        function textval() {
            $(".display-positions .positions1").click(function () {
                var c = $(this).text();
                $("input.selected-position").val(c);
                $(".display-positions").css("display", "none");
            });
        }

        $(".positions1 > i").click(function () {
            $(this).parent(".positions1").remove();
        });

        $(".selected-position").click(function () {
            $(".display-positions").css("display", "block");
            return textval();
        });

        $(".display-positions .position").click(function () {
            $(".add-position").css("display", "block");

            $(".add-position .add-button").click(function () {
                var v = $(".add-position input[type='text']").val();
                var value = $("<div class='positions1'>" + "<i class='fa fa-trash-o pull-right' aria-hidden='true'></i>" + v + "</div>");
                $(".form-group .display-positions").append(value);
                $(".positions1 > i").click(function () {
                    $(this).parent(".positions1").remove();
                });
                return textval();
            });

            $(".close-button").click(function () {
                $(".add-position").css("display", "none");
            });

        });
    </script>
    <script>
        function editFunction(array) {

            $('#wh-information').css('display', 'block');
            $("#contacttable").css("display", "block");
            $(".cd-tabs").css("display", "block");
            $('#wh_Id').val(array.wh_Id);
            $('#wh_Name').val(array.wh_name);
            $('#wh_sname').val(array.wh_Shortname);
            $('#bill_street').val(array.bill_Street);
            $('#bill_city').val(array.bill_City);
            $('#bill_state').val(array.bill_State);
            $('#bill_postalcode').val(array.bill_Postalcode);
            $('#bill_country').val(array.bill_Country);
            $('#ship_street').val(array.ship_Street);
            $('#ship_city').val(array.ship_City);
            $('#ship_state').val(array.ship_State);
            $('#ship_postalcode').val(array.ship_Postalcode);
            $('#ship_country').val(array.ship_Country);
            //$('#Contact_PersonFname').val(array.conperson);
            //$('#Phone').val(array.phone);
            //$('#Mobile_No').val(array.Mobile);
            //$('#EmailId').val(array.Email);
            //$('#Job_position').val(array.Job_position);
            $('#Note').val(array.Note);
        }
        function getcondtls(array1) {
            $('#wh_Id').val(array.wh_Id);
            $('#Contact_PersonFname').val(array1.conperson);
            $('#Phone').val(array1.phone);
            $('#Mobile_No').val(array1.Mobile);
            $('#EmailId').val(array1.Email);
            $('#Job_position').val(array1.Job_position);
        }

        //Get Particular warehouse Record
        function getEditDetails(id) {
            //alert(id);
            $('#mySubmit').val("update").text("Update Warehouse");
            $('#mySubmit1').val("updateaddress").text("Update Address");
            $('#notebutton').val("updatenote").text("Update Note");
            $('#contactbutton').val("updatecontact").text("Update Contact");
            //$('#userprofilepic').html($('#wh_name').val().substring(0,1));
            $('#btnedit').click(function () {
                $('#warehouse').css('display', 'none');
            });

            $.ajax({
                url: '/Warehouse/getallwhdetails?wh_Id=' + id,
                type: 'POST',
                data: JSON.stringify({ wh_Id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "unique") {
                        alert("Success");
                    }
                    else {
                        var array = JSON.parse(data);
                        var url = 'Warehouse/WarehouseDetails?id=' + array.wh_Id + '';
                        $('#whdetails').empty().load(url, function () { Pagination(); });
                        editFunction(array);
                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });
        }

        //function getEditContactDetails(id)
        //{
        //    alert(id);
        //    $('#contactbutton').val("updatecontact").text("Update Contact");
        //    $.ajax({
        //        url: '/Warehouse/getwhcondtls?wh_Id=' + id,
        //        type: 'POST',
        //        data: JSON.stringify({ wh_Id: id }),
        //        dataType: 'json',
        //        contentType: 'application/json',
        //        success: function (data) {
        //            if (data == "unique") {
        //                alert("Success");
        //            }
        //            else {
        //                var array = JSON.parse(data);
        //                getcondtls(array1);
        //            }
        //        },
        //        error: function (data)
        //        { alert("Failed!!!"); }
        //    });
        //}

        //delete warehouse
        function deletewhdtls(id) {
            //alert(id);
            $.ajax({
                url: '/Warehouse/deletewarehouse?wh_Id=' + id,
                type: 'POST',
                data: JSON.stringify({ wh_Id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "success") {
                        var url = 'Warehouse/WarehouseDetails';
                        $('#whdetails').empty().load(url, function () { Pagination(); });
                        alert("Warehouse Deleted sucessfully");
                        //$("#whtable").load(" #whtable");
                    }
                    else {
                        alert("Warehouse not Deleted");

                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });
        }

        //Particular Warehouse
        function editwh(clickedvalue) {
            // alert(clickedvalue);

            $('#update').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#update').click(function () {
                $('#addinfo').css('display', 'none');
            });
            wh_Id = $('#wh_Id').val();
            wh_Name = $('#wh_Name').val();
            wh_sname = $('#wh_sname').val();
            if ((wh_Name == "") || (wh_sname == "")) {
                if (wh_Name == "")
                    alert("Please Enter Warehouse Name");
                else
                    alert("Please Enter Shortname");
            }
            else {

                if (clickedvalue == 'update') {
                    $.ajax({
                        url: '/Warehouse/updatewarehouse?wh_Id=' + wh_Id + '&wh_Name=' + wh_Name + '& wh_sname=' + wh_sname,
                        type: 'POST',
                        data: JSON.stringify({ wh_Id, wh_Name, wh_sname }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                $('#savebutton').hide();
                                var url = 'Warehouse/WarehouseDetails';
                                $('#whdetails').empty().load(url, function () { Pagination(); });
                                alert("Warehouse Updated sucessfully");
                                //$("#whtable").load(" #whtable");
                            }
                            else {
                                alert("Warehouse not updated");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
                if (clickedvalue == 'Save') {

                    $.ajax({
                        url: '/Warehouse/insertwhdtls?wh_Name=' + wh_Name + '& wh_sname=' + wh_sname,
                        type: 'POST',
                        data: JSON.stringify({ wh_Name, wh_sname }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                //$("#whtable").load(" #whtable");
                                $('#savebutton').hide();
                                var url = 'Warehouse/WarehouseDetails';
                                $('#whdetails').empty().load(url, function () { Pagination(); });
                                alert("Warehouse saved sucessfully");
                                $("#addinfo").show();
                            }
                            else if (data == "Y") {
                                alert("Warehouse already Registered");
                            }
                            else {
                                alert("Warehouse not saved");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
            }
        }
        //Particular Warehouse Address
        function editwhaddress(clickedvalue) {
            //alert(clickedvalue);
            $('#updateaddress').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updateaddress').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_Id: $('#wh_Id').val(),
                bill_street: $('#bill_street').val(),
                bill_city: $('#bill_city').val(),
                bill_state: $('#bill_state').val(),
                bill_postalcode: $('#bill_postalcode').val(),
                bill_country: $('#bill_country').val(),
                ship_street: $('#ship_street').val(),
                ship_city: $('#ship_city').val(),
                ship_state: $('#ship_state').val(),
                ship_postalcode: $('#ship_postalcode').val(),
                ship_country: $('#ship_country').val(),
            }

            if (clickedvalue == 'updateaddress') {
                $.ajax({
                    url: '/Warehouse/updatewhaddress',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Updated sucessfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("Adress  not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'saveaddress') {

                $.ajax({
                    url: '/Warehouse/insertwhaddress',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Address Saved sucessfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("Adress  not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }

        //warehouse Note
        function updatewhnote(clickedvalue) {
            //alert(clickedvalue);
            $('#updatenote').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updatenote').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_id: $('#wh_Id').val(),
                Note: $('#Note').val(),
            }
            var wa = {
                wh_id: $('#someName').val(),
                Note: $('#Note').val(),
            }
            if (clickedvalue == 'updatenote') {
                $.ajax({
                    url: '/Warehouse/updatewhnotes',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Updated sucessfully");
                            // $("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'Save Note') {
                $.ajax({
                    url: '/Warehouse/insertwhnotes',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Note Saved sucessfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }
        //Contact Person
        function UpdateContact(clickedvalue) {
            //alert(clickedvalue);
            $('#updatecontact').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updatecontact').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_id: $('#wh_Id').val(),
                conperson: $('#Contact_PersonFname').val(),
                Phone: $('#Phone').val(),
                Mobile: $('#Mobile_No').val(),
                Email: $('#EmailId').val(),
                Job_position: $('#Job_position').val(),
            }
            if (clickedvalue == 'savecontact') {
                $.ajax({
                    url: '/Warehouse/insertwhcontact',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            $('#con_id').val(data.ID);
                            var url = 'Warehouse/WarehouseContact?id=' + wh_id + '';
                            // $('#WarehouseDetails').load(url);
                            //var url = 'Warehouse/WarehouseDetails';
                            //$('#contactdiv').empty().load(url, function () { Pagination(); });
                            alert("Contact Details Saved sucessfully");
                            // $("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'updatecontact') {
                $.ajax({
                    url: '/Warehouse/updatewhcontact',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            $('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Contact Details updated sucessfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }
        function getEditContactDetails(id) {
            alert(id);
            $('#contactbutton').val("updatecontact").text("Update Contact");
            $.ajax({
                url: '/Warehouse/getwhcondtls?con_id=' + id,
                type: 'POST',
                data: JSON.stringify({ con_id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "unique") {
                        alert("success");
                    }
                    else {
                        var array = JSON.parse(data);
                        $('#con_id').val(array.con_id);
                        $('#Contact_PersonFname').val(array.conperson);
                        $('#Phone').val(array.phone);
                        $('#Mobile_No').val(array.Mobile);
                        $('#EmailId').val(array.Email);
                        $('#Job_position').val(array.Job_position);

                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });

        }
    </script>


}






