@model Inventory.Models.Warehouse
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}
<div class="right_col" role="main">
    <div class="container" id="warehouse">

        <form method="post" action="#" id="myform">
            @Html.HiddenFor(Model => Model.wh_Id, new { Value = @ViewBag.wh_Id })
            @Html.HiddenFor(Model => Model.con_id, new { Value = @ViewBag.con_id })
           
       
            <div class="row">
                <div class="form-title col-xs-12 col-md-10">
                    Warehouse
                </div>
                <div class="top-bar col-xs-12 col-md-2">
                    <button type="button" class="btn btn-primary pull-right invite" id="add-wh"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Warehouse </button>
                    @*<div class="icons pull-right">
            <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
            <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
            <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
            <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
        </div>*@
                </div>
            </div>
            @*<h1 class="pull-left">Warehouse</h1>*@
            <div class="row blocks">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Estimate</h2>
                        <p>Rs&nbsp;10000</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Unbilled Activity</h2>
                        <p>Rs&nbsp;10000</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Open Invoice</h2>
                        <p>Rs&nbsp;10000</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content">
                        <h2>Over Due</h2>
                        <p>Rs&nbsp;10000</p>
                    </div>
                </div>
            </div>
            <div class="row" id="wh">

                @{Html.RenderAction("WarehouseDetails", "Warehouse");}
            </div>
            <div class="row" id="wh-information">
                <div class="col-md-12 form-title">Warehouse Information</div>
                <div class="col-md-6">
                    <div class="row">
                        @if (ViewBag.Warehouse != null)
                        {
                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.wh_name, new { placeholder = "Warehouse Name", @id = "wh_Name", required = "required", @class = "form-control", Value = ViewBag.wh_name, @maxlength = "30" })
                            </div>
                            <div class="form-group col-md-3">

                                @Html.TextBoxFor(Model => Model.wh_Shortname, new { placeholder = "Short Name", @id = "wh_sname", required = "required", @class = "form-control", Value = ViewBag.wh_Shortname, @maxlength = "3" })
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-4">
                                @Html.TextBoxFor(Model => Model.wh_name, new { placeholder = "Warehouse Name", @id = "wh_Name", required = "required", @class = "form-control", Value = ViewBag.wh_name, @maxlength = "30" })
                            </div>
                            <div class="form-group col-md-3">

                                @Html.TextBoxFor(Model => Model.wh_Shortname, new { placeholder = "Shortname", @id = "wh_sname", required = "required", @class = "form-control", Value = ViewBag.wh_Shortname, @maxlength = "3" })
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default pull-right" id="wh-information-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                            <button type="button" class="btn btn-primary pull-right save" id="mySubmit" onclick="editwh(this.value)" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        </div>
                    </div>


                    <div id="addinfo"><a style="cursor: pointer; color: forestgreen; display: block;" id="additon"><i class="fa fa-plus-circle" aria-hidden="true"></i> Additional Information</a></div>
                </div>

                @*<div class="col-md-3 col-md-push-3">
                        <div class="top-button">
                            <input type="file">
                            <span>W</span>
                        </div>
                        <div>Upload warehouse Logo</div>
                    </div>*@
            </div>
            <div class="row" id="wh-information1">
                <!--------- Tab Section START ------------>
                <div class="col-md-12">
                    <div class="cd-tabs">
                        <nav>
                            <ul class="cd-tabs-navigation">
                                <li><a data-content="address" class="selected" href="#0">Address</a></li>
                                <li><a data-content="contactperson" href="#0">Contact Person</a></li>
                                <li><a data-content="notes" href="#0">Notes</a></li>
                                <li><a data-content="Gallery" href="#0">Gallery</a></li>
                            </ul>
                            <!-- cd-tabs-navigation -->
                        </nav>
                        <ul class="cd-tabs-content">
                            <li data-content="address" class="selected">
                                <div class="row">
                                    <div class="col-md-6 padding-top padding-bottom">
                                        <div class="row col-md-12">
                                            <h2 class="form-title">Billing address<a href="#">map</a></h2>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="bill_street" id="bill_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_city" id="bill_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_state" id="bill_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="bill_postalcode" id="bill_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.DropDownListFor(Model => Model.bill_Country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })
                                                @*<input type="text" class="form-control" name="bill_country" id="bill_country" placeholder="Country">*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding-top padding-bottom shipping">
                                        <div class="row">
                                            <h2 class="form-title col-md-6">Shipping address<a href="#">map</a></h2>
                                            <div class="checkbox col-md-6">
                                                <label>
                                                    <input type="checkbox">
                                                    Same as billing address
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" rows="5" name="ship_street" id="ship_street" placeholder="Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_city" id="ship_city" placeholder="City/Town">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_state" id="ship_state" placeholder="State">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ship_postalcode" id="ship_postalcode" placeholder="Postal Code">
                                            </div>
                                            <div class="form-group col-md-6">
                                                @*<input type="text" class="form-control" name="ship_country" id="ship_country" placeholder="Country">*@
                                                @Html.DropDownListFor(Model => Model.ship_Country, (SelectList)ViewBag.country, "Select country", new { @class = "form-control", required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="btnclose3"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" id="mySubmit1" name="command" value="saveaddress" onclick="editwhaddress(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Address</button>
                                    </div>
                                </div>
                            </li>

                            <li data-content="contactperson" class="contactperson">
                                <div class="row top-bar">
                                    <div class="col-md-12">
                                        <h1 class="pull-left">Contact Person</h1>
                                        @*<button type="button" class="btn btn-primary pull-right invite" id="add-wh"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add warehouse </button>*@
                                        <div class="icons pull-right">
                                            <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
                                            <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
                                            <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                                            <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="Contact_PersonFname" id="Contact_PersonFname" placeholder="First Name">
                                            </div>
                                            <div class="form-group col-md-6">

                                                <input type="text" class="form-control" name="Mobile_No" placeholder="Last Name" id="Mobile_No">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="Phone" placeholder="Mobile" id="Phone" maxlength="12">&nbsp;<span id="errmsg" style="color:red"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="email" class="form-control" name="EmailId" id="EmailId" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="form-group col-md-6">
                                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                <input type="text" class="form-control selected-position" name="Job_position" id="Job_position" placeholder="Job position">
                                                <div class="display-positions">
                                                    <div class="positions1 position"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Job Position</span><i class="fa fa-times" aria-hidden="true"></i></div>
                                                    @if (ViewBag.jobpositions != null)
                                                    {
                                                        foreach (var item in ViewBag.jobpositions)
                                                        { <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true" onclick="deletejp(@item.jp_id)"></i>@item.job_position</div> }
                                                    }
                                                    @*<div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>One</div>
                                                        <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Two</div>
                                                        <div class="positions1"><i class="fa fa-trash-o pull-right" aria-hidden="true"></i>Three</div>*@
                                                </div>
                                                <div class="row add-position">
                                                    <div class="row">
                                                        <input type="text" class="form-control" placeholder="Enter Position" id="whjp" name="whjp">
                                                        <button type="button" class="btn btn-primary btn-sm add-button" onclick="Addjp(this.value)" value="savejp" id="savejp"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
                                                        <button type="button" class="btn btn-primary btn-sm close-button"> close </button>
                                                    </div>
                                                    <div class="row positions"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*contact person image start*@
                                    <div class="col-md-3 col-md-push-3">
                                        <input type="file" name="file" id="fileupload1" accept=".gif, .jpeg, .png" style="display:none" onchange="upload1()">
                                        <img id="contactpic" onclick="javascript: document.getElementById('fileupload1').click();" src="~/images/user.png" style="border-radius: 50%;width: 150px;height: 150px;" />
                                        <div>Upload ContactPerson Image</div>
                                    </div>
                                    @*contact person image end*@


                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="wh-information1-cancel"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" id="contactbutton" value="savecontact" onclick="UpdateContact(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Contact</button>
                                    </div>
                                </div>
                                @*--------------------------------contactinfo table-----------------------------------------------*@
                                <div class="vamsi">
                                    @{Html.RenderAction("WarehouseContact", "Warehouse");}
                                </div>
                                
                            </li>

                            <li data-content="notes">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                @*<textarea class="form-control" rows="5" id="comment" placeholder="Notes"></textarea>*@
                                                <textarea class="form-control" rows="5" placeholder="Notes" id="Note" name="Note"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="btnclosenote"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" value="Save Note" id="notebutton" onclick="updatewhnote(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Notes</button>
                                    </div>
                                </div>
                            </li>
                            <li data-content="Gallery">


                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="row">

                                            <div class="col-md-3 ">
                                                <input type="file" name="file" id="galfileupload1" accept=".gif, .jpeg, .png" style="display:none" onchange="galupload1()">
                                                <img id="galpic1" onclick="javascript: document.getElementById('galfileupload1').click();" src="/images/user.png" style="width: 150px;height: 150px;">

                                            </div>
                                            <div class="col-md-3 ">
                                                <input type="file" name="file" id="galfileupload2" accept=".gif, .jpeg, .png" style="display:none" onchange="galupload2()">
                                                <img id="galpic2" onclick="javascript: document.getElementById('galfileupload2').click();" src="~/images/user.png" style="width: 150px;height: 150px;">

                                            </div>
                                            <div class="col-md-3 ">
                                                <input type="file" name="file" id="galfileupload3" accept=".gif, .jpeg, .png" style="display:none" onchange="galupload3()">
                                                <img id="galpic3" onclick="javascript: document.getElementById('galfileupload3').click();" src="~/images/user.png" style="width: 150px;height: 150px;">

                                            </div><div class="col-md-3 ">
                                                <input type="file" name="file" id="galfileupload4" accept=".gif, .jpeg, .png" style="display:none" onchange="galupload4()">
                                                <img id="galpic4" onclick="javascript: document.getElementById('galfileupload4').click();" src="~/images/user.png" style="width: 150px;height: 150px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default pull-right" id="btnclosegallery"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                                        <button type="button" class="btn btn-primary pull-right" value="Save Images" id="gallerybutton" onclick="updategallery(this.value)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Gallery</button>
                                    </div>
                                </div>


                            </li>




                        </ul>
                        <!-- cd-tabs-content -->
                    </div>
                    <!-- cd-tabs -->

                </div>

                <!--------- Tab Section END ------------>
            </div>
        </form>

    </div>
</div>


@section scripts{
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script src="~/Scripts/js/Warehouse.js"></script>
    <script src="~/Scripts/validations.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script>

        $("#add-wh").click(function () {
            $("#wh-information").css("display", "block");
            $("#contacttable").css("display", "none");
            $("#whcontacttable").css("display", "none");
            $("#wh-information1").css("display", "none");
            $("#wh-information input, .cd-tabs input, .cd-tabs textarea").val("");
            $('#mySubmit').val("Save").text("Save");
            $('#mySubmit1').val("saveaddress").text("Save Address");
            $('#notebutton').val("Save Note").text("Save Notes");
            $("#bill_Country").val("");
            $("#ship_Country").val("");
            $("#bill_Country").attr("disabled", false);
            $("#ship_Country").attr("disabled", false);
            // $('#contactbutton').val("updatecontact").text("Update Contact");
            // $('#gallerybutton').val("update gallery").text("Update Gallery");
            $("#addinfo").hide();
            $('#mySubmit').show();
            $('#mySubmit1').show();
            $('#contactbutton').show();
            $('#notebutton').show();
            $('#myform input[type=text]').attr("disabled", false);
            $('#myform textarea').attr("disabled", false);
            $('#myform input[type=file]').attr("disabled", false);
            $("#bill_Country").attr("disabled", false);
            $("#ship_Country").attr("disabled", false);
            $("#wh-information1-cancel").show();
            $("#btnclose3").show();
            $("#btnclosegallery").show();
            $("#btnclosenote").show();
            $("#wh-information-cancel").show();
            $("#EmailId").attr("disabled", false);
            $("#galpic1").attr("src","/images/user.png");
            $("#galpic2").attr("src","/images/user.png");
            $("#galpic3").attr("src","/images/user.png");
            $("#galpic4").attr("src","/images/user.png");
            // $('#mySubmit').val("Save").text("Save");
        });
        //$("addinfo").click(function () {
        //    $("#wh-information1").css("display", "block");
        //});
        $("#wh-information-cancel").click(function () {
            $("#wh-information input").val("");
            // $("#wh-information1 input, .cd-tabs input, .cd-tabs textarea").val("");
            $("#wh-information").css("display", "none");
            $("#wh-information1").css("display", "none");
            var url = 'Warehouse/WarehouseDetails';
            $('#whdetails').empty().load(url, function () { Pagination(); });
        });
        $("#wh-information1-cancel").click(function () {
            //$("#wh-information input").val("");
            // $("#wh-information1 input, .cd-tabs input, .cd-tabs textarea").val("");
            // $("#wh-information").css("display", "block");
            $("#wh-information1").css("display", "none");
            var url = 'Warehouse/WarehouseDetails';
            $('#whdetails').empty().load(url, function () { Pagination(); });
        });

        //$("#wh-information1-cancel").click(function () {
        //    $("#wh-information1").css("display", "none");
        //    $("#wh-information1 input").val("");
        //});
        $("#btnclose3").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
            var url = 'Warehouse/WarehouseDetails';
            $('#whdetails').empty().load(url, function () { Pagination(); });
        });
        $("#btnclosegallery").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
            var url = 'Warehouse/WarehouseDetails';
            $('#whdetails').empty().load(url, function () { Pagination(); });
        });
        $("#btnclosenote").click(function () {
            $("#wh-information1").css("display", "none");
            $("#wh-information1 input").val("");
            var url = 'Warehouse/WarehouseDetails';
            $('#whdetails').empty().load(url, function () { Pagination(); });
        });
        //$("#save-reset").click(function () {
        //    $(".contactperson input").val("");
        //});
        $("#Phone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Enter Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#list-view").click(function () {
            $("#contactdiv").css("display", "block");
            $("#whcontacttable").css("display", "none");
            //location.reload();
        });
        $("#grid-view").click(function () {
            
            $("#whcontacttable").css("display", "block");
            $("#contactdiv").css("display", "none");
            //location.reload();
            
        });
        $("#refresh").click(function (e) {
            location.reload();
        });
    </script>
    <script>
        var bc = {};
        $("select[name='bill_Country'] > option").each(function () {
            if (bc[this.text]) {
                $(this).remove();
            } else {
                bc[this.text] = this.value;
            }
        });

        var sc = {};
        $("select[name='ship_Country'] > option").each(function () {
            if (sc[this.text]) {
                $(this).remove();
            } else {
                sc[this.text] = this.value;
            }
        });

    </script>
    <script>

        $("input[type='checkbox']").change(function () {
            if ($("input[type='checkbox']").is(':checked')) {
                $("[id='ship_street']").val($("[id='bill_street']").val());
                $("[id='ship_city']").val($("[id='bill_city']").val());
                $("[id='ship_state']").val($("[id='bill_state']").val());
                $("[id='ship_postalcode']").val($("[id='bill_postalcode']").val());
                $("[id='ship_Country']").val($("[id='bill_Country']").val());
            }
            else {
                $("[id='ship_street']").val("");
                $("[id='ship_city']").val("");
                $("[id='ship_state']").val("");
                $("[id='ship_postalcode']").val("");
                $("[id='ship_Country']").val("");
            }
        });
    </script>
    <script>
        $(document).ready(function (e) {
           Pagination();

            $(".top-button").each(function () {
                var colors = ["#f4511e", "#7e57c2", "#455a64", "#512da8", "#c2185b", "#5c6bc0", "#0288d1", "#f4511e", "#ef6c00", "#0097a7", "#5c6bc0", "#5d4037"];
                var len = colors.length;
                var rand = Math.floor(Math.random() * len);
                $(this).css("background", colors[rand]);
            });

            $("#wh-information").css("display", "none");

            $(".cd-tabs").css("display", "none");

            $("#additon").click(function () {
                $(".cd-tabs").css("display", "block");
                $("#wh-information1").css("display", "block");
            });
            //$("#contactdiv").css("display", "none");
            //$("#whcontacttable").css("display", "none");

        });



        function Pagination() {
            $('#whtable').after('<div id="nav"></div>');
            var rowsShown = 3;
            var rowsTotal = $('#whtable tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a class="btn btn-success" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#whtable tbody tr').hide();
            $('#whtable tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#whtable tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                        css('display', 'table-row').animate({ opacity: 1 }, 300);
            });

        }
    </script>
    <script>
        $("#add").click(function (e) {
            var len = $(".contactperson #clone-content").length;
            if (len < 2) {
                var v = $("li.contactperson > div.row:first-of-type > div:last-of-type");
                $("#clone-content").clone().appendTo(v);
            }
        });
    </script>
    <script>
        $(".display-positions .position > i.fa-times").click(function () {
            $(this).parents(".display-positions").css("display", "none");
            $(this).parents(".display-positions").next(".add-position").css("display", "none");
        });
        function textval() {
            $(".display-positions .positions1").click(function () {
                var c = $(this).text();
                $("input.selected-position").val(c);
                $(".display-positions").css("display", "none");
            });
        }

        $(".positions1 > i").click(function () {
            $(this).parent(".positions1").remove();
        });

        $(".selected-position").click(function () {
            $(".display-positions").css("display", "block");
            return textval();
        });

        $(".display-positions .position").click(function () {
            $(".add-position").css("display", "block");

            $(".add-position .add-button").click(function () {
                var v = $(".add-position input[type='text']").val();
                var value = $("<div class='positions1'>" + "<i class='fa fa-trash-o pull-right' aria-hidden='true'></i>" + v + "</div>");
                $(".form-group .display-positions").append(value);
                $(".positions1 > i").click(function () {
                    $(this).parent(".positions1").remove();
                });
                return textval();
            });

            $(".close-button").click(function () {
                $(this).parents(".add-position").css("display", "none");
            });

        });
    </script>
    <script>
        function editFunction(array) {
            $("#contactdiv").css("visibility", "visibility");
            $("#whcontacttable").css("visibility", "hidden");
            $('#wh-information').css('display', 'block');
            $("#contacttable").css("display", "block");
            $(".cd-tabs").css("display", "block");
            $('#wh_Id').val(array.wh_Id);
            $('#wh_Name').val(array.wh_name);
            $('#wh_sname').val(array.wh_Shortname);
            $('#bill_street').val(array.bill_Street);
            $('#bill_city').val(array.bill_City);
            $('#bill_state').val(array.bill_State);
            $('#bill_postalcode').val(array.bill_Postalcode);
            $('#bill_Country').val(array.bill_Country);
            $('#ship_street').val(array.ship_Street);
            $('#ship_city').val(array.ship_City);
            $('#ship_state').val(array.ship_State);
            $('#ship_postalcode').val(array.ship_Postalcode);
            $('#ship_Country').val(array.ship_Country);
            //$('#galpic1').attr('src', array.galimage1);
            //$('#galpic2').attr('src', array.galimage2);
            //$('#galpic3').attr('src', array.galimage3);
            //$('#galpic4').attr('src', array.galimage4);
            if (array.galimage1 != "/images/user.png" && array.galimage1 != null && array.galimage1 != "") {
                $('#galpic1').attr('src',  array.galimage1);
            } else
                $('#galpic1').attr('src', "/images/user.png");
            if (array.galimage2 != "/images/user.png" && array.galimage2 != null && array.galimage2 != "") {
                $('#galpic2').attr('src',  array.galimage2);
            } else
                $('#galpic2').attr('src', "/images/user.png");
            if (array.galimage3 != "/images/user.png" && array.galimage3 != null && array.galimage3 != "") {
                $('#galpic3').attr('src',  array.galimage3);
            } else
                $('#galpic3').attr('src', "/images/user.png");
            if (array.galimage4 != "/images/user.png" && array.galimage4 != null && array.galimage4 != "") {
                $('#galpic4').attr('src',  array.galimage4);
            } else
                $('#galpic4').attr('src', "/images/user.png");
            $('#Contact_PersonFname').val(array.conperson);
            $('#Phone').val(array.phone);
            $('#Mobile_No').val(array.Mobile);
            $('#EmailId').val(array.Email);
            $('#Job_position').val(array.Job_position);
            $('#Note').val(array.Note);
        }
        function getcondtls(array1) {
            $('#con_id').val(array.wh_Id);
            $('#Contact_PersonFname').val(array1.contact_person);
            $('#Phone').val(array1.phone);
            $('#Mobile_No').val(array1.mobile);
            $('#EmailId').val(array1.email);
            $('#Job_position').val(array1.job_position);
        }

        //Get Particular warehouse Record
        function getEditDetails(id) {
            //alert(id);
            $("#contactdiv").css("visibility", "visibility");
            $("#whcontacttable").css("visibility", "hidden");
            $('#wh-information').css('display', 'block');
            $("#contacttable").css("display", "block");
            $(".cd-tabs").css("display", "block");
            $('#mySubmit').show();
            $('#mySubmit1').show();
            $('#contactbutton').show();
            $('#notebutton').show();
            $('#myform input[type=text]').attr("disabled", false);
            $('#myform textarea').attr("disabled", false);
            $('#myform input[type=file]').attr("disabled", false);
            $("#bill_Country").attr("disabled", false);
            $("#ship_Country").attr("disabled", false);
            $("#wh-information1-cancel").show();
            $("#btnclose3").show();
            $("#btnclosegallery").show();
            $("#btnclosenote").show();
            $("#gallerybutton").show();
            $("#wh-information-cancel").show();
            $("#EmailId").attr("disabled", false);
            $('#mySubmit').val("update").text("Update Warehouse");
            $('#mySubmit1').val("updateaddress").text("Update Address");
            $('#notebutton').val("updatenote").text("Update Notes");
            // $('#contactbutton').val("updatecontact").text("Update Contact");
            $('#contactbutton').val("savecontact").text("Save Contact");
            //$('#contactbutton').val("savecontact").text("Save Contact");
            $('#gallerybutton').val("update gallery").text("Update Gallery");
            //$('#userprofilepic').html($('#wh_name').val().substring(0,1));
            //$('#btnedit').click(function () {
            //    $('#warehouse').css('display', 'none');
            //});
            $("#contactpic").attr("src", "/images/user.png");
            $("#Contact_PersonFname").val("");
            $("#Mobile_No").val("");
            $("#Phone").val("");
            $("#EmailId").val("");
            $("#Contact_PersonFname").val("");
            $("#Job_position").val("");
            $("#wh-information1").css("display", "block");
            $.ajax({
                url: '/Warehouse/getallwhdetails?wh_Id=' + id,
                type: 'POST',
                data: JSON.stringify({ wh_Id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "unique") {
                        alert("Success");
                    }
                    else {
                        var array = JSON.parse(data);
                        $('#wh_Id').val(array.wh_Id);
                        $('#wh_Name').val(array.wh_name);
                        $('#wh_sname').val(array.wh_Shortname);
                        $('#bill_street').val(array.bill_Street);
                        $('#bill_city').val(array.bill_City);
                        $('#bill_state').val(array.bill_State);
                        $('#bill_postalcode').val(array.bill_Postalcode);
                        $('#bill_Country').val(array.bill_Country);
                        $('#ship_street').val(array.ship_Street);
                        $('#ship_city').val(array.ship_City);
                        $('#ship_state').val(array.ship_State);
                        $('#ship_postalcode').val(array.ship_Postalcode);
                        $('#ship_Country').val(array.ship_Country);
                        $('#Note').val(array.Note);
                        if (array.galimage1 != "/images/user.png" && array.galimage1 != null && array.galimage1 != "") {
                            $("#galpic1").attr("src", array.galimage1);
                            //$("#companypic").attr("src", "data:image/;base64," + response);
                        } 
                        else
                        {
                            $("#galpic1").attr("src", "/images/user.png");
                        }
                        if (array.galimage2 != "/images/user.png" && array.galimage2 != null && array.galimage2 != "") {
                            $('#galpic2').attr('src', array.galimage2);
                        }
                        else
                        {
                            $("#galpic2").attr("src", "/images/user.png");
                        }
                        if (array.galimage3 != "/images/user.png" && array.galimage3 != null && array.galimage3 != "") {
                            $('#galpic3').attr('src',  array.galimage3);
                        }
                        else
                        {
                            $("#galpic3").attr("src", "/images/user.png");
                        }
                        if (array.galimage4 != "/images/user.png" && array.galimage4 != null && array.galimage4 != "") {
                            $('#galpic4').attr('src', array.galimage4);
                        }
                        else
                        {
                            $("#galpic4").attr("src", "/images/user.png");
                        }
                        var url = 'Warehouse/WarehouseContact?id=' + array.wh_Id + '';
                        $('#contactdiv').empty().load(url);
                        //editFunction(array);
                        
                       
                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });
        }
        function viewwh(id) {
            //alert(id);
            //$('#mySubmit').val("update").text("Update Warehouse");
            //$('#mySubmit1').val("updateaddress").text("Update Address");
            //$('#notebutton').val("updatenote").text("Update Note");
            // $('#contactbutton').val("updatecontact").text("Update Contact");
            //$('#contactbutton').val("savecontact").text("Save Contact");
            //$('#contactbutton').val("savecontact").text("Save Contact");
            //$('#gallerybutton').val("update gallery").text("Update Gallery");
            //$('#userprofilepic').html($('#wh_name').val().substring(0,1));
            //$('#btnedit').click(function () {
            //    $('#warehouse').css('display', 'none');
            //});
            //$('#whdetails').empty().load(url, function () { Pagination(); });
            //$('#contactdiv').empty().load(url, function () { Pagination(); });
            $("#wh-information1").css("display", "block");
            $.ajax({
                url: '/Warehouse/getallwhdetails?wh_Id=' + id,
                type: 'POST',
                data: JSON.stringify({ wh_Id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "unique") {
                        alert("Success");
                    }
                    else {
                        var array = JSON.parse(data);
                        $('#wh-information').css('display', 'block');
                        $('#wh-information1').css('display', 'block');
                        $('#addinfo').css('display', 'none');
                        $(".cd-tabs").css("display", "block");
                        $('#mySubmit').hide();
                        $('#mySubmit1').hide();
                        $('#contactbutton').hide();
                        $('#notebutton').hide();
                        $('#myform input[type=text]').attr("disabled", true);
                        $('#myform textarea').attr("disabled", true);
                        $('#myform input[type=file]').attr("disabled", true);
                        $("#bill_Country").attr("disabled", true);
                        $("#ship_Country").attr("disabled", true);
                       // $("#wh-information1-cancel").hide();
                       // $("#btnclose3").hide();
                        //$("#btnclosegallery").hide();
                      //  $("#btnclosenote").hide();
                        $("#gallerybutton").hide();
                       // $("#wh-information-cancel").hide();
                        $("#EmailId").attr("disabled", true);
                        $("#Contact_PersonFname").val("");
                        $("#Mobile_No").val("");
                        $("#Phone").val("");
                        $("#EmailId").val("");
                        $("#Job_position").val("");
                        $("#contactpic").attr("src", "/images/user.png");

                        //if (array.galimage1 != "/images/user.png" && array.galimage1 != null && array.galimage1 != "") {
                        //    $('#galpic1').attr('src',  array.galimage1);
                        //} else
                        //    $('#galpic1').attr('src', "/images/user.png");
                        //if (array.galimage2 != "/images/user.png" && array.galimage2 != null && array.galimage2 != "") {
                        //    $('#galpic2').attr('src',  array.galimage2);
                        //} else
                        //    $('#galpic2').attr('src', "/images/user.png");
                        //if (array.galimage3 != "/images/user.png" && array.galimage3 != null && array.galimage3 != "") {
                        //    $('#galpic3').attr('src',  array.galimage3);
                        //} else
                        //    $('#galpic3').attr('src', "/images/user.png");
                        //if (array.galimage4 != "/images/user.png" && array.galimage4 != null && array.galimage4 != "") {
                        //    $('#galpic4').attr('src',  array.galimage4);
                        //} else
                        //    $('#galpic4').attr('src', "/images/user.png");
                        var url = 'Warehouse/WarehouseContact?id=' + array.wh_Id + '';
                        $('#contactdiv').empty().load(url);
                        editFunction(array);
                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });
        }
        //function getEditContactDetails(id)
        //{
        //    alert(id);
        //    $('#contactbutton').val("updatecontact").text("Update Contact");
        //    $.ajax({
        //        url: '/Warehouse/getwhcondtls?wh_Id=' + id,
        //        type: 'POST',
        //        data: JSON.stringify({ wh_Id: id }),
        //        dataType: 'json',
        //        contentType: 'application/json',
        //        success: function (data) {
        //            if (data == "unique") {
        //                alert("Success");
        //            }
        //            else {
        //                var array = JSON.parse(data);
        //                getcondtls(array1);
        //            }
        //        },
        //        error: function (data)
        //        { alert("Failed!!!"); }
        //    });
        //}

        //delete warehouse
        function deletewhdtls(id) {
            //alert(id);
            if (confirm("Are you sure you want to delete this Record?")) {
                $.ajax({
                    url: '/Warehouse/deletewarehouse?wh_Id=' + id,
                    type: 'POST',
                    data: JSON.stringify({ wh_Id: id }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        //if (confirm("Are you sure you want to delete this Record?")) {
                        if (data == "success") {

                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Warehouse Deleted successfully");
                            //$("#whtable").load(" #whtable");
                            //}
                            //return false;
                        }

                        else {
                            alert("Warehouse not Deleted");

                        }
                        //}
                        //return false;
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            return false;

        }
        function deletejp(id){
            if (confirm("Are you sure you want to delete this Position?")) {
                $.ajax({
                    url: '/Warehouse/deletejobposition?jp_id=' + id,
                    type: 'POST',
                    data: JSON.stringify({ jp_id: id }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        //if (confirm("Are you sure you want to delete this Record?")) {
                        if (data == "success") {

                            //var url = 'Warehouse/WarehouseDetails';
                            //$('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("position Deleted successfully");
                            //$("#whtable").load(" #whtable");
                            //}
                            //return false;
                        }

                        else {
                            alert("not Deleted");

                        }
                        //}
                        //return false;
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            return false;
        }
        function deletecontact(id) {
            //alert(id);
            if (confirm("Are you sure you want to delete this Record?")) {
                $.ajax({
                    url: '/Warehouse/deletecontactperson?con_id=' + id,
                    type: 'POST',
                    data: JSON.stringify({ con_id: id }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            var url = 'Warehouse/WarehouseContact';
                            $('#contactdiv').empty().load(url);
                            alert("Contact Deleted successfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("Contact not Deleted");

                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            return false;
        }
        function Addjp(clickedvalue) {
            job_position = $('#whjp').val();
            if (clickedvalue == 'savejp') {
                $.ajax({
                    url: '/Warehouse/savewhjp?job_position=' + job_position,
                    type: 'POST',
                    data: JSON.stringify({ job_position }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            alert("Job position saved successfully.Please close to select");
                            //$("#whtable").load(" #whtable");
                        }
                        
                        else {
                            alert("Warehouse not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }
        //Particular Warehouse
        function editwh(clickedvalue) {
            // alert(clickedvalue);

            $('#update').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#update').click(function () {
                $('#addinfo').css('display', 'none');
            });
            wh_Id = $('#wh_Id').val();
            wh_Name = $('#wh_Name').val();
            wh_sname = $('#wh_sname').val();
            if ((wh_Name == "") || (wh_sname == "")) {
                if (wh_Name == "")
                    alert("Please Enter Warehouse Name");
                else
                    alert("Please Enter Shortname");
            }
            else {

                if (clickedvalue == 'update') {
                    $.ajax({
                        url: '/Warehouse/updatewarehouse?wh_Id=' + wh_Id + '&wh_Name=' + wh_Name + '& wh_sname=' + wh_sname,
                        type: 'POST',
                        data: JSON.stringify({ wh_Id, wh_Name, wh_sname }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                //$('#savebutton').hide();
                                var url = 'Warehouse/WarehouseDetails';
                                $('#whdetails').empty().load(url, function () { Pagination(); });
                                alert("Warehouse Updated successfully");
                                //$("#whtable").load(" #whtable");
                            }
                            else if (data == "Y") {
                                alert("Warehouse already Registered");
                                $('#wh_Name').focus();
                            }
                            else if (data == "SNAME") {
                                alert("Shortname is already Registered");
                                $('#wh_sname').focus();
                            }
                            else {
                                alert("Warehouse not updated");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
                if (clickedvalue == 'Save') {

                    $.ajax({
                        url: '/Warehouse/insertwhdtls?wh_Name=' + wh_Name + '& wh_sname=' + wh_sname,
                        type: 'POST',
                        data: JSON.stringify({ wh_Name, wh_sname }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                //$("#whtable").load(" #whtable");
                                //$('#savebutton').hide();
                                var url = 'Warehouse/WarehouseDetails';
                                $('#whdetails').empty().load(url, function () { Pagination(); });
                                alert("Warehouse saved successfully");
                                $("#addinfo").show();
                            }
                            else if (data == "Y") {
                                alert("Warehouse already Registered");
                                $('#wh_Name').focus();
                            }
                            else if (data == "SNAME") {
                                alert("Shortname is already Registered");
                                $('#wh_sname').focus();
                            }

                            else {
                                alert("Warehouse not saved");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
            }
        }
        //Particular Warehouse Address
        function editwhaddress(clickedvalue) {
            //alert(clickedvalue);
            $('#updateaddress').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updateaddress').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_Id: $('#wh_Id').val(),
                bill_street: $('#bill_street').val(),
                bill_city: $('#bill_city').val(),
                bill_state: $('#bill_state').val(),
                bill_postalcode: $('#bill_postalcode').val(),
                bill_country: $('#bill_Country').val(),
                ship_street: $('#ship_street').val(),
                ship_city: $('#ship_city').val(),
                ship_state: $('#ship_state').val(),
                ship_postalcode: $('#ship_postalcode').val(),
                ship_country: $('#ship_Country').val(),
            }

            if (clickedvalue == 'updateaddress') {
                $.ajax({
                    url: '/Warehouse/updatewhaddress',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Updated successfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("Adress  not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'saveaddress') {

                $.ajax({
                    url: '/Warehouse/insertwhaddress',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Address Saved successfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("Adress  not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }

        //warehouse Note
        function updatewhnote(clickedvalue) {
            //alert(clickedvalue);
            $('#updatenote').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updatenote').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_id: $('#wh_Id').val(),
                Note: $('#Note').val(),
            }
            var wa = {
                wh_id: $('#someName').val(),
                Note: $('#Note').val(),
            }
            if (clickedvalue == 'updatenote') {
                $.ajax({
                    url: '/Warehouse/updatewhnotes',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Notes Updated successfully");
                            // $("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'Save Note') {
                $.ajax({
                    url: '/Warehouse/insertwhnotes',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Notes Saved successfully");
                            //$("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
        }
        //Contact Person
        function UpdateContact(clickedvalue) {
            //alert(clickedvalue);
            $('#updatecontact').click(function () {
                $('#warehouse').css('display', 'none');
            });
            $('#updatecontact').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_id: $('#wh_Id').val(),
                conperson: $('#Contact_PersonFname').val(),
                Phone: $('#Phone').val(),
                Mobile: $('#Mobile_No').val(),
                Email: $('#EmailId').val(),
                Job_position: $('#Job_position').val(),
                con_id: $('#con_id').val(),
                Image: $('#contactpic').attr('src').replace('data:Image/;base64,', ''),
            }
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;

            var emailaddressVal = $("#EmailId").val();
            if (emailaddressVal == '') {
                alert("Please Enter Email Address");
                $("#EmailId").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#EmailId").focus();
            }
            else {
                if (clickedvalue == 'savecontact') {
                    $.ajax({
                        url: '/Warehouse/insertwhcontact',
                        type: 'POST',
                        data: JSON.stringify({ warehouse: warehouse }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                //$('#savebutton').hide();
                                $('#con_id').val(data.ID);
                                var url = 'Warehouse/WarehouseContact?id=' + warehouse.wh_id + '';
                                //$('#contactdiv').empty().load(url);
                                 
                                //var url = 'Warehouse/WarehouseDetails';
                                //$('#WarehouseDetails').load(url);
                               // $('#contactdiv').empty().load(url);
                                alert("Contact Details Saved successfully");
                                $("[id='Contact_PersonFname']").val("");
                                $("[id='Phone']").val("");
                                $("[id='Mobile_No']").val("");
                                $("[id='EmailId']").val("");
                                $("[id='Job_position']").val("");
                                $("#contactpic").attr("src", "/images/user.png");

                                // $("#whtable").load(" #whtable");
                            }
                            else {
                                alert("not updated");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
                if (clickedvalue == 'updatecontact') {
                    $.ajax({
                        url: '/Warehouse/updatewhcontact',
                        type: 'POST',
                        data: JSON.stringify({ warehouse: warehouse }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                //$('#savebutton').hide();
                                var url = 'Warehouse/WarehouseContact?id=' + warehouse.wh_id + '';
                                $('#contactdiv').empty().load(url);
                                alert("Contact Details updated successfully");
                                $("[id='Contact_PersonFname']").val("");
                                $("[id='Phone']").val("");
                                $("[id='Mobile_No']").val("");
                                $("[id='EmailId']").val("");
                                $("[id='Job_position']").val("");
                                $("#contactpic").attr("src", "/images/user.png");
                                //$("#whtable").load(" #whtable");
                            }
                            else {
                                alert("not updated");
                            }
                        },
                        error: function (data)
                        { alert("Failed!!!"); }
                    });
                }
            }
        }
        //update gallery start
        function updategallery(clickedvalue) {
            //alert(clickedvalue);
            //$('#gallerybutton').click(function () {
            //    $('#warehouse').css('display', 'none');
            //});
            $('#gallerybutton').click(function () {
                $('#addinfo').css('display', 'none');
            });
            var warehouse = {
                wh_id: $('#wh_Id').val(),
                galimage1: $('#galpic1').attr('src').replace('data:galimage1/;base64,', ''),
                galimage2: $('#galpic2').attr('src').replace('data:galimage2/;base64,', ''),
                galimage3: $('#galpic3').attr('src').replace('data:galimage3/;base64,', ''),
                galimage4: $('#galpic4').attr('src').replace('data:galimage4/;base64,', ''),


            }
            if (clickedvalue == 'Save Images') {
                $.ajax({
                    url: '/Warehouse/updategallery',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                            $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("Gallery Saved successfully");
                            $("#galpic1").attr("src", "/images/user.png");
                            $("#galpic2").attr("src", "/images/user.png");
                            $("#galpic3").attr("src", "/images/user.png");
                            $("#galpic4").attr("src", "/images/user.png");
                            // $("#whtable").load(" #whtable");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }
            if (clickedvalue == 'update gallery') {
                $.ajax({
                    url: '/Warehouse/savegallery',
                    type: 'POST',
                    data: JSON.stringify({ warehouse: warehouse }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == "success") {
                            //$('#savebutton').hide();
                            var url = 'Warehouse/WarehouseDetails';
                          //  $('#whdetails').empty().load(url, function () { Pagination(); });
                            alert("gallery updated successfully");
                            $("#galpic1").attr("src", "/images/user.png");
                            $("#galpic2").attr("src", "/images/user.png");
                            $("#galpic3").attr("src", "/images/user.png");
                            $("#galpic4").attr("src", "/images/user.png");
                        }
                        else {
                            alert("not updated");
                        }
                    },
                    error: function (data)
                    { alert("Failed!!!"); }
                });
            }

        }
        //update gallery end
        function getEditContactDetails(id) {

            $('#contactbutton').val("updatecontact").text("Update Contact");
            $.ajax({
                url: '/Warehouse/getwhcondtls?con_id=' + id,
                type: 'POST',
                data: JSON.stringify({ con_id: id }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data == "unique") {
                        alert("success");
                    }
                    else {
                        var array = JSON.parse(data);
                        $('#con_id').val(array.con_id);
                        $('#Contact_PersonFname').val(array.conperson);
                        $('#Phone').val(array.phone);
                        $('#Mobile_No').val(array.Mobile);
                        $('#EmailId').val(array.Email);
                        $('#Job_position').val(array.Job_position);
                        if (array.Image != "/images/user.png" && array.Image != null && array.Image != "") {
                            $('#contactpic').attr('src', 'data:Image/;base64,' + array.Image);
                        } else
                            $('#contactpic').attr('src', array.Image);
                    }
                },
                error: function (data)
                { alert("Failed!!!"); }
            });

        }
        function upload1() {
            var ext = $('#fileupload1').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var data = new FormData();
                var files = $("#fileupload1").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Warehouse/updatecontactpersonimage',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#contactpic").attr("src", "data:Image/;base64," + response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }
        function galupload1() {
            var ext = $('#galfileupload1').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var data = new FormData();
                var files = $("#galfileupload1").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Warehouse/updategalimage1',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#galpic1").attr("src", "data:Image/;base64," + response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }
        function galupload2() {
            var ext = $('#galfileupload2').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var data = new FormData();
                var files = $("#galfileupload2").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Warehouse/updategalimage2',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#galpic2").attr("src", "data:Image/;base64," + response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }
        function galupload3() {
            var ext = $('#galfileupload3').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var data = new FormData();
                var files = $("#galfileupload3").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Warehouse/updategalimage3',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#galpic3").attr("src", "data:Image/;base64," + response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }
        function galupload4() {
            var ext = $('#galfileupload4').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('Invalid File Type');
            }
            else {
                var data = new FormData();
                var files = $("#galfileupload4").get(0).files;
                if (files.length > 0) {
                    data.append("helpSectionImages", files[0]);
                }
                $.ajax({
                    url: '/Warehouse/updategalimage4',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#galpic4").attr("src", "data:Image/;base64," + response);
                    },
                    error: function (er) {
                        alert("Failed To Upload Pic!!! Try Again");
                    }
                });
            }
        }
    </script>


}






