@if (ViewBag.records != null)
{
@*<div class="row">*@
    <div class="table-responsive" id="contactdiv">
        <table class="table table-borderedtable-striped bulk_action" id="contacttable">
            <thead class="thead-inverse">
                <tr>
                    <th>con_id </th>
                    <th>First Name</th>

                    <th>Mobile Number</th>
                    <th>EMail</th>
                    <th>Job position</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.records)
                {
                    <tr>
                        @*<th scope="row">1</th>*@
                        <td>@item.con_id</td>
                        <td>@item.conperson</td>

                        <td>@item.Mobile</td>
                        <td>@item.Email</td>
                        <td>@item.Job_position</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu">
                                    <li> <a href="#" onclick="getEditContactDetails(@item.con_id.TrimEnd())"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Warehouse</a> </li>
                                    <li> <a href="#" onclick="deletecontact(@item.con_id.TrimEnd())"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Contact</a> </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
@*</div>*@
}

