@model Inventory.Models.UserMaster
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/MainMaster.cshtml";
    Layout = null;
}

<html>
<head>
</head>
<body>
    <h2 align="center">Current User Details</h2>
    <br/>
    <table align="center" style="border-style:double;">
        <tr>
            <td>Full Name</td>
            <td>@Model.First_Name @Model.Last_Name</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.EmailId</td>
        </tr>
        <tr>
            <td>Account Creation Date</td>
            <td>@Model.Created_Date</td>
        </tr>
        <tr>
            <td>User Site</td>
            <td>@Model.User_Site</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td>@Model.CompanyName</td>
        </tr>
        <tr>
            <td>Contact Number</td>
            <td>@Model.Phone</td>
        </tr>
    </table>

    <br/>

    <text>Your Login Access is about to expire in @ViewBag.accessexpiry Days</text>
</body>
</html>